.pgprogramagent .slide .centerblock {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
     -moz-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 0;
}
.pgprogramagent .slide .centerblock .mainpage {
  width: 620px;
  text-align: left;
  margin: 0;
}
.pgprogramagent .slide-zarabotok {
  position: relative;
  width: auto;
  height: 50%;
  background-image: url('/img/partnersprogram_01.png');
  background-repeat: no-repeat;
  background-position: 109% 17px;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  max-height: 430px;
}
.pgprogramagent .slide-zarabotok .zarabotok-title {
  width: 61%;
}
.pgprogramagent .slide-zarabotok .zarabotok-title h2 {
  font: 48px/66px 'Open Sans';
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.pgprogramagent .slide-zarabotok .zarabotok-text {
  width: 42%;
}
.pgprogramagent .slide-zarabotok .zarabotok-text p {
  font-weight: normal;
}
.pgprogramagent .slide-zarabotok p.bullet {
  margin-bottom: 27px;
  line-height: 25px;
}
.pgprogramagent .slide-zarabotok a {
  display: inline-block;
  margin-bottom: 20px;
}
.pgprogramagent .slide-zarabotok.zarabotok1 {
  width: 900px;
  margin-left: 4%;
  margin-top: 5%;
  /* margin-top: 70px; */
}
.pgprogramagent .slide-zarabotok.zarabotok1 p.bullet {
  margin-bottom: 40px;
}
/* второй слайд */
.pgprogramagent .slide-zarabotok.zarabotok2 {
  background-image: url('/img/partnersprogram_02.png');
  background-position: 112% 12px;
  width: 900px;
  margin-left: 6%;
}
.pgprogramagent .slide-zarabotok.zarabotok2 .zarabotok-title p {
  width: 75%;
}
.pgprogramagent .slide-zarabotok.internet-slide2 {
  width: 1280px;
  padding-left: 9%;
  background-image: url('/img/partners_internet_01.png');
  background-position: 100% 12px;
}
.pgprogramagent .slide-zarabotok.internet-slide2 .zarabotok-title p {
  width: 75%;
}
.pgprogramagent .slide-zarabotok.internet-slide4 {
  background-image: url('/img/partners_internet_03.png');
  background-position: 102% 12px;
}
.pgprogramagent .slide-zarabotok.internet-slide4 .zarabotok-title p {
  width: 75%;
}
/*  слайд "мы поможем вам" */
.pgprogramagent .slide-help {
  background-image: url('/img/partnersprogram_03.png');
  background-repeat: no-repeat;
  -webkit-background-size: 36% 36%;
     -moz-background-size: 36%;
       -o-background-size: 36%;
          background-size: 36%;
  background-position: 100% 100%;
}
.pgprogramagent .slide-help .slide-zarabotok.help {
  background-image: none;
  margin-left: 2%;
}
.pgprogramagent .slide-help .zarabotok-title p {
  width: 90% !important;
}
.pgprogramagent .lastsslide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.pgprogramagent .lastsslide .agent-container {
  width: 900px;
  margin-left: 5%;
  margin-top: 10.5%;
  /* margin-top: 70px; */
}
.pgprogramagent .lastsslide .agent-wrapper {
  width: 67%;
}
.pgprogramagent .lastsslide .agent-wrapper p {
  line-height: 25px;
  letter-spacing: 0.02em;
  font-weight: 600;
  max-width: 577px;
  margin-left: -3px;
  margin-bottom: 53px;
}
.pgprogramagent .lastsslide .agent-wrapper h2 {
  font: 48px/66px 'Open Sans';
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  font-weight: 300;
}
.pgprogramagent .lastsslide .get_partners {
  margin-bottom: 0;
  margin-left: -15px;
}
.pgprogramagent .slide .centerblock_540 {
  margin-top: 0;
}
.pgprogramagent .slide.lastsslide .centerblock_540 {
  padding-top: 0 !important;
}
.pgpartners_internet .swiper-container_pi1 {
  overflow: hidden;
}
.pgpartners_internet .slide .centerblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.pgpartners_internet .slide .centerblock .mainpage {
  width: initial;
  margin-top: 0;
}
.pgpartners_internet .slide .centerblock_540 {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
     -moz-box-align: center !important;
      -ms-flex-align: center !important;
              -ms-grid-row-align: center !important;
          align-items: center !important;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .pgprogramagent .slide .centerblock .mainpage h2 {
    font-size: 2em;
  }
  .pgprogramagent .slide-zarabotok {
    -webkit-background-size: 52% 52%;
       -moz-background-size: 52%;
         -o-background-size: 52%;
            background-size: 52%;
  }
  .pgprogramagent .slide-zarabotok {
    -webkit-background-size: 52% 52%;
       -moz-background-size: 52%;
         -o-background-size: 52%;
            background-size: 52%;
  }
  .pgprogramagent .slide-zarabotok,
  .pgprogramagent .slide-help {
    background-image: none !important;
  }
  .pgprogramagent .lastsslide .agent-wrapper {
    width: 100%;
  }
  .pgprogramagent .lastsslide .agent-wrapper h2 {
    font: 48px/50px 'Open Sans';
    font-weight: 300;
  }
  .pgprogramagent .lastsslide .agent-wrapper p {
    margin-bottom: 40px;
  }
  .pgprogramagent .slide-zarabotok .zarabotok-title,
  .pgprogramagent .slide-zarabotok .zarabotok-title p {
    width: 98% !important;
  }
  .pgprogramagent .slide-zarabotok .zarabotok-text {
    width: 95%;
  }
  .pgprogramagent .slide-zarabotok.internet-slide2 {
    padding: 0;
  }
  .pgpartners_internet .slide-zarabotok {
    background-image: none !important;
  }
  .pgpartners_rules .main__center {
    width: 83% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .pgpartners_rules .main__center div:nth-child(1) {
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .pgpartners_rules .main__center div:nth-child(2) {
    width: auto;
  }
  .pgpartners_rules .main__center ol li {
    padding-left: 8px;
  }
  .pgpartners_rules div a.icon_pdf {
    margin-left: 46px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .pgpartners_net .main__center {
    padding-top: 0px;
  }
  .pgpartners_net .main__center-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: 0 10%;
  }
  .pgpartners_net .main__center-footer .mcft_block {
    width: auto;
  }
  .pgauth .auth {
    width: auto;
    padding: 5%;
  }
  .pgprogram_region .center div:nth-child(2) {
    display: none;
  }
}
.pgpartners_vidy .main__center--block p {
  font-weight: 600;
}
.pgpartners_vidy .main__center--block table td.vidy-description {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.01em;
}
@media (max-width: 480px) {
  .pgprogramagent .slide .centerblock {
    width: 90%;
  }
  .pgprogramagent .slide .centerblock .mainpage h2 {
    font-size: 1.3em;
  }
  .pgprogramagent .lastsslide .agent-wrapper h2 {
    font: 36px/50px 'Open Sans';
    font-weight: 300;
  }
  .pgprogramagent .lastsslide .agent-wrapper p {
    font-size: 14px;
  }
  .pgauth .auth .abody table td input {
    font-size: 14px;
  }
}
/* слайд "мы поможем вам" */
@media (max-width: 425px) {
  .pgprogramagent .slide-zarabotok .zarabotok-title {
    width: 100%;
  }
  .pgprogramagent .zarabotok-title h2 {
    font: 32px/44px 'Open Sans' !important;
    font-weight: 300;
  }
}
@media (max-width: 980px) {
  .pgprogram_agent_rules .main__center {
    width: auto !important;
  }
  .pgprogram_agent_rules .main__center div:nth-child(1) {
    padding-right: 10px;
  }
  .pgprogram_agent_rules .main__center div:nth-child(2) {
    margin: 0 auto 50px auto;
  }
  .pgprogram_agent_rules .main__center div.lastblock a.icon_pdf {
    display: inline-block;
    margin-top: 5px;
    margin-left: 45px;
  }
  .pgprogram_agent_rules .main__center div.lastblock a:first-child {
    margin-left: 4px;
  }
}
@media (min-width: 400px) and (max-width: 980px) {
  .pgprogram_cpa .cpa-img {
    display: none;
  }
  .pgprogram_cpa .slide_05 .main__center-head h2 {
    font: 36px/50px 'Open Sans';
    margin-bottom: 20px;
    font-weight: 300;
  }
  .pgprogram_cpa .slide_05 .main__center-head p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .pgprogram_cpa .slide_05 .main {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* страница интернет-партнер */
@media (max-width: 768px) {
  .pgpartners_reward .swiper-wrapper {
    width: auto !important;
  }
  .pgpartners_reward .main__menu .myslide_nav a {
    margin: 12px 8px;
    white-space: nowrap;
  }
  .pgpartners_reward .slide_01 .center,
  .pgpartners_reward .slide_02 .center,
  .pgpartners_reward .slide_03 .center {
    height: 80%;
    -webkit-background-size: 65% 65%;
       -moz-background-size: 65%;
         -o-background-size: 65%;
            background-size: 65%;
  }
  .pgpartners_reward .slide_01 .center p.bullet,
  .pgpartners_reward .slide_02 .center p.bullet,
  .pgpartners_reward .slide_03 .center p.bullet {
    margin-bottom: 10px;
  }
  .pgpartners_reward .slide_01 .center h2,
  .pgpartners_reward .slide_02 .center h2,
  .pgpartners_reward .slide_03 .center h2 {
    margin-bottom: 15px;
  }
  .pgpartners_reward .slide_01 .center .footer1,
  .pgpartners_reward .slide_02 .center .footer1,
  .pgpartners_reward .slide_03 .center .footer1 {
    bottom: 10%;
    left: 10%;
  }
  .pgpartners_reward .center p.left {
    margin-bottom: 20px !important;
  }
  .pgpartners_vidy .main__center--block {
    margin-top: 70px;
  }
  .pgprogram_cpa .cpa-img {
    display: none;
  }
  .pgprogram_cpa .slide_02 .center div p.cpa-title-description {
    margin-bottom: 35px !important;
  }
}
@media (max-width: 425px) {
  .pgpartners_vidy table br {
    line-height: 19px;
  }
  .pgpartners_vidy .main__center--block table td {
    line-height: 22px;
  }
  .pgpartners_vidy .main__center--block h2 {
    font-size: 42px;
  }
  .pgpartners_vidy table .vidy-img img {
    width: 180px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .pgpartners_reward .slide_01 .center,
  .pgpartners_reward .slide_02 .center,
  .pgpartners_reward .slide_03 .center {
    background-image: none;
  }
  .pgpartners_reward .slide_01 .center .footer1,
  .pgpartners_reward .slide_02 .center .footer1,
  .pgpartners_reward .slide_03 .center .footer1 {
    bottom: 0;
    left: 10%;
  }
  .pgpartners_reward .slide_01 .center p.bullet,
  .pgpartners_reward .slide_02 .center p.bullet,
  .pgpartners_reward .slide_03 .center p.bullet {
    font-size: 15px;
    margin-bottom: 10px !important;
  }
  .pgpartners_reward .center {
    padding-top: 22px;
  }
  .pgpartners_reward .fs_s48,
  .pgpartners_reward h2 {
    font-size: 32px !important;
  }
  .pgpartners_vidy .main__center--block h2 {
    font-size: 32px;
  }
  .pgpartners_vidy .main__center--block table td {
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
  }
  .pgpartners_vidy table .vidy-img {
    padding: 0 !important;
  }
  .pgpartners_vidy table .vidy-img img {
    width: 160px;
    height: auto;
  }
  .pgpartners_vidy table td,
  .pgpartners_vidy table th {
    display: inline-block;
  }
  .pgprogram_cpa .slide_05 .main {
    padding-left: 12px;
    padding-right: 12px;
  }
  .pgprogram_cpa .slide_05 .main__center-text input {
    margin: 25px 0;
  }
}
/* вебинары */
@media (max-width: 375px) {
  .pgwebinars .column_2 .item table td.webinars .webin h3,
  .pgwebinars .column_2 .item table td.webinars .webin.noact h3 {
    font-size: 16px;
  }
  .pgpayments .table_div .row_head .col.colw5 {
    min-width: 127px;
  }
  .pgpayments .table_div .row_head .col.colw4 {
    width: 35%;
  }
}
@media (max-width: 340px) {
  .pgwebinars .column_2 .item table td.webinars .webin h3,
  .pgwebinars .column_2 .item table td.webinars .webin.noact h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 979px) {
  /* payments */
  .pgpayments .table_div {
    margin-top: 10px;
    padding: 0 10px;
  }
  .pgpayments .table_div .row_head .col.colw5 {
    position: absolute;
    top: 3px;
    width: 34%;
  }
  .pgpayments .table_div .row_head {
    height: 60px;
  }
  .pgpayments .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .pgpayments .head__right-wrapr-r01,
  .pgpayments .head__right-wrapr-r02,
  .pgpayments .head__right-wrapr-r03 {
    margin-top: 2px;
  }
  .pgpayments .item.hover,
  .pgpayments .item.hover.ban_watch {
    display: none;
  }
  .pgpayments .main__left .head {
    margin: 0 70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pgpayments .main__left .item.menu {
    margin-bottom: 20px;
  }
  .pgpayments .item.menu strong {
    white-space: nowrap;
  }
  .pgpayments .table_div .row_head .col.colw3 {
    min-width: 65px;
  }
  .pgprogramagent .lastsslide .agent-container {
    width: auto;
    margin-top: 0;
  }
  .pgprogramagent .lastsslide .agent-wrapper {
    width: auto;
    margin-top: 100px;
  }
  .pgprogram_agent_partners .main__center-footer .mcft_block {
    margin: 0;
    padding: 15px;
  }
  .pgprogram_agent_partners .main__center-footer {
    display: block;
  }
  .treelegend {
    width: 100% !important;
  }
  .pgprogram_region .slide_05 .main {
    width: 90%;
  }
  .pgprogram_region .slide_05 .main .description {
    max-width: 500px;
  }
  .pgprogram_agent_reward .main__center--block.row div:nth-child(2) {
    margin-top: 25px;
  }
}
.page-about .a-slide1 .centerblock .mainpage {
  width: 580px;
  margin: 0;
}
.page-about .a-slide1 .centerblock .mainpage p {
  line-height: 25px;
}
.page-about .a-slide1 .centerblock .mainpage h2 {
  margin-bottom: 35px;
}
.page-about .a-slide1 .centerblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.page-about .slide .centerblock {
  height: 100vh;
}
.swiper-container_abo.page-about,
.page-about .swiper-slide,
.page-about .swiper-wrapper,
.pgabout,
.wrapper {
  height: 100vh !important;
}
.big-slide {
  display: block;
}
.column_4 {
  height: 100%;
}
.column_4 .col {
  height: 100%;
}
/* меню */
.fly__menu .left .menu-main a,
.fly__menu .left .menu-dop a,
.fly__menu .left .menu-dop h3 {
  display: table;
}
.fly__menu .left .menu-dop h3 {
  font-size: 10px;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 0.09em;
  margin-bottom: 5px;
}
.fly__menu .left .menu-main a {
  letter-spacing: 0.01em;
}
.fly__menu .left .menu-dop a {
  letter-spacing: 0.02em;
  line-height: 36px;
  margin: 0;
}
.fly__menu .left .menu-dop a.menu-section {
  margin: 0;
}
.fly__menu .left {
  background: #2d3138;
  -webkit-box-shadow: 4px 15px 26px 0px #a9a9a9;
  -moz-box-shadow: 4px 15px 26px 0px #a9a9a9;
  box-shadow: 4px 15px 26px 0px #a9a9a9;
}
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.vk,
.fb {
  font-weight: bold;
}
.fly__menu .left .menu-footer .vk::before,
.fly__menu .left .menu-footer .vk:hover::before {
  left: -20px;
}
.fly__menu .left .menu-footer .fb::before,
.fly__menu .left .menu-footer .fb:hover::before {
  left: -16px;
}
.fly__menu .left a:hover,
.fly__menu .left .menu-footer .fb:hover,
.fly__menu .left .menu-footer .vk:hover {
  color: white;
}
a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.social-link:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.fly__menu .left .menu-footer .vk:hover::before {
  background-image: url(../img/social_vk.png);
}
.fly__menu .left .menu-footer .fb:hover::before {
  background-image: url(../img/social_fb.png);
}
.pgcontracts .main__right {
  width: 74%;
}
.table_div {
  padding-right: 30px;
  margin-top: 52px;
}
.table_div .row_head {
  padding-left: 30px;
}
.table_div .row {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  padding-left: 30px;
}
@media (min-width: 1200px) {
  .table_div .col {
    padding: 38px 10px;
  }
  .row .col,
  .row_head .col {
    text-align: right;
  }
  .row .col:nth-child(1),
  .row .col:nth-child(2),
  .row_head .col:nth-child(1),
  .row_head .col:nth-child(2) {
    text-align: left;
  }
  .pgprogram_region .slide_04 .center {
    height: 537px;
  }
}
.table_div .row_head .col {
  letter-spacing: 0.09em;
}
.pgcontracts .main__left h2 {
  margin-top: 29px;
  margin-bottom: 37px;
}
.pgcontracts .main__left--menu01--item {
  margin-bottom: 26px;
}
.pgcontracts .main__left--menu01.small .main__left--menu01--item {
  margin: 5px 0 12px 0;
}
@media screen and (max-width: 400px) {
  .pgcontracts .main__left--menu01.small {
    margin-left: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .pgaccounts .main__right {
    width: 74%;
  }
}
.pgaccounts .main__right--table--body {
  margin-top: 132px;
  /* position: absolute; */
  /* width: 100%; */
}
.pgaccounts .main__right--table {
  position: relative;
  height: 100%;
}
.pgaccounts .main__right--table--head {
  padding-top: 93px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}
.pgaccounts .main__right--table--head .row {
  padding-right: 17px;
  padding-left: 0;
}
.pgaccounts .main__right--table--head .row .col-02 {
  padding-left: 27px;
  font-size: 16px;
}
.pgaccounts .main__right--table--head .row .col-03 {
  padding-left: 14px;
  font-size: 16px;
}
.pgaccounts .main__right--table--body .row .col-01 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
  letter-spacing: 0.09em;
  line-height: 2.2;
}
.pgaccounts .main__right--table--body .row .col-02 {
  padding: 14px 0px 20px 24px;
  letter-spacing: 0.02em;
}
.pgaccounts .main__right--table--body .row .col-03 {
  padding: 14px 0px 20px 7px;
  letter-spacing: 0.02em;
}
.pgaccounts .main__left h2 {
  margin-top: 29px;
  margin-bottom: 26px;
}
.pgaccounts .main__left--menu--item a {
  letter-spacing: 0.02em;
}
.pgaccounts .main__right--table--body .row:hover {
  border-top: 1px solid #2675eb;
  border-bottom: 1px solid #2675eb;
}
.pgaccounts .main__right--table--body .row.first:hover {
  border-top: 1px solid #2675eb;
}
.pgaccounts .main__right--table--body .row.first {
  border-top: 1px solid #e6e6e6;
}
.pgaccounts .footer {
  display: none;
}
.pgaccounts .main__left--menu--item.ts_affiliate::before {
  left: -22px;
  width: 36px;
}
.pgaccounts .main__left--menu--item.ts_demo::before {
  left: -14px;
}
@media (min-width: 750px) and (max-width: 979px) {
  .pgaccounts .main__left {
    width: 206px;
  }
}
@media screen and (max-width: 749px) {
  .pgaccounts .main__right--table--body {
    margin-top: 54px;
  }
}
.swiper-container_abo,
.swiper-container_cpa {
  overflow-y: hidden;
}
.swiper-slide.block_news {
  display: block !important;
  background-color: initial !important;
}
.about-lastslide-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.pgabout .about-lastslide-wrapper .footerblock--blockt {
  padding-top: 130px;
  text-align: left;
}
.pgabout .swiper-slide {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.pgabout .about-lastslide-wrapper .swiper-slide {
  opacity: 1;
}
.pgabout .swiper-slide-active {
  opacity: 1;
}
.pgabout .head__nav.sfonom .c-hamburger span {
  background-color: white;
}
.pgabout .head__nav.sfonom .c-hamburger span::before,
.pgabout .head__nav.sfonom .c-hamburger span::after {
  background-color: white;
}
/* cpa */
.pgprogram_cpa .slide_05 .main {
  margin-top: 100px;
}
.pgprogram_cpa .slide_05 .main input {
  padding-bottom: 15px;
}
.pgprogram_cpa .slide_05 .button01 {
  margin-left: 3px;
}
.pgprogram_cpa .slide_05 .main__center-head {
  margin-bottom: 25px;
}
.pgprogram_cpa .slide_05 .main__center-text .social.social__vk:hover {
  background-image: url(../img/social_vk_p.png);
}
.pgprogram_cpa .slide_05 .main__center-text .social.social__fb:hover {
  background-image: url(../img/social_fb_p.png);
}
.pgprogram_cpa .slide_05 .main__center-text .social.social__ok:hover {
  background-image: url(../img/social_ok_p.png);
}
.pgprogram_cpa .slide_01__center {
  width: 72%;
  margin-bottom: 26px;
}
.pgprogram_cpa .slide_01__center-text {
  letter-spacing: 0.01em;
}
.pgprogram_cpa .slide_02 {
  overflow-x: hidden;
}
.pgprogram_cpa .slide_02 .center div h2 {
  font-size: 48px;
  margin-bottom: 18px;
}
.pgprogram_cpa .slide_02 .center div:nth-child(1) {
  width: 63%;
}
.pgprogram_cpa .slide_02 .center div:nth-child(2) {
  width: 37%;
}
.pgprogram_cpa .slide_02 .center div p {
  margin-bottom: 73px;
}
.pgprogram_cpa .center p.bullet {
  padding-left: 10px;
  max-width: 355px;
}
.pgprogram_cpa .slide_02 .center div p.bullet,
.pgprogram_cpa .slide_03 .center div p.bullet,
.pgprogram_cpa .slide_04 .center div p.bullet {
  margin-bottom: 42px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.pgprogram_cpa .cpa-img img {
  margin-left: 25px;
}
.pgprogram_cpa .slide_02 .cpa-title-description {
  max-width: 510px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .pgpayments .table_div .col.col1t img {
    max-width: 70px;
  }
  .pgpayments .table_div {
    margin-right: 0;
  }
  .pgpayments .table_div .col.colw5 {
    width: 15%;
  }
  .pgpayments .table_div .row_head .col.colw5 {
    width: 15%;
    height: 70px;
  }
  .pgpayments .table_div .col.col2t {
    padding-left: 30px;
  }
}
@media (min-width: 980px) {
  .pgprogram_cpa .slide_05 .main__center-text {
    margin-left: -10px;
  }
}
.pgaccounts .main__right--table--head .row .col-01 {
  padding-left: 20px;
  height: 5px;
}
.pgaccounts .footer.acc-footer-show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}
.pgpayments strong {
  margin-left: 11px;
}
.pgpayments .sel_banks::before,
.pgpayments .sel_platsys::before {
  top: -8px;
}
.pgpayments .main__left .head .button02.gray {
  padding-bottom: 2px;
}
.pgpayments .item .epana_panel div {
  font-weight: bolder;
}
.pgpayments .main__left .item .epana_panel div br {
  line-height: 16px;
}
.pgpayments .table_div .row_head {
  margin-bottom: 10px;
}
.pgpayments .table_div .row:hover .col.col5t .hide {
  margin-left: 55px;
}
.pgpayments .table_div .col.col1t,
.pgpayments .table_div .col.col2t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pgpayments .table_div .col.col3t,
.pgpayments .table_div .col.col4t,
.pgpayments .table_div .col.col5t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pgpayments .table_div .row.row_head:hover .col.colw2,
.pgpayments .table_div .row.row_head:hover .col.colw5 {
  width: 25%;
}
.pgpayments .head div:nth-child(1) {
  font-size: 20px;
}
.pgpayments .main__left .item.hover {
  -webkit-box-shadow: 0px 0px 9px #d6d6d6;
  -moz-box-shadow: 0px 0px 9px #d6d6d6;
  box-shadow: 0px 0px 9px #d6d6d6;
}
.pgpartners_rules .main__center div:nth-child(1) {
  width: 440px;
  margin: 17px 155px 0 105px;
  padding-right: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.pgpartners_rules .main__menu {
  margin-top: 12px;
}
.pgpartners_rules .main__center div:nth-child(2) {
  margin-top: 20px;
}
.pgpartners_rules .main__center div:nth-child(2) p {
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.pgpartners_rules .main__center div ol li {
  letter-spacing: 0.02em;
  line-height: 24px;
}
.pgpartners_rules ol li {
  padding-left: 5px;
}
.pgpartners_rules a.icon_pdf {
  margin-left: 43px;
}
@media (max-width: 560px) {
  .pgpayments .col.colw5.col5t.align-right {
    width: 33%;
    height: 20px;
    min-height: 20px;
    margin-bottom: 10px;
  }
  .pgpayments .table_div .row:hover .col.colw5 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    min-height: 60px;
  }
  .pgpayments .table_div .row:hover .col.colw5 .hide {
    margin-left: 15px;
    font-size: 11px;
  }
  .pgprogram_cpa .slide_05 .main,
  .pgprogram_cpa .slide_02 .center {
    width: 52%;
    max-width: 835px;
  }
  .pgbonus .slide_02 .text {
    padding: 0 25px;
    text-align: left;
  }
  .pgbonus .slide_02 .text h2 {
    font-size: 40px;
  }
  .pgbonus .slide_02 .text p {
    margin-bottom: 30px;
  }
  .pgbonus .slide_03 .sl_03 .sl_03__text {
    width: 96%;
  }
  .pgbonus .slide_03 .sl_03 div h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .pgbonus .slide_03 .sl_03 div a {
    display: inline-block;
    margin-top: 15px;
  }
  .pgbonus .slide_02 .bonus-img,
  .pgbonus .slide_03 .bonus-img {
    display: none;
  }
}
@media (max-width: 350px) {
  .pgpayments .main__left .item.menu {
    margin: 40px 40px;
  }
}
.pgindex .head__nav.sfonom {
  background: #33373e;
  background: -moz-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#33373e), to(#25282d));
  background: -o-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: linear-gradient(to bottom, #33373e 0%, #25282d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33373e', endColorstr='#25282d', GradientType=0);
  -webkit-box-shadow: 0 0 26px 0 #000;
  -moz-box-shadow: 0 0 26px 0 #000;
  box-shadow: 0 0 26px 0 #000;
}
.pgprogram_region .center h2 {
  letter-spacing: 0.01em;
}
.pgprogram_region .description {
  letter-spacing: 0.02em;
}
.pgprogram_region .slide_02 .center div:nth-child(2) {
  top: 45px;
  right: 0;
}
.pgprogram_region .slide_03 .center div:nth-child(2) {
  top: 105px;
  right: -50px;
}
.pgprogram_region .slide_04 .center div:nth-child(2) {
  top: 80px;
  right: 200px;
}
.pgprogram_region .slide_04 .center div img {
  position: relative;
}
.pgprogram_region .slide_04 .center div p.bullet {
  max-width: 450px;
}
.pgprogram_region .slide_05 .main {
  max-width: 845px;
  margin-top: 146px;
}
.pgprogram_region .slide_05 .main__center-head {
  margin-bottom: 25px;
}
.pgprogram_region .slide_05 .main__center-text {
  margin-left: -10px;
}
.pgprogram_region .slide_02 .center,
.pgprogram_region .slide_03 .center,
.pgprogram_region .slide_04 .center {
  position: relative;
  display: block;
  max-width: 1010px;
  margin-left: 11%;
  margin-top: 176px;
  /* margin-top: 11%; */
  /* margin-left: 212px; */
}
.pgprogram_region .slide_02 .center div:nth-child(1),
.pgprogram_region .slide_03 .center div:nth-child(1),
.pgprogram_region .slide_04 .center div:nth-child(1) {
  width: 52%;
}
.pgprogram_region .slide_02 .center div:nth-child(2),
.pgprogram_region .slide_03 .center div:nth-child(2),
.pgprogram_region .slide_04 .center div:nth-child(2) {
  position: absolute;
  width: auto;
}
.pgprogram_region .slide_02 .center div h2,
.pgprogram_region .slide_03 .center div h2,
.pgprogram_region .slide_04 .center div h2 {
  font-size: 48px;
  margin-bottom: 18px;
}
.pgprogram_region .slide_02 .center div p,
.pgprogram_region .slide_03 .center div p,
.pgprogram_region .slide_04 .center div p {
  margin-bottom: 73px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.pgprogram_region .slide_02 .center div p.bullet,
.pgprogram_region .slide_03 .center div p.bullet,
.pgprogram_region .slide_04 .center div p.bullet {
  max-width: 410px;
  margin-bottom: 42px;
  line-height: 25px;
  letter-spacing: 0.02em;
  padding-left: 10px;
}
@media (max-width: 1199px) {
  .pgprogram_region .slide_02 .center div img,
  .pgprogram_region .slide_03 .center div img {
    width: 360px;
    height: auto;
  }
  .pgprogram_region .center div p.description {
    margin-bottom: 40px;
  }
  .pgprogram_region .slide_02 .center div p.bullet,
  .pgprogram_region .slide_03 .center div p.bullet,
  .pgprogram_region .slide_04 .center div p.bullet {
    margin-bottom: 20px;
  }
  .pgprogram_region .slide_02 .center div:nth-child(2) {
    top: 105px;
    right: 0;
  }
  .pgprogram_region .slide_03 .center div:nth-child(2) {
    top: 105px;
    right: 0;
  }
  .pgprogram_region .slide_04 .center div:nth-child(2) {
    top: 80px;
    right: 120px;
  }
}
@media (min-width: 761px) and (max-width: 979px) {
  .pgprogram_region .slide_02 .center div img,
  .pgprogram_region .slide_03 .center div img {
    width: 230px !important;
    height: auto;
  }
  .pgprogram_region .center .description {
    max-width: 400px;
  }
  .pgprogram_region .slide_02 .center div:nth-child(2) {
    top: 45px;
    right: -160px;
  }
  .pgprogram_region .slide_02 .center div p.bullet {
    max-width: 400px;
  }
  .pgprogram_region .slide_03 .center div:nth-child(2) {
    top: 105px;
    right: -150px;
  }
  .pgprogram_region .slide_04 .center div:nth-child(2) {
    top: 60px;
    right: -150px;
  }
  .pgprogram_region .slide_04 .center div img {
    position: relative;
  }
  .pgprogram_region .slide_04 .center div p.bullet {
    max-width: 450px;
  }
}
@media (max-width: 750px) {
  .pgaccounts .main__right--table--head {
    padding-top: 23px;
    padding-bottom: 8px;
  }
  .pgaccounts .main__right--table--head .row .col-02 {
    padding-left: 23px;
  }
  .pgaccounts .main__right--table--head .row .col-03 {
    padding-left: 6px;
  }
}
@media screen and (max-width: 560px) {
  .pgaccounts .main__right--table--body .row .col-01 {
    margin-left: 0;
    padding-left: 12px;
    padding-top: 7px;
  }
  .pgaccounts .main__right--table--head {
    padding-top: 28px;
    margin-top: 0;
  }
  .pgaccounts .main__right--table--head .row .col-03 {
    padding-left: 6px;
    font-size: 12px;
  }
  .pgaccounts .main__right--table--head .row .col-02 {
    padding-left: 23px;
    font-size: 12px;
  }
  .pgaccounts .main__right--table--body .row .col-01 {
    margin-top: 5px;
    margin-left: 28px;
    text-align: left;
  }
  .pgaccounts .main__right {
    width: 100%;
  }
  .pgaccounts .main__right--table--head {
    margin-top: 20px;
  }
  .pgaccounts .main__left--menu01.small {
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  .pgprogramagent .slide .centerblock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pgprogramagent .slide .centerblock .mainpage h2 {
    font-size: 1.1em;
    margin-left: 0;
    margin-right: 0;
  }
  .pgprogramagent .slide .centerblock .zarabotok-title h2 {
    margin-left: 0;
  }
  .pgprogramagent .slide .centerblock .zarabotok-title p {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .pgprogramagent .slide .centerblock p.bullet {
    font-size: initial;
    margin-left: 61px;
  }
  .pgprogramagent .slide .centerblock .zarabotok-text p {
    font-size: 14px;
  }
  .pgprogramagent .slide-zarabotok {
    margin-top: 20px;
  }
  .agent-container {
    width: 100% !important;
  }
  .agent-wrapper h2 {
    margin: 10px 0 10px 0 !important;
    font: 21px/34px 'Open Sans' !important;
  }
  .agent-wrapper p {
    font-size: 13px !important;
    margin: 0 !important;
  }
  .agent-wrapper .get_partners input {
    width: auto;
    margin: 12px 0 20px 0;
    font-size: 24px;
  }
  .pgbonus .slide_02 .text h2,
  .pgbonus .slide_03 .sl_03 div h2 {
    font-size: 28px;
  }
  .pgbonus .slide_02 .text p {
    font-size: 16px;
  }
  .pgbonus .slide_03 .sl_03 div p {
    margin-bottom: 15px;
  }
}
.pgprogram_agent_reward .main__center {
  padding-top: 27px;
  padding-left: 21px;
  padding-right: 0;
}
.pgprogram_agent_reward .main__center--block h2 {
  letter-spacing: 0.01em;
  margin-bottom: 25px;
}
.pgprogram_agent_reward .main__center--block p {
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.pgprogram_agent_reward .main__center--block.calc {
  margin-top: 35px;
  margin-left: 5%;
  max-width: 1060px;
  -webkit-box-shadow: 0px 20px 100px #e4e3e3;
  -moz-box-shadow: 0px 20px 100px #e4e3e3;
  box-shadow: 0px 20px 100px #e4e3e3;
}
.pgprogram_agent_reward .main__center--block.calc div.right > div {
  margin-bottom: 0;
}
.pgprogram_agent_reward .main__center--block.calc div.right div:first-child {
  margin-bottom: 74px;
}
.pgprogram_agent_reward .main__center--block.calc div.right > div p {
  letter-spacing: 0.09em;
}
.pgprogram_agent_reward .main__center--block.calc div.left {
  width: 680px;
  padding-left: 70px;
  padding-right: 70px;
}
.pgprogram_agent_reward .main__center--block.calc div.left table {
  width: 100%;
}
.pgprogram_agent_reward .main__center--block.calc div.left table td.head {
  font-weight: bold;
  letter-spacing: 0.09em;
}
.pgprogram_agent_reward .main__center--block.calc div.left h2 {
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 56px;
  margin-bottom: 31px;
}
.pgprogram_agent_reward .main__center--block.calc div.left .fi_select {
  max-width: 258px;
}
.pgprogram_agent_reward .main__center--block.calc div.left .fi_select .tx.sel {
  letter-spacing: 0.02em;
  font-weight: 600;
}
.pgprogram_agent_reward .main__center--block.calc div.left .tr-after-dropdown {
  display: block;
  margin-top: 28px;
}
.pgprogram_agent_reward .main__center--block.calc div.left td.range {
  padding-top: 2px;
  padding-bottom: 24px;
}
.pgprogram_agent_reward .main__center--block.calc div.left table td.td-dropdown2 {
  padding-left: 20px;
}
.pgprogram_agent_reward .main__center--block.calc div.right {
  width: 380px;
  padding-bottom: 14px;
}
.pgprogram_agent_reward .main__center--block.row.lasttable {
  max-width: 930px;
}
.pgprogram_agent_reward .main__center--block.row.lasttable th {
  font-weight: bold;
  letter-spacing: 0.09em;
}
.pgprogram_agent_reward .main__center--block.row.lasttable .thead-title th {
  padding-bottom: 16px;
}
.pgprogram_agent_reward .main__center--block.row.lasttable .tr-pt-serif td,
.pgprogram_agent_reward .main__center--block.row.lasttable .table-text {
  font-family: 'PT Serif';
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.pgprogram_agent_reward .main__center--block.row.lasttable .table-text:first-child {
  margin-bottom: 22px;
}
.pgprogram_agent_reward .main__center--block.row.lasttable .mute {
  max-width: 320px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 20px;
}
.pgprogram_agent_reward .main__menu,
.pgprogram_agent_rules .main__menu {
  top: 43px;
}
.pgbonus .slide_02 .text p {
  line-height: 25px;
  max-width: 540px;
}
@media (max-width: 640px) {
  .pgbonus .main__menu {
    width: auto;
    padding-top: 30px;
  }
  .pgbonus .main__menu .myslide_nav {
    text-align: left;
    padding-left: 13px;
    line-height: 2.4;
  }
}
@media (max-width: 400px) {
  .pgbonus .main__menu,
  .pgprogramagent .main__menu,
  .pgprogram_region .main__menu,
  .pgpartners_internet .main__menu {
    padding-top: 22px;
  }
  .pgbonus .main__menu .myslide_nav,
  .pgprogramagent .main__menu .myslide_nav,
  .pgprogram_region .main__menu .myslide_nav,
  .pgpartners_internet .main__menu .myslide_nav {
    text-align: left;
    line-height: 1.8;
  }
  .pgprogram_region .main__menu {
    padding-top: 22px;
  }
  .pgprogramagent .main__menu {
    padding-left: 7%;
  }
  .pgprogramagent .slide-zarabotok.zarabotok2 {
    margin-left: 4%;
  }
  .pgprogram_region .main__menu {
    padding-left: 9%;
  }
}
.pgindicators .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.pgbonus_get .slcont-slide.slide_07 {
  padding-right: 0;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray {
  max-height: 180px;
  padding: 46px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray div {
  line-height: 24px;
  letter-spacing: 0.02em;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl1 {
  width: 45%;
  margin-right: 10%;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl2 {
  width: 17%;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl2 p {
  margin-bottom: 10px;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl3 {
  width: 25%;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl3 p:first-child {
  margin-bottom: 10px;
}
.pgbonus_get .slcont-slide.slide_07 .panel_gray .panel_gray__bl3 span {
  font: 10px/18px 'Open Sans';
  font-weight: 600;
  letter-spacing: 0.06em;
  color: #7f8081;
}
.pgbonus_get .slcont-slide.slide_07 h2 {
  font-size: 48px;
  letter-spacing: 0.01em;
}
.pgbonus_get .panel_gray,
.pgbonus_get .marrig {
  margin-right: 100px;
}
.pgbonus_get .limitation-wrapper {
  margin-bottom: 40px;
}
.pgbonus_get .limitation-wrapper .limitation-block {
  width: 44%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-bottom: 60px;
}
.pgbonus_get .limitation-wrapper .limitation-block .limitation-img {
  margin-right: 30px;
}
.pgbonus_get .limitation-wrapper .limitation-block .limitation-text {
  font: 16px/24px 'PT Serif';
  letter-spacing: 0.02em;
}
.pgbonus_get .limitation-wrapper .limitation-block .limitation-text span {
  display: block;
  margin-top: 10px;
  font: 10px/18px 'Open Sans';
  font-weight: 600;
  letter-spacing: 0.06em;
  color: #7f8081;
}
.pgbonus_get .limitation-block.left {
  margin-right: 73px;
}
