.fs_Pragmatica {
  font-family: 'Pragmatica';
  font-weight: 300 !important;
}
/* Сашины стили замена шрифта*/
.body_page .block .head__left {
  font-family: 'Pragmatica';
}
/* Сашины стили замена шрифта*/
.head__right.lk__first-head-btn {
  padding-top: 0;
}
.text_bl1 {
  font-weight: 600;
}
.fi_input {
  font-weight: 600;
}
.fs_wbold {
  font-weight: 600;
}
.alert-warning {
  font-weight: 600;
}
.lk_dashboard .alert.alert-warning.alert-dismissible {
  position: relative;
}
.lk_dashboard .body_page .block.bl_blue a {
  position: relative;
  padding-left: 13px;
}
.lk_dashboard .body_page .block.bl_blue .glyphicon-chevron-right {
  position: static;
}
.lk_dashboard .body_page .block.bl_blue .glyphicon-chevron-right:before {
  content: "";
  position: absolute;
  background-image: url(../img/lk-v1.png);
  width: 6px;
  height: 10px;
  top: 5px;
  left: 0;
}
.lk_dashboard .lk__adapt-email {
  position: relative;
}
.lk_dashboard .lk__adapt-email:before {
  content: "";
  background-image: url(../img/arr_down_b.png);
  background-repeat: no-repeat;
  background-position: center;
  right: 1px;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.tablediv_row.tablediv_row_hover:hover .show_hover a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.tablediv_row.tablediv_row_hover:hover .show_hover a:hover {
  color: #4c4d4f;
}
.tablediv_row.tablediv_row_hover:hover .show_hover a:hover .glyphicon-chevron-right:before {
  color: #555555;
}
.body_page .lk__first {
  /* padding: 35px 23px;*/
  /* padding: 35px 30px; конфликт*/
}
.body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-3 {
  width: 23%;
}
.body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-5 {
  width: 43.666667%;
}
.fly__profile .right .profile-body .profile-body-foto-but img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.body_page .block.bl_blue .divtext input {
  padding-right: 10px;
}
.tablediv_row .tablediv_row_col .show_hover {
  display: block !important;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.tablediv_row .tablediv_row_col .show_hover a {
  font-weight: bold;
}
.tablediv_row.tablediv_row_hover:hover {
  /* padding-right: 13px;*/
}
.tablediv_row.tablediv_row_hover:hover .show_hover {
  display: block;
  height: 66px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}
.hide_hover {
  display: block;
  height: 24px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
  font-family: 'PT Serif', serif;
}
.tablediv_row.tablediv_row_hover:hover .hide_hover {
  height: 0;
  display: block;
  overflow: hidden;
  -webkit-transition: 0.3s, opacity 0s;
  -moz-transition: 0.3s, opacity 0s;
  -o-transition: 0.3s, opacity 0s;
  transition: 0.3s, opacity 0s;
  text-align: right;
  opacity: 0;
}
.tablediv_row.tablediv_row_hover .text_align_right.hvcat {
  padding-left: 0;
}
.body_page .fi_radio_wrap {
  /* font-weight: bold;*/
  font-weight: 600 ;
}
.body_page .block.img_01 h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 22px;
}
.body_page .block_curs {
  padding: 33px 23px 51px 23px;
}
.body_page .block_curs .fs_Pragmatica {
  margin-bottom: 32px;
  margin-top: 0;
}
.body_page .block_curs .marginb_20 {
  margin-bottom: 8px;
}
.col-xs-12.fs_s13.fs_wbold.text_align_right {
  height: auto !important;
}
.row .margint_40 {
  margin-top: 30px;
}
.row .margint_40 .margint_40 {
  margin-top: 17px;
}
.body_page {
  /* &>.row {*/
  /*   margin: 0;*/
  /* }*/
  /* 3 колонка*/
  /* блоки*/
}
.body_page .lk__video {
  padding: 33px 30px 35px 30px;
}
.body_page .lk__video p {
  margin-bottom: 22px;
}
.body_page .lk__video .fs_Pragmatica {
  margin-top: 0;
  margin-bottom: 24px;
}
.body_page .lk__video .bl_video img {
  width: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 210px;
  margin: 0 auto;
}
.body_page .lk__video .bl_video .bl_video_text_panel {
  height: auto;
  padding: 0px 0px 15px 20px;
}
.body_page .lk__video h4 {
  margin-bottom: 13px;
  margin-top: 46px;
}
.body_page .lk__3r .img_01 {
  /* .fs_Pragmatica {*/
  /*     margin-top: 44px;*/
  /*     margin-bottom: 11px;*/
  /* }*/
}
.body_page .lk__3r .img_01 .fs_Pragmatica {
  margin-top: 30px;
  margin-bottom: 12px;
}
.body_page .lk__3r .img_01 p {
  line-height: 1.6;
  margin-bottom: 39px;
}
.body_page .lk__3r .img_02 {
  height: auto;
}
.body_page .lk__3r .img_02 .fs_Pragmatica {
  margin-top: 29px;
  margin-bottom: 10px;
}
.body_page .lk__3r .img_02 p {
  line-height: 1.5;
  margin-bottom: 60px;
}
.body_page .lk__block {
  padding: 0 10px;
}
.body_page.lk__body-page {
  width: 1140px;
}
.body_page .lk__h-block {
  margin: 10px -5px !important;
  position: relative;
}
.body_page .button_round {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.body_page .button_round:hover {
  background-color: #2675eb;
  border-color: #2675eb;
  color: #fff;
}
.body_page .lk__first-btn {
  padding: 2px 9px 4px 11px;
}
.body_page .alert .close {
  padding: 3px 14px 5px 14px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.body_page .alert-dismissable .close,
.body_page .alert-dismissible .close {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -15px;
  /* width: 100px;*/
  height: 30px;
  padding: 0;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -moz-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  /* padding-bottom: 2px;*/
  /* display: inline-block;*/
  line-height: 30px;
  text-transform: uppercase;
  float: none !important;
  padding: 0 20px 0 18px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.body_page .alert-dismissable .close:hover,
.body_page .alert-dismissible .close:hover {
  -webkit-box-shadow: inset 0 0 8px -1px #1bbbb1;
  -moz-box-shadow: inset 0 0 8px -1px #1bbbb1;
  box-shadow: inset 0 0 8px -1px #1bbbb1;
}
.body_page .block.bl_blue .divtext {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.alert .close span {
  top: 0;
  line-height: 30px;
  display: block;
  float: none !important;
}
.alert .close .lk__close-top {
  font-size: 10px;
  margin: 0;
  padding: 0;
  /* float: none !important;*/
}
.lk_dashboard .text-right.head__right {
  /* height: 70px;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.lk_dashboard .text-right.head__right a {
  display: block;
}
.lk_dashboard .text-right.head__right .button {
  padding: 10px 30px;
}
.lk_dashboard .head__avatar {
  display: block;
  height: auto;
}
.lk_dashboard .head__avatar img {
  top: auto;
  position: relative;
}
.lk_dashboard .alert.alert-warning.alert-dismissible {
  margin-bottom: 5px;
  margin-top: 2px;
}
.lk_dashboard .alert .close {
  /* .lk__close-top {*/
  /*     float: none !important;*/
  /* }*/
}
.lk_dashboard .alert .close span {
  float: left !important;
}
.head__left_text {
  padding-top: 0;
  line-height: 70px;
}
.divtext__copy-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
}
.lk_dashboard .alert.alert-warning.alert-dismissible {
  padding-left: 30px;
}
.block.img_01.lk__adpt-slider {
  padding: 0;
}
.lk__adpt-slider-box {
  padding: 30px;
}
.lk__adpt-slider-pag.swiper-pagination-bullets {
  /* bottom: 10px;*/
  /* left: 0;*/
  width: auto;
  bottom: 35px;
  left: 28px;
}
.lk__adpt-slider-pag .swiper-pagination-bullet {
  /* background: #2675e9;*/
  background-color: rgba(153, 194, 255, 0.74);
  opacity: 1;
  margin: 0 4px !important;
}
.lk__adpt-slider-pag .swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.lk_dashboard .body_page .block .lk__first-head-h {
  letter-spacing: 1px;
}
.lk_dashboard .body_page .lk__dash-h1 {
  letter-spacing: 1px;
}
.lk_dashboard .body_page .lk__dash-h2 {
  letter-spacing: 1px;
}
.lk_dashboard .body_page .lk__dash-h3 {
  letter-spacing: 1px;
}
.body_page .lk__3r .img_02 .fs_Pragmatica {
  margin-top: 31px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
}
.body_page .lk__3r .img_02 p {
  margin-bottom: 67px;
}
.lk_payments .footer {
  z-index: 90;
}
.lk_payments .pg_payments .pg_payments_main .page_left {
  width: 420px;
  width: 26.3%;
  min-width: 420px;
  max-width: 420px;
  padding-right: 11px;
  padding-left: 15px;
}
.lk_payments .pg_payments .pg_payments_main .page_left .row {
  margin-left: 0;
  margin-right: 0;
}
.lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-h {
  width: auto;
  padding: 0;
  float: none;
}
.lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-h p {
  font-family: "Pragmatica";
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
}
.lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-btn {
  width: auto;
  padding: 0;
  float: none;
  width: 50%;
  /* костыль*/
}
.lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-btn .button_round {
  /* padding: 2px 17px 2px 17px;*/
  padding: 2px 14px 2px 14px;
  font-weight: 600;
  margin-right: 4px;
}
.lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-btn a {
  float: right;
  /* костыль*/
}
.lk_payments .pg_payments .pg_payments_main .page_right {
  padding-left: 0;
  padding-right: 51px;
  width: 73.7%;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_head {
  margin-bottom: 21px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_head .button_round {
  position: relative;
  padding-left: 30px;
  padding-right: 11px;
  letter-spacing: 0.2px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_head .ch_tile::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 14px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_head .ch_table::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_body {
  margin-bottom: 0 !important;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap {
  width: 100%;
  margin: 0 auto;
  float: none;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap.aa__pay-table {
  padding-left: 0;
  padding-right: 0;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap .plitka_div {
  margin-right: -31px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap .plitka_div .row {
  margin: 10px;
}
.lk_payments .pg_payments .pg_payments_main .page_right .adpt__paym-r-v1 {
  font: inherit;
  font-style: inherit;
  -webkit-font-variant-ligatures: inherit;
  -moz-font-variant-ligatures: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  position: relative;
}
.lk_payments .pg_payments .pg_payments_main .page_right .adpt__paym-r-v1:before {
  content: "";
  position: absolute;
  background-image: url(../img/lk-v1-paym.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 6px;
  top: 4px;
  right: -17px;
}
.lk_payments .table_div .row_head .col {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  height: auto;
  min-height: 0;
}
.lk_payments .table_div .row_head .col.colw1 {
  width: 15%;
  padding-bottom: 17px;
}
.lk_payments .table_div .row_head .col.colw2 {
  width: 34%;
  padding-bottom: 17px;
}
.lk_payments .table_div .row_head .col.colw3 {
  width: 11%;
  padding: 20px 3px 20px 46px;
  padding-bottom: 17px;
}
.lk_payments .table_div .row_head .col.colw4 {
  width: 24%;
  width: 19%;
  padding: 20px 5px 20px 32px;
  padding-bottom: 17px;
}
.lk_payments .table_div .row_head .col.colw5 {
  width: 16%;
  width: 21%;
  text-align: right;
  padding: 20px 41px 20px 5px;
  padding-bottom: 17px;
}
.lk_payments .table_div .col {
  height: auto;
  min-height: 0;
}
.lk_payments .table_div .row {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.lk_payments .table_div .row .button_round.wal {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  letter-spacing: 0.2px;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  /* padding: 3px 17px 5px 17px;*/
  padding: 3px 20px 5px 34px;
}
.lk_payments .table_div .row .button_round.wal::before {
  /* content: "";*/
  /* position: absolute;*/
  /* background-position: -76px -97px;*/
  /* width: 6px;*/
  /* height: 10px;*/
  /* background-image: url(../img/spritesheet1.png);*/
  /* background-repeat: no-repeat;*/
  /* display: block;*/
  left: 18px;
  top: 8px;
}
.lk_payments .table_div .row:hover .col.colw5 {
  padding: 34px 30px 34px 20px;
}
.lk_payments .table_div .col.col1t {
  width: 15%;
  /* padding: 20px 4px 20px 20px;*/
  /* padding: 20px 17px 20px 20px;*/
  padding: 0px 17px 0px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lk_payments .table_div .col.col1t img {
  margin: 0;
  float: right;
  /* display: flex;*/
  /* justify-content: flex-end;*/
  /* align-items: center;*/
}
.lk_payments .table_div .col.col2t {
  width: 34%;
  color: #2675eb;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  /* padding: 20px 20px 20px 35px;*/
  padding: 20px 20px 20px 19px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.lk_payments .table_div .col.col3t {
  width: 11%;
  font-weight: 400;
  /* text-align: center;*/
  padding: 20px 3px 20px 47px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.lk_payments .table_div .col.col4t {
  width: 24%;
  font-weight: 400;
  padding: 20px 5px 20px 32px;
  word-spacing: 2px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.lk_payments .table_div .col.col5t {
  width: 16%;
  font-weight: 400;
  text-align: right;
  padding: 20px 24px 20px 20px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.lk_payments .adpt__pay-left-link {
  /* padding-left: 80px;*/
  padding-left: 65px;
  margin-top: 35px;
  margin-bottom: 62px;
}
.lk_payments .adpt__pay-left-link-1 {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}
.lk_payments .adpt__pay-left-link-1 a {
  font-weight: 600;
  padding-left: 53px;
  letter-spacing: 0.4px;
}
.lk_payments .adpt__pay-left-link-1 .sel_platsys::before {
  top: -4px;
  width: 30px;
  height: 30px;
}
.lk_payments .adpt__pay-left-link-2 {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}
.lk_payments .adpt__pay-left-link-2 a {
  font-weight: 600;
  padding-left: 53px;
  letter-spacing: 0.4px;
}
.lk_payments .adpt__pay-left-link-2 .sel_card::before {
  top: 2px;
  width: 32px;
  height: 22px;
}
.lk_payments .adpt__pay-left-link-3 {
  padding: 0;
  margin: 0;
}
.lk_payments .adpt__pay-left-link-3 a {
  font-weight: 600;
  padding-left: 53px;
  letter-spacing: 0.4px;
}
.lk_payments .adpt__pay-left-link-3 .sel_banks::before {
  width: 30px;
  height: 29px;
  top: -4px;
  left: 1px;
}
.lk_payments .adpt__paym-left-line {
  padding-left: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 31px;
}
.lk_payments .adpt__paym-left-line:before {
  display: none;
}
.lk_payments .adpt__paym-left-round {
  margin-left: 34px;
  -webkit-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
  -moz-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
}
.lk_payments .adpt__paym-left-round .epana_panel {
  margin-bottom: 19px;
}
.lk_payments .adpt__paym-left-round .epana_panel div {
  border: 2px solid #eceff3;
  font-size: 22px;
  font-weight: 600;
  padding-top: 29px;
}
.lk_payments .adpt__paym-left-round .epana_panel div span {
  font-size: 10px;
  font-weight: bold;
  display: block;
  padding-top: 10px;
  text-align: center;
}
.lk_payments .adpt__paym-left-round .epana_panel div br {
  display: none;
}
.lk_payments .adpt__paym-left-round h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-left: 19px;
  margin-top: 22px;
  margin-bottom: 21px;
}
.lk_payments .adpt__paym-left-watch {
  -webkit-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
  -moz-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
  margin-left: 34px;
  min-height: 0;
  height: 240px;
}
.lk_payments .adpt__paym-left-watch h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-left: 19px;
  margin-top: 22px;
}
.plitka_div .col.colw4::before {
  text-transform: uppercase;
}
.plitka_div .col.colw5::before {
  text-transform: uppercase;
}
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* анимация бургер лк*/
.c-hamburger--htx.is-active span {
  -webkit-transition: background 0s 0s;
  -moz-transition: background 0s 0s;
  -o-transition: background 0s 0s;
  transition: background 0s 0s;
}
/* end анимация бургер лк*/
.fly__menu .left .menu-footer .vk {
  position: relative;
  /* font-size: 13px;*/
  color: #9399a1;
  cursor: pointer;
  font-weight: 600;
}
.fly__menu .left .menu-footer .vk::before {
  left: -20px;
}
.fly__menu .left .menu-footer .vk:hover::before {
  left: -20px;
}
.fly__menu .left .menu-footer .fb {
  position: relative;
  /* font-size: 13px;*/
  color: #9399a1;
  cursor: pointer;
  font-weight: 600;
}
.fly__menu .left .menu-footer .fb::before {
  left: -16px;
}
.fly__menu .left .menu-footer .fb:hover::before {
  left: -16px;
}
.fly__menu .left .menu-dop {
  margin-top: 41px;
}
.fly__menu .left .menu-dop a {
  display: block;
  letter-spacing: 0.02em;
  line-height: 36px;
  margin: 0;
}
.fly__menu .left .menu-dop h3 {
  color: #5f646b;
  font-size: 10px;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
.fly__menu .left .menu-main a {
  font-size: 30px;
  color: #9399a1;
  display: block;
  letter-spacing: 0.01em;
}
.fly__menu .left .scroller .niceScroll_lm2 {
  margin-top: 40px;
  /* padding-bottom: 60px;*/
  padding-bottom: 140px;
}
.fly__menu .left .menu-main a,
.fly__menu .left .menu-dop a,
.fly__menu .left .menu-dop h3 {
  display: table;
}
.lk_documents .alert-warning {
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
}
.lk_documents .body_page .block .head__right {
  padding-top: 0;
}
.fly__menu .left .left-menu-head-client div.item {
  margin-top: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
.head__avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.head__avatar.is-active {
  background-color: rgba(0, 0, 0, 0.4);
}
.head__avatar.is-active::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.head__avatar.is-active img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
@media (max-width: 1400px) {
  .lk_payments .table_div .row_head .col.colw2 {
    width: 24%;
    /* width: 19%;*/
  }
  .lk_payments .table_div .row_head .col.colw3 {
    width: 16%;
  }
  .lk_payments .table_div .row_head .col.colw4 {
    width: 29%;
  }
  .lk_payments .table_div .row_head .col.colw5 {
    /* width: 21%;*/
    width: 16%;
  }
  .lk_payments .table_div .col.col2t {
    width: 24%;
  }
  .lk_payments .table_div .col.col3t {
    width: 16%;
  }
  .lk_payments .table_div .col.col4t {
    width: 34%;
  }
  .lk_payments .table_div .col.col5t {
    width: 11%;
  }
  .lk_payments .table_div .row:hover {
    /* .col.colw5 {*/
    /*     padding: 20px 3px 20px 47px;*/
    /* }*/
  }
  .lk_payments .table_div .row:hover .col.colw3 {
    padding: 38px 3px 38px 15px;
  }
  .lk_payments .table_div .row:hover .col.col4t {
    width: 24%;
  }
}
@media (max-width: 1300px) {
  .lk_payments .table_div .col.col1t {
    width: 18%;
  }
  .lk_payments .table_div .col.col3t {
    padding: 38px 3px 38px 17px;
  }
  .lk_payments .table_div .col.col4t {
    width: 31%;
    padding: 38px 3px 38px 20px;
  }
  .lk_payments .table_div .row:hover .col.colw5 {
    padding-bottom: 10px;
  }
  .lk_payments .table_div .row:hover .col.colw5 .hidep {
    margin-top: 10px;
  }
  .lk_payments .table_div .row_head .col.colw1 {
    width: 18%;
  }
  .lk_payments .table_div .row_head .col.colw3 {
    padding: 20px 3px 20px 16px;
  }
  .lk_payments .table_div .row_head .col.colw4 {
    width: 26%;
    padding: 20px 5px 20px 20px;
  }
  .lk_payments .table_div .row_head .col.colw5 {
    padding: 20px 21px 17px 5px;
  }
  .lk_payments .adpt__paym-left-round {
    /* margin-left: 34px;*/
    margin-left: 0;
  }
  .lk_payments .adpt__pay-left-link {
    padding-left: 31px;
  }
  .lk_payments .adpt__paym-left-line {
    padding-left: 31px;
  }
  .lk_payments .adpt__paym-left-watch {
    margin-left: 0;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left {
    width: 26.3%;
    min-width: 380px;
    max-width: 380px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 1146px) {
  .body_page.lk__body-page {
    width: 100%;
  }
  .body_page .lk__first {
    padding: 20px;
  }
  .body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-3 {
    width: 21%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-5 {
    width: 44.666667%;
  }
  .body_page .lk__video .bl_video img {
    width: 100%;
    height: auto;
  }
  .body_page .block {
    padding: 20px;
  }
  .body_page .block.bl_blue .divtext .copy {
    font-size: 12px;
    padding: 0;
    line-height: 22px;
  }
  .body_page .block.bl_blue .divtext input {
    width: 164px;
    padding-right: 5px;
  }
  .body_page .fi_radio_wrap {
    font-size: 15px;
  }
  .tablediv_row.tablediv_row_hover:hover .show_hover a {
    font-size: 12px;
  }
  .lk_dashboard .alert.alert-warning.alert-dismissible {
    padding-left: 20px;
  }
  .lk_payments .adpt__paym-left-round .epana_panel {
    display: block;
    margin-bottom: 5px;
  }
  .lk_payments .adpt__paym-left-round .epana_panel div {
    margin: 10px auto;
  }
  .lk_payments .adpt__paym-left-round h3 {
    margin-top: 15px;
    margin-left: 0;
    padding: 0 12px;
  }
  .lk_payments .adpt__paym-left-watch h3 {
    margin-top: 15px;
    margin-left: 0;
    padding: 0 12px;
  }
  .lk_payments .adpt__pay-left-link {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .lk_payments .adpt__paym-left-line {
    padding-left: 20px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left {
    width: 26.3%;
    min-width: 380px;
    max-width: 380px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 290px;
    max-width: 290px;
  }
}
@media (max-width: 1024px) {
  .body_page .block.bl_blue .divtext {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 11px;
  }
  .body_page .block.bl_blue .divtext input {
    width: 80%;
  }
  .body_page .lk__first .row.tablediv_row.tablediv_row_hover {
    /* .col-xs-5 {*/
    /*   width: 41.66666667%;*/
    /* }*/
    /* .col-xs-3 {*/
    /*   width: 25%;*/
    /* }*/
  }
  .lk_dashboard .body_page .lk__adapt-radio .col-mini.fi_radio_wrap {
    width: auto;
    margin-left: 11px;
  }
  .lk_dashboard .body_page .lk__adapt-radio .fi_radio {
    margin-right: 10px;
  }
  .lk_payments .adpt {
    /* &__pay-left-link-1 {*/
    /*   a {*/
    /*       font-size: 14px;*/
    /*   }*/
    /* }*/
    /* &__pay-left-link-2 {*/
    /*   a {*/
    /*       font-size: 14px;*/
    /*   }*/
    /* }*/
    /* &__pay-left-link-3 {*/
    /*   a {*/
    /*       font-size: 14px;*/
    /*   }*/
    /* }*/
  }
  .lk_payments .adpt__paym-left-round h3 {
    margin-top: 11px;
    font-size: 14px;
  }
  .lk_payments .adpt__paym-left-round .epana_panel div {
    padding-top: 24px;
    width: 80px;
    height: 80px;
  }
  .lk_payments .adpt__paym-left-watch h3 {
    margin-top: 11px;
    font-size: 14px;
  }
  .lk_payments .adpt__pay-left-link {
    margin-bottom: 30px;
    padding-left: 18px;
    margin-top: 25px;
  }
  .lk_payments .adpt__paym-left-line {
    padding-left: 18px;
  }
  .lk_payments .adpt__paym-left-line p {
    /* font-size: 18px;*/
  }
  .lk_payments .pg_payments .pg_payments_main .page_left {
    max-width: 268px;
    min-width: 268px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-h p {
    font-size: 18px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .a_v1 {
    font-size: 14px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .item {
    display: block;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right .page_right_head {
    margin-bottom: 2px;
  }
  .lk_payments .table_div .row_head .col.colw2 {
    width: 23%;
  }
  .lk_payments .table_div .row_head .col.colw3 {
    width: 15%;
  }
  .lk_payments .table_div .row_head .col.colw5 {
    padding: 20px 19px 17px 5px;
    width: 17%;
  }
  .lk_payments .table_div .col.col2t {
    width: 23%;
    padding: 38px 10px 38px 19px;
  }
  .lk_payments .table_div .col.col3t {
    width: 15%;
  }
  .lk_payments .table_div .col.col5t {
    width: 12%;
  }
}
@media (max-width: 991px) {
  .body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-5 {
    width: 41.66666667%;
  }
  .body_page .lk__first .row.tablediv_row.tablediv_row_hover .col-xs-3 {
    width: 25%;
  }
  .body_page .lk__first .tablediv_head::after {
    width: 97%;
  }
  .body_page .lk__first .tablediv_row::after {
    width: 97%;
  }
  .body_page .fi_radio_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 48px;
  }
  .body_page .fi_radio {
    margin-right: 12px;
  }
  .body_page .block_curs .col-xs-6 {
    width: 33.33333333%;
  }
  .body_page .block_curs .col-xs-3 {
    width: 33.33333333%;
    text-align: center;
  }
  .body_page .block.img_01 {
    -webkit-background-size: 24% 24%;
    -moz-background-size: 24%;
    -o-background-size: 24%;
    background-size: 24%;
  }
  .tablediv_head_col-2 {
    width: 25%;
    text-align: center;
  }
  .tablediv_head_col-3 {
    width: 41.66666667%;
  }
  .show_hover {
    width: 110px;
    float: right;
  }
  .body_page .alert-dismissable .close,
  .body_page .alert-dismissible .close {
    right: 20px;
  }
  .bl_video {
    margin: 0 auto;
    width: 50%;
  }
  .lk_payments .table_div .col.col1t {
    padding: 0px 7px 0px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .lk_payments .table_div .col.col2t {
    font-size: 14px;
  }
  .lk_payments .table_div .col.col3t {
    font-size: 14px;
  }
  .lk_payments .table_div .col.col4t {
    word-spacing: 1px;
    font-size: 14px;
  }
  .lk_payments .table_div .col.col5t {
    font-size: 14px;
  }
  .lk_payments .table_div .row:hover .col.colw5 .hidep {
    margin-left: 10px;
  }
  .lk_payments .table_div .row_head .col.colw4 {
    width: 24%;
    /* padding: 20px 5px 20px 20px;*/
  }
  .lk_payments .table_div .row_head .col.colw5 {
    /* padding: 20px 19px 17px 5px;*/
    width: 19%;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right {
    padding-right: 30px;
  }
  .lk_payments .adpt__paym-left-line {
    padding-left: 10px;
  }
  .lk_payments .adpt__pay-left-link-1 {
    display: block;
  }
  .lk_payments .adpt__pay-left-link-1 a {
    padding-left: 46px;
    display: block;
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 0;
  }
  .lk_payments .adpt__pay-left-link-2 {
    display: block;
  }
  .lk_payments .adpt__pay-left-link-2 a {
    padding-left: 46px;
    display: block;
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 0;
  }
  .lk_payments .adpt__pay-left-link-3 {
    display: block;
  }
  .lk_payments .adpt__pay-left-link-3 a {
    padding-left: 46px;
    display: block;
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 0;
  }
}
@media (max-width: 880px) {
  .lk_payments .pg_payments .pg_payments_main .page_left {
    max-width: 240px;
    min-width: 240px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .paddingl_80 {
    padding-left: 10px;
  }
  .lk_payments .table_div .col.col1t {
    padding: 0px 7px 0px 14px;
    width: 20%;
  }
  .lk_payments .table_div .col.col3t {
    width: 13%;
    padding: 38px 3px 38px 7px;
  }
  .lk_payments .table_div .col.col5t {
    padding: 38px 7px 38px 7px;
  }
  .lk_payments .table_div .row_head .col {
    letter-spacing: normal;
  }
  .lk_payments .table_div .row_head .col.colw3 {
    padding: 20px 3px 20px 6px;
  }
  .lk_payments .table_div .row_head .col.colw5 {
    padding: 20px 14px 17px 5px;
  }
}
@media (max-width: 767px) {
  .lk_payments .pg_payments .pg_payments_main {
    display: block;
  }
  .lk_payments .pg_payments .pg_payments_main .row {
    margin-right: 0;
    margin-left: 0;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left {
    min-width: 0;
    max-width: auto;
    max-width: none;
    width: 100%;
    -webkit-box-shadow: 0 0 14px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0 0 14px rgba(128, 128, 128, 0.2);
    box-shadow: 0 0 14px rgba(128, 128, 128, 0.2);
    z-index: 2;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .a_v1 {
    display: inline;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-h {
    width: 45%;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-h p {
    text-align: left;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-btn {
    width: 50%;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-watch {
    background-image: none;
    display: none;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-round {
    margin-bottom: 20px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right {
    padding-right: 0;
    width: 100%;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap .plitka_div {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 20px;
  }
  .lk_payments .adpt__pay-left-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .lk_payments .adpt__pay-left-link-1 {
    margin-bottom: 0;
    width: auto;
  }
  .lk_payments .adpt__pay-left-link-2 {
    margin-bottom: 0;
    width: auto;
  }
  .lk_payments .adpt__pay-left-link-3 {
    margin-bottom: 0;
    width: auto;
  }
  .lk_payments .adpt__paym-left-round .epana_panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .lk_payments .adpt__paym-left-round h3 {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 8px;
  }
  .lk_payments .adpt__paym-left-round h3 br {
    display: none;
  }
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1:after {
    height: 50px;
  }
}
@media (max-width: 640px) {
  .asdgsdagsdg {
    position: relative;
  }
}
@media (max-width: 570px) {
  .body_page .alert-dismissible .close {
    right: 20px;
  }
  .body_page .alert-dismissible a {
    font-weight: 600 !important;
    display: block;
    margin-top: 3px;
  }
  .lk_dashboard .body_page .fi_radio_wrap {
    padding-left: 0;
  }
  .lk_dashboard .bl_video {
    margin: 0 auto;
    width: 70%;
  }
  .lk_dashboard .bl_video .bl_video_text_panel .data {
    font-size: 13px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .paddingl_80 {
    padding-left: 0;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu {
    margin-top: 25px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu div a.sel_card::before {
    top: 0;
  }
  .lk_payments .adpt__pay-left-link-1 a {
    padding-left: 38px;
  }
  .lk_payments .adpt__pay-left-link-2 a {
    padding-left: 38px;
  }
  .lk_payments .adpt__pay-left-link-3 a {
    padding-left: 38px;
  }
  .lk_documents .aa__doc-prvd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .lk_documents .aa__doc-prvd .col-xs-4.fs_s20.fs_Pragmatica.col-mini {
    width: 100%;
    margin-bottom: 10px;
  }
  .lk_documents .aa__doc-prvd .col-xs-3.col-mini.fi_radio_wrap {
    width: 45%;
  }
  .lk_documents .aa__doc-prvd .col-xs-5.col-mini.fi_radio_wrap {
    width: 45%;
    padding-left: 0;
  }
  .lk_documents .bl_video {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .lk_payments .pg_payments .pg_payments_main .page_left {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-round {
    display: none;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu {
    display: block;
    /* padding: 0 20px;*/
    padding: 0 50px;
    margin-top: 28px;
    margin-bottom: 30px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu .adpt__pay-left-link-1 {
    margin-bottom: 15px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu .adpt__pay-left-link-2 {
    margin-bottom: 15px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu .adpt__pay-left-link-3 {
    margin-bottom: 0;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu .adpt__pay-left-link-3 .sel_banks::before {
    top: -6px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_head {
    /* padding: 0 8px;*/
    padding: 0 39px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right {
    background-color: #f5f5f5;
    background-color: transparent;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right .page_right_head {
    margin: 0;
    display: none;
  }
  .lk_payments .adpt__pay-left-link-1 {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 15px;
  }
  .lk_payments .adpt__pay-left-link-1 a {
    padding-left: 48px;
  }
  .lk_payments .adpt__pay-left-link-2 {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 15px;
  }
  .lk_payments .adpt__pay-left-link-2 a {
    padding-left: 48px;
  }
  .lk_payments .adpt__pay-left-link-3 {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 0;
  }
  .lk_payments .adpt__pay-left-link-3 a {
    padding-left: 48px;
  }
}
@media (max-width: 425px) {
  .body_page .alert-dismissible a {
    display: inline-block;
  }
  .body_page .alert-dismissible .close {
    right: 20px;
    margin: 0;
    padding: 0;
    /* top: 20px;*/
    margin-top: -15px;
    width: 30px;
    display: inline-block;
    text-align: center;
  }
  .body_page .alert-dismissible .close span {
    top: auto;
    margin: 0;
  }
  .body_page .alert-dismissible .close .lk__close-top {
    margin: 0;
    padding: 0;
    display: none;
  }
  .lk_dashboard .bl_video {
    margin: 0 auto;
    width: 80%;
  }
  .body_page .lk__block .block .row.marginb_20:last-child {
    margin-bottom: 7px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_menu {
    padding: 0 40px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .page_left_head {
    padding: 0 20px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_left .adpt__paym-left-btn .button_round {
    margin-right: 0;
  }
  .lk_payments .plitka_div .col.col2t {
    margin-top: 40px;
  }
  .lk_payments .plitka_div .col.colw4 {
    top: 82px;
  }
  .lk_documents .body_page .alert-dismissible .close {
    font-size: 0;
    display: inline-block;
    text-align: center;
  }
  .lk_dashboard .alert .close span {
    float: none !important;
  }
}
@media (max-width: 375px) {
  .lk_dashboard .bl_video {
    margin: 0 auto;
    width: 90%;
  }
  .body_page .block.bl_blue .divtext {
    padding-left: 10px;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap .plitka_div .row {
    margin: 10px;
    width: 310px;
    height: 280px;
  }
  .lk_payments .plitka_div .col.colw4 {
    /* top: 82px;*/
    padding-right: 20px;
    width: 45%;
  }
  .fly__menu .left .menu-footer .vk {
    font-size: 0;
    width: 10px;
    height: 18px;
  }
  .fly__menu .left .menu-footer .fb {
    font-size: 0;
    width: 10px;
    height: 18px;
  }
  .fly__menu .left .scroller {
    padding-left: 60px;
  }
}
@media (max-width: 360px) {
  .body_page .alert-dismissible a {
    font-size: 14px;
  }
  .body_page .fi_radio_wrap {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .body_page .col-xs-5.col-mini.fi_radio_wrap {
    width: 40%;
  }
  .body_page .lk__block .block .row.marginb_20:last-child {
    margin-bottom: 7px;
  }
  .body_page .lk__video .bl_video .bl_video_text_panel {
    padding: 0px 0px 10px 14px;
  }
  .lk_dashboard .bl_video {
    width: 100%;
  }
  .tablediv_head_col.tablediv_head_col-1 {
    padding-right: 0;
  }
  .tablediv_head_col.tablediv_head_col-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .tablediv_head_col.tablediv_head_col-3 {
    padding-left: 0;
  }
  .row.marginb_20.marginb_40.lk__adapt-radio {
    margin: 0;
    margin-bottom: 25px;
  }
  .row.marginb_20.marginb_40.lk__adapt-radio .col-xs-4.fs_s20.fs_Pragmatica.col-mini {
    padding: 0 !important;
    width: 100%;
    margin-bottom: 15px;
  }
  .row.marginb_20.marginb_40.lk__adapt-radio .col-xs-3.col-mini.fi_radio_wrap {
    width: auto;
    margin-right: 60px;
    margin-left: 10px;
  }
  .row.marginb_20.marginb_40.lk__adapt-radio .col-xs-5.col-mini.fi_radio_wrap {
    width: auto;
  }
  .lk_payments .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap .plitka_div .row {
    width: 300px;
    height: 270px;
    margin: 0px auto 20px auto;
  }
  .lk_payments .plitka_div .col.colw4 {
    padding-right: 15px;
    width: 47%;
  }
  .lk_payments .plitka_div .col.colw1 {
    right: 50px;
    bottom: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (max-height: 430px) and (orientation: landscape) {
  .fly__menu .left .menu-dop a {
    line-height: 32px;
  }
  .fly__menu .left .left-menu-head-client div.item {
    height: auto;
    padding-top: 0px;
    margin: 7px 0;
    padding: 7px;
  }
  .fly__menu .left .left-menu-head-client div.item a {
    font-weight: 600;
  }
  .fly__menu .left .left-menu-head-client div.item a div.us_menu {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 18px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: none;
  }
  .fly__menu .left .scroller .niceScroll_lm2 {
    margin-top: 10px;
  }
  .fly__menu .left .menu-main a {
    font-size: 24px;
  }
}
