.dropdown--right .dropdown-menu {
  left: auto;
  right: 0;
}
.adv_plitka_blok {
  width: 1300px;
  margin: 0 auto;
}
.adv_plitka_blok .adv_plitka_img {
  margin: 0;
}
.adv_plitka_blok.adv_row_400x240 {
  width: 1300px;
}
.adv_plitka_blok .adv_plitka_wrap_400x240 {
  width: 400px;
  height: 240px;
}
.adv_plitka_blok.adv_row_485x90 {
  width: 1545px;
}
.adv_plitka_blok .adv_plitka_wrap_485x90 {
  width: 485px;
  height: 90px;
}
.adv_plitka_blok .adv_400x240,
.adv_plitka_blok .adv_485x90,
.adv_plitka_blok .adv_120x600 {
  width: 100%;
  height: 100%;
}
.adv_plitka_blok .adv_plitka_wrap_120x600 {
  width: 120px;
  height: 600px;
}
@media screen and (max-width: 1599px) {
  .adv_plitka_blok.adv_row_485x90 {
    width: 1040px;
  }
}
@media screen and (max-width: 1400px) {
  .adv_plitka_blok.adv_row_400x240 {
    width: 870px;
  }
  .adv_plitka_blok.adv_row_120x600 {
    width: 870px;
  }
}
@media screen and (max-width: 1060px) {
  .adv_plitka_blok.adv_row_485x90 {
    width: 100%;
  }
  .adv_plitka_blok .adv_plitka_wrap_485x90 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 485px;
  }
}
@media screen and (max-width: 991px) {
  .adv_plitka_blok.adv_row_120x600 {
    width: 450px;
  }
}
@media screen and (max-width: 880px) {
  .adv_plitka_blok.adv_row_400x240 {
    width: 100%;
  }
  .adv_plitka_blok .adv_plitka_wrap_400x240 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .lk_advertising .adv-head__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .lk_advertising .adv-head__buttons .button_round {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 570px) {
  .adv_plitka_blok.adv_row_120x600 {
    width: 310px;
  }
}
@media screen and (max-width: 400px) {
  .lk_advertising .adv-head__buttons {
    width: 100%;
  }
  .lk_advertising .adv-head__title {
    width: 100%;
  }
  .lk_advertising .adv-head__title h3 {
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  .adv_plitka_blok.adv_row_120x600 {
    width: 100%;
  }
  .adv_plitka_blok .adv_plitka_wrap_120x600 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 120px;
  }
}
