.body_page .lk__first {
    // padding: 35px 23px;
    padding: 35px 30px;
    .row.tablediv_row.tablediv_row_hover {
      .col-xs-3 {
        width: 23%;
      }
      .col-xs-5 {
        width: 43.666667%;
      }
    }
}
.fly__profile .right .profile-body .profile-body-foto-but img {
    border-radius: 100%;
}

.body_page .block.bl_blue .divtext input {
    padding-right: 10px;
}


.tablediv_row .tablediv_row_col .show_hover {
    display: block !important;
    transition:height 0.1s;
    height: 0;
    opacity: 0;
    overflow: hidden;
    a {
      font-weight: bold;
    }

}

.tablediv_row.tablediv_row_hover:hover {
  // padding-right: 13px;
  .show_hover {
      display: block;
      height: 66px;
      transition: 0.4s;
      opacity: 1;
  }
}

.hide_hover {
    display: block;
    height: 24px;
    transition: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
    font-family: 'PT Serif', serif;
}

.tablediv_row.tablediv_row_hover:hover .hide_hover {
    height: 0;
    display: block;
    overflow: hidden;
    transition: 0.3s, opacity 0s;
    text-align: right;
    opacity: 0;
}
.tablediv_row.tablediv_row_hover .text_align_right.hvcat {
    padding-left: 0;
}

.body_page {
  .fi_radio_wrap {
      font-weight: bold;
  }
  .block.img_01 {
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }
}

.body_page .block_curs {
    padding: 33px 23px 51px 23px;
  .fs_Pragmatica {
      margin-bottom: 32px;
      margin-top: 0;
  }
  .marginb_20 {
      margin-bottom: 8px;
  }
}

.col-xs-12.fs_s13.fs_wbold.text_align_right {
    height: auto !important;
}

.row .margint_40 {
    margin-top: 30px;
    .margint_40 {
        margin-top: 17px;
    }
}


.body_page {
  .lk__video {
    padding: 33px 30px 35px 30px;
    p {
        margin-bottom: 22px;
    }
    .fs_Pragmatica {
        margin-top: 0;
        margin-bottom: 24px;
    }
    .bl_video img {
        width: auto;
        border-radius: 4px;
        height: 210px;
        margin: 0 auto;
    }
    .bl_video .bl_video_text_panel {
      height: auto;
      padding: 0px 0px 15px 20px;
    }
    h4 {
        margin-bottom: 13px;
        margin-top: 46px;
    }
  }
  // 3 колонка
  .lk__3r {
    .img_01 {
      .fs_Pragmatica {
          margin-top: 44px;
      }
    }
  }
}
