@media screen and (min-width: 401px) and (max-width: 1024px) {
  .head__left_text {
    display: none;
  }
  .head__right .button {
    display: none;
  }
  .button {
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16 {
    /*font-size:12px!important;*/
  }
  .copy-xs {
    display: block;
    margin: 0 6px;
  }
  .copy-md {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .head__left_text {
    display: none;
  }
  .head__right .button {
    display: none;
  }
  .button {
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16 {
    /*font-size:12px!important;*/
  }
  .copy-xs {
    display: block;
    margin: 0 6px;
  }
  .copy-md {
    display: none;
  }
}
