@media screen and (max-width: 1600px) {
  .pg_payments .pg_payments_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pg_payments .pg_payments_main .page_right {
    width: 100%;
  }
  .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap {
    width: 100%;
    margin: 0 auto;
    float: left;
  }
}
@media screen and (max-width: 1210px) {
  .head__right .button {
    display: none;
  }
}
@media screen and (max-width: 1146px) {
  .head__left_text {
    display: none;
  }
  .pg_account .paddingl_80 {
    padding-left: 40px;
  }
  .adv_120x600 {
    width: 100%;
    height: 600px;
  }
  .adv_plitka_wrap_120x600 {
    width: 9%;
    height: 600px;
    float: left;
    margin: 10px;
  }
  .adv_row_120x600 {
    width: 100%;
    margin: 0 auto;
  }
  .adv_485x90 {
    height: 90px;
  }
  .adv_plitka_wrap_485x90 {
    width: 31%;
    height: 90px;
    float: left;
    margin: 10px;
  }
  .adv_row_485x90 {
    width: 100%;
    margin: 0 auto;
  }
  .adv_400x240 {
    height: 240px;
  }
  .adv_plitka_wrap_400x240 {
    width: 31%;
    height: 240px;
    float: left;
    margin: 10px;
  }
  .adv_row_400x240 {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16 {
    /*font-size:12px!important;*/
  }
  .copy-xs {
    display: block;
    margin: 0 6px;
  }
  .copy-md {
    display: none;
  }
  #modal_payment .modal-dialog .modal-content {
    width: 360px;
    height: 82%;
    overflow: auto;
    padding: 20px 0px;
  }
  #modal_registration .modal-dialog .modal-content {
    width: 360px;
    height: 82%;
    overflow: auto;
    padding: 20px 0px;
  }
  .body_page .block.bl_blue .divtext input {
    width: 99%;
  }
  .show_hover {
    display: block;
  }
  .show_hover a {
    font-size: 10px!important;
  }
  .show_hover a span {
    font-size: 8px!important;
  }
  .pg_account .paddingl_80 {
    padding-left: 10px;
  }
  .tablediv01 {
    background-color: #fff;
  }
  .tablediv01 .tablediv01_tr_td_head {
    display: block;
  }
  .tablediv01_head {
    display: none;
  }
  .fly__profile .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fly__profile .right .profile-menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f5;
    padding: 0px;
    padding-left: 20px;
  }
  .pg_payments .pg_payments_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pg_payments .pg_payments_main .page_left .a_v1 {
    font-size: 0;
  }
  .pg_payments .pg_payments_main .page_left .item {
    display: none;
  }
  .pg_payments .pg_payments_main .page_right {
    width: 100%;
  }
  .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap {
    width: 100%;
    margin: 0 auto;
    float: left;
  }
}
@media screen and (max-width: 880px) {
  .adv_120x600 {
    width: 100%;
    height: 200px;
  }
  .adv_plitka_wrap_120x600 {
    width: 42%;
    height: 200px;
    float: left;
    margin: 10px;
  }
  .adv_row_120x600 {
    width: 100%;
    margin: 0 auto;
  }
  .adv_485x90 {
    height: 90px;
  }
  .adv_plitka_wrap_485x90 {
    width: 42%;
    height: 90px;
    float: left;
    margin: 10px;
  }
  .adv_row_485x90 {
    width: 100%;
    margin: 0 auto;
  }
  .adv_400x240 {
    height: 200px;
  }
  .adv_plitka_wrap_400x240 {
    width: 42%;
    height: 200px;
    float: left;
    margin: 10px;
  }
  .adv_row_400x240 {
    width: 100%;
    margin: 0 auto;
  }
  .pg_payments .pg_payments_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pg_payments .pg_payments_main .page_left {
    width: 160px;
  }
  .pg_payments .pg_payments_main .page_left .a_v1 {
    font-size: 0;
  }
  .pg_payments .pg_payments_main .page_left .item {
    display: none;
  }
  .pg_payments .pg_payments_main .page_left .paddingl_80 {
    padding-left: 0;
    text-align: center;
  }
  .pg_payments .pg_payments_main .page_right {
    width: 100%;
  }
  .pg_payments .pg_payments_main .page_right .page_right_body .page_right_body_wrap {
    width: 100%;
    margin: 0 auto;
    float: left;
  }
}
@media screen and (max-width: 770px) {
  .pg_account_left_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pg_account_left_head .pgalh_r {
    text-align: right;
  }
  .pg_account_left_body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .pg_account_left_body div {
    width: initial;
  }
}
@media screen and (max-width: 570px) {
  .fly__profile .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .fly__profile .right .profile-body {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fly__profile .right .profile-body .profile-body-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    padding-top: 40px;
    padding-left: 45px;
    width: 380px;
  }
  .fly__profile .right .profile-body .profile-body-form .row {
    width: 100%;
    height: 46px;
  }
  .fly__profile .right .profile-body .profile-body-form .row .col-xs-4 {
    padding-top: 5px;
  }
  .fly__profile .right .profile-body .profile-body-form .row .col-xs-8.edt {
    color: #2675eb;
  }
  .fly__profile .right .profile-body .profile-body-form .row .col-xs-8.edt img {
    float: left;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p {
    -webkit-box-shadow: 0px 0px 64px #dfdfdf;
       -moz-box-shadow: 0px 0px 64px #dfdfdf;
            box-shadow: 0px 0px 64px #dfdfdf;
    padding: 10px;
    margin-left: 30px;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input {
    margin: 10px;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div .fi_input_sm {
    font-size: 10px;
    font-weight: bold;
    color: #a8a8a8;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div.last_div {
    margin-top: 40px;
  }
  .fly__profile .right .profile-body .profile-body-foto-but {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
  .head__fio {
    display: none;
  }
  .pg_payments .pg_payments_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pg_payments .pg_payments_main .page_left {
    width: 100%;
  }
  .pg_payments .pg_payments_main .page_left .page_left_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pg_payments .pg_payments_main .page_left .page_left_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .pg_payments .pg_payments_main .page_left .page_left_menu .margin_v18 {
    margin: 0;
  }
  .pg_payments .pg_payments_main .page_left .page_left_menu div a.sel_card::before {
    top: 8px;
  }
  .plitka_div .col.col2t.payments_td_name {
    width: initial;
  }
}
@media screen and (max-width: 400px) {
  .head__left_text {
    display: none;
  }
  .head__right .button {
    display: none;
  }
  .button {
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16 {
    /*font-size:12px!important;*/
  }
  .copy-xs {
    display: block;
    margin: 0 6px;
  }
  .copy-md {
    display: none;
  }
  #modal_payment .modal-dialog .modal-content {
    width: 90%;
    height: 82%;
    overflow: auto;
    padding: 20px 0px;
  }
  #modal_registration .modal-dialog .modal-content {
    width: 90%;
    height: 82%;
    overflow: auto;
    padding: 20px 0px;
  }
  .fly__profile .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .fly__profile .right .profile-menu div a {
    font-size: 10px;
  }
  .fly__profile .right .profile-menu div a img {
    margin: 5px 0px;
    margin-right: 10px;
  }
  .fly__profile .right .profile-body .profile-body-form .row .col-xs-8 input {
    width: 83%;
  }
  .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p {
    z-index: 100;
    margin-left: 0px;
    background-color: #fff;
  }
  .plitka_div .row:hover .col.col5t .hidep {
    margin-top: 56px;
  }
  .footer__right--soc_vk {
    margin: 0;
  }
  .footer__right--soc_ok {
    margin: 0 4px;
  }
  .pg_account_left_body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .pg_account_left_body div {
    width: 100%;
  }
}
