.fly__profile .right {
  background: white;
}
.fly__profile .right .profile-menu {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.fly__profile .right .flag.rus {
  margin-left: 0;
}
.fly__profile .right .pass-code {
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.fly__profile .right .pass-code img {
  width: 90px;
  height: auto;
  max-height: 50px;
}
.fly__profile .right .pass-code input {
  width: 50%;
}
.fly__profile .right .in_profile_pass {
  letter-spacing: 0.2em;
}
.fly__profile .right .in_profile_pass::-webkit-input-placeholder {
  color: #2675eb;
}
.fly__profile .right .in_profile_pass::-moz-placeholder {
  color: #2675eb;
}
.fly__profile .right .in_profile_pass::-moz-placeholder {
  color: #2675eb;
}
.fly__profile .right .in_profile_pass:-ms-input-placeholder {
  color: #2675eb;
}
.fly__profile .right .profile-body {
  position: relative;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
.fly__profile .right .profile-body .row {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.fly__profile .right .profile-body .profile-body-foto-but {
  position: relative;
  height: 247px;
}
.fly__profile .right .profile-body .profile-body-foto-but img {
  width: 100%;
  height: auto;
}
.fly__profile .right .profile-body .profile-body-form {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 28px;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p {
  width: 260px;
  height: 319px;
  margin-left: 87px;
  margin-bottom: 40px;
  padding: 34px 19px 20px 20px;
  -webkit-box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.11);
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.fly__profile .right .profile-body .profile-body-form .edt img {
  margin-top: 4px;
  margin-right: 8px;
}
.fly__profile .right .profile-body .profile-body-form .col-xs-4 {
  font-weight: bold;
  letter-spacing: 0.09em;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm:first-child {
  letter-spacing: 0.2em;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm {
  padding-bottom: 7px;
  margin: 0 0 38px 0;
  border-bottom: 2px solid #ebebeb;
  background: transparent;
  font: 300 16px 'Open Sans', sans-serif;
  font-weight: 600;
  color: #555555;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm::-webkit-input-placeholder {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.09em;
  color: #a8a8a8;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm::-moz-placeholder {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.09em;
  color: #a8a8a8;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm::-moz-placeholder {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.09em;
  color: #a8a8a8;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.fi_input_sm:-ms-input-placeholder {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.09em;
  color: #a8a8a8;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input.input-code {
  margin-left: 20px;
  margin-bottom: 5px;
}
.lk_account.lk_account_edit .tablediv01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lk_account.lk_account_edit .tablediv01 .tablediv01_tr_td_head {
  display: none;
}
.lk_account.lk_account_edit .tablediv01 .sort {
  padding-right: 28px;
  cursor: pointer;
}
.lk_account.lk_account_edit .tablediv01 .sort:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url(../img/icon-sort.png);
  background-repeat: no-repeat;
  display: block;
  right: 11px;
  top: 5px;
}
.lk_account.lk_account_edit .tablediv01 .text_head {
  text-align: right;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.09em;
}
.lk_account.lk_account_edit .tablediv01 .cell-text-small,
.lk_account.lk_account_edit .tablediv01 .cell-date {
  font-size: 10px;
  font-weight: 600;
  color: #4c4d4f;
  text-align: right;
  letter-spacing: 0.06em;
}
.lk_account.lk_account_edit .tablediv01 .cell-text-normal {
  font-family: 'PT Serif';
  font-size: 16px;
  color: #4c4d4f;
  text-align: right;
  letter-spacing: 0.02em;
}
.lk_account.lk_account_edit .tablediv01 .cell-description {
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: #a8a8a8;
  letter-spacing: 0.06em;
}
.lk_account.lk_account_edit .tablediv01 .no-commission {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.06em;
  color: #4c4d4f;
  text-align: right;
}
.lk_account.lk_account_edit .tablediv01 .acc-number {
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: #b2b2b2;
  text-align: right;
  text-transform: uppercase;
}
.lk_account.lk_account_edit .line-year {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
  color: #cccccc;
}
.lk_account.lk_account_edit .pg_account_left_head {
  margin-top: 40px;
  padding-left: 80px;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_l,
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r {
  display: inline-block;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_l {
  margin-right: 25px;
  font-family: 'Pragmatica';
  font-size: 20px;
  letter-spacing: 0.04em;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round {
  padding: 3px 29px 4px 15px;
  font-weight: 600;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round img {
  display: none;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round.img-info:after {
  content: "";
  position: absolute;
  background-image: url('../img/lk/info.png');
  background-repeat: no-repeat;
  right: 15px;
  top: 6px;
  width: 5px;
  height: 14px;
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round.info-act::after {
  background-image: url('../img/lk/info_gray.png');
}
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round.info-act,
.lk_account.lk_account_edit .pg_account_left_head .pgalh_r .button_round:hover {
  color: #4c4d4f;
}
.lk_account.lk_account_edit .pg_account_left_body {
  margin-top: 20px;
  padding-left: 65px;
  /* блок информации */
}
.lk_account.lk_account_edit .pg_account_left_body .acc_menu_item {
  margin: 13px 0px;
}
.lk_account.lk_account_edit .pg_account_left_body a {
  font-weight: 600;
  letter-spacing: 0.02em;
}
.lk_account.lk_account_edit .pg_account_left_body .account-info {
  margin-bottom: 5px;
  display: none;
}
.lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line {
  margin-bottom: 18px;
}
.lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-left {
  width: 124px;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.09em;
  color: #b2b2b2;
  padding-right: 28px;
}
.lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-right {
  text-align: left;
  font-family: 'PT Serif';
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #4c4d4f;
}
.lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-left,
.lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-right {
  display: inline-block;
}
.lk_account.lk_account_edit .head_wrap_table {
  padding-top: 44px;
}
.lk_account.lk_account_edit .head_wrap_table .filter_r {
  width: 100px;
  padding: 5px 24px 7px 14px;
  border: 2px solid #eceff3;
  color: #2675eb;
}
.lk_account.lk_account_edit .head_wrap_table .filter_r.act,
.lk_account.lk_account_edit .head_wrap_table .filter_r:hover {
  color: #4c4d4f;
}
.lk_account.lk_account_edit .head_wrap_table .filter_r::after {
  width: 12px;
  height: 12px;
  right: 11px;
  top: 5px;
}
.lk_account.lk_account_edit .head_wrap_table .filter_r.act::after {
  width: 12px;
  height: 12px;
  right: 11px;
  top: 5px;
}
.lk_account.lk_account_edit .tablediv01_head {
  padding-bottom: 20px;
}
.fly__calculator {
  position: absolute;
  right: 10px;
  bottom: 70px;
  background-image: url(../img/calculator.png);
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
  cursor: pointer;
}
.fly__chat {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url(../img/chat.png);
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
  cursor: pointer;
}
.fly__calculator.calc-fixed,
.fly__chat.chat-fixed {
  position: fixed;
  z-index: 90;
  -webkit-transition: bottom 0.6s;
  -o-transition: bottom 0.6s;
  -moz-transition: bottom 0.6s;
  transition: bottom 0.6s;
}
.fly__calculator.calc-act {
  bottom: 120px;
}
.fly__chat.chat-act {
  bottom: 60px;
}
.lk_account.lk_account_edit .container-fluid.pg_account {
  position: relative;
}
.fly__calculator {
  position: absolute;
  right: 20px;
  bottom: 80px;
  background-image: url('../img/calculator.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.fly__calculator-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* position: absolute; */
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1900;
  color: #fff;
}
.fly__calculator-panel .right {
  width: 420px;
  background: #2a2e34;
  -webkit-box-shadow: 0 9px 26px 0 #000;
     -moz-box-shadow: 0 9px 26px 0 #000;
          box-shadow: 0 9px 26px 0 #000;
  /* position: absolute; */
  position: fixed;
  right: 0;
  top: 70px;
  bottom: 0;
  padding-bottom: 54px;
  overflow: hidden;
}
.fly__calculator-panel .right a {
  color: #fff;
  text-decoration: none;
}
.fly__calculator-panel .right a:hover {
  color: #e94f86;
}
.fly__calculator-panel .right-wrap {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  /*overflow: auto;*/
  height: 100%;
  padding-bottom: 0;
  width: 100%;
}
.fly__calculator-panel .right-wrap .calcbody div.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.fly__calculator-panel .right-wrap .calcbody div.head h2 {
  font-size: 20px;
  color: #fff;
  margin-top: 0;
}
.fly__calculator-panel .right-wrap .calcbody table td {
  font-size: 16px;
  color: #fff;
}
.fly__calculator-panel .right-wrap .calcbody table td.head {
  font-size: 10px;
  color: #7f8081;
  padding-top: 30px;
}
.fly__calculator-panel .right-wrap .calcbody table td.select {
  border-bottom: 2px solid #f5f5f5;
  overflow: hidden;
  height: 34px;
  background: url("../img/arr_down_w.png") no-repeat 95%;
  margin-bottom: 30px;
  width: 50%!important;
}
.fly__calculator-panel .right-wrap .calcbody table td.select select {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background: transparent;
  height: 34px;
  padding: 5px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  color: #fff;
}
.fly__calculator-panel .right-wrap .calcbody table td.select select option {
  margin: 40px;
  background: #000;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
}
.fly__calculator-panel .right-wrap .calcbody table td.input {
  font-size: 10px;
  color: #7f8081;
  width: 50%;
  border-bottom: 2px solid #f5f5f5;
}
.fly__calculator-panel .right-wrap .calcbody table td.input input {
  width: 100%;
  color: #fff;
  background: transparent;
}
.fly__calculator-panel .right-wrap .calcresult {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background: #fff;
}
.fly__calculator-panel .right-wrap .calcresult .more-info {
  display: none;
}
.fly__calculator-panel .right-wrap .calcresult .res {
  font-size: 48px;
  color: #2675eb;
}
.fly__calculator-panel .right-wrap .calcresult .leg {
  font-size: 10px;
  color: #b2b2b2;
}
.fly__calculator-panel .right-wrap .calcresult .but {
  font-size: 13px;
  color: #2675eb;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.fly__calculator-panel .right-wrap .calcresult .more-info {
  display: none;
}
.fly__calculator-panel .right-wrap .calcresult .more-info table {
  width: 90%;
  margin: 0 auto;
}
.fly__calculator-panel .right-wrap .calcresult .more-info table td:nth-child(1) {
  font-size: 10px;
  color: #b2b2b2;
  width: 25%;
}
.fly__calculator-panel .right-wrap .calcresult .more-info table td:nth-child(2) {
  font-size: 16px;
  color: #4c4d4f;
  width: 20%;
  text-align: right;
}
.fly__calculator-panel .right-wrap .calcresult .more-info table td:nth-child(3) {
  font-size: 16px;
  color: #4c4d4f;
  width: 20%;
  text-align: right;
}
/*select на базе div с inputom*/
.fly__calculator-panel .fi_select {
  position: relative;
  border-bottom: 2px solid #f5f5f5;
  height: 34px;
  width: 100%;
  background: url("../img/select_arr.png") no-repeat 95%;
}
.fly__calculator-panel .fi_select .tx {
  cursor: pointer;
  color: #a8a8a8;
  font-size: 16px;
}
.fly__calculator-panel .fi_select .tx.sel {
  color: #4c4d4f;
  font-size: 16px;
  font-weight: bold;
}
.fly__calculator-panel .fi_select .pn {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
     -moz-border-radius-topleft: 0px;
          border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
     -moz-border-radius-topright: 0px;
          border-top-right-radius: 0px;
  top: 36px;
  left: 0px;
  -webkit-box-shadow: 0px 0px 63px #d2d2d2;
     -moz-box-shadow: 0px 0px 63px #d2d2d2;
          box-shadow: 0px 0px 63px #d2d2d2;
  z-index: 99;
}
.fly__calculator-panel .fi_select .pn .it {
  padding: 10px 20px;
  color: #2675eb;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.fly__calculator-panel .fi_select .pn .it:hover {
  color: #e94f86;
  font-size: 16px;
  font-weight: bold;
}
.fly__calculator-panel .fi_select.black {
  background: url("../img/arr_down_w.png") no-repeat 95%;
}
.fly__calculator-panel .fi_select.black .pn {
  -webkit-box-shadow: 0px 0px 63px #000;
     -moz-box-shadow: 0px 0px 63px #000;
          box-shadow: 0px 0px 63px #000;
}
.fly__calculator-panel .fi_select.black .tx {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: bold;
}
.fly__calculator-panel .fi_select.black .tx.sel {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.fly__chat,
.fly__feedback {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-image: url('../img/chat.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.fly__chat-panel,
.fly__feedback-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  width: 100%;
  z-index: 1900;
  color: #fff;
}
.fly__chat-panel .right,
.fly__feedback-panel .right {
  width: 420px;
  padding-bottom: 0;
  background: #2a2e34;
  -webkit-box-shadow: 0 9px 26px 0 #000;
     -moz-box-shadow: 0 9px 26px 0 #000;
          box-shadow: 0 9px 26px 0 #000;
  /* position: absolute; */
  position: fixed;
  right: 0;
  top: 71px;
  bottom: 0;
  overflow: hidden;
}
.fly__chat-panel .right-wrap,
.fly__feedback-panel .right-wrap {
  padding: 0;
  width: 100%;
  height: 100%;
}
.fly__chat-panel .right-wrap .feedbackpanel,
.fly__feedback-panel .right-wrap .feedbackpanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 30px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackhead,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackhead h2,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead h2 {
  cursor: pointer;
  font-weight: 300;
  color: white;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  margin: 0 30px 0 0;
  padding: 18px 0 0 0;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackhead .act,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .act,
.fly__chat-panel .right-wrap .feedbackpanel .feedbackhead h2:hover,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead h2:hover {
  border-top: 2px solid #2675eb;
  color: #2675eb;
  font-weight: 300;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  margin: 0 30px 0 0;
  padding: 18px 0 0 0;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left {
  margin: 37px 0;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 {
  height: 100%;
  overflow: hidden;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block {
  padding: 30px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 9px #191919;
     -moz-box-shadow: 0 0 9px #191919;
          box-shadow: 0 0 9px #191919;
  width: 320px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block .time,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block .time {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 10px;
  color: #f5f5f5;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client {
  background: #fff;
  margin: 20px 35px 25px 5px;
  position: relative;
  color: #4c4d4f;
  font-size: 16px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client:before,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client:before {
  content: "";
  background: url("../img/fb_client_say.png") no-repeat;
  position: absolute;
  top: 35px;
  left: -5px;
  width: 5px;
  height: 16px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin {
  background: #9399a1;
  margin-left: 35px;
  position: relative;
  color: #fff;
  font-size: 16px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin:before,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin:before {
  content: "";
  background: url("../img/fb_admin_say.png") no-repeat;
  position: absolute;
  top: 35px;
  right: -16px;
  width: 16px;
  height: 16px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbottom,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbottom .input,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom .input {
  width: 100%;
  padding-top: 25px;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbottom .input input,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom .input input {
  width: 100%;
  background: transparent;
  color: #fff;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbottom .clip,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom .clip {
  width: 32px;
  height: 76px;
  background: url("../img/icon_clip.png") no-repeat center;
  cursor: pointer;
}
.fly__chat-panel .right-wrap .feedbackpanel .feedbackbottom .say,
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom .say {
  width: 32px;
  height: 76px;
  background: url("../img/arr_right_b.png") no-repeat center;
  cursor: pointer;
}
.fly__chat-panel .right-wrap .faqpanel,
.fly__feedback-panel .right-wrap .faqpanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 30px;
}
.fly__chat-panel .right-wrap .faqpanel .faqhead,
.fly__feedback-panel .right-wrap .faqpanel .faqhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}
.fly__chat-panel .right-wrap .faqpanel .faqhead h2,
.fly__feedback-panel .right-wrap .faqpanel .faqhead h2 {
  cursor: pointer;
  color: white;
  font-weight: 300;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  margin: 0 30px 0 0;
  padding: 18px 0 0 0;
}
.fly__chat-panel .right-wrap .faqpanel .faqhead .act,
.fly__feedback-panel .right-wrap .faqpanel .faqhead .act,
.fly__chat-panel .right-wrap .faqpanel .faqhead h2:hover,
.fly__feedback-panel .right-wrap .faqpanel .faqhead h2:hover {
  border-top: 2px solid #2675eb;
  color: #2675eb;
  font-weight: 300;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  margin: 0 30px 0 0;
  padding: 18px 0 0 0;
}
.fly__chat-panel .right-wrap .faqpanel .faqhead .btn_close_left,
.fly__feedback-panel .right-wrap .faqpanel .faqhead .btn_close_left {
  margin: 37px 0;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody,
.fly__feedback-panel .right-wrap .faqpanel .faqbody {
  height: 100%;
  overflow: hidden;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll {
  overflow: auto;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item {
  margin: 15px 0;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item h3,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item h3 {
  font-size: 16px;
  color: #9399a1;
  cursor: pointer;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item h3:hover,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item h3:hover {
  color: #fff;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item.hover h3,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item.hover h3 {
  color: #fff;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer {
  font-size: 16px;
  color: #fff;
  display: none;
  border-left: 2px solid #5f646b;
  padding-left: 16px;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer p,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer p {
  font-size: 16px;
  color: #fff;
}
.fly__chat-panel .right-wrap .faqpanel .faqbody .faqbody_scroll.hover h3,
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll.hover h3 {
  color: #9399a1;
}
.fly__feedback-panel .right-wrap .feedbackpanel {
  margin: 0;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  height: initial;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .item {
  float: left;
  margin-right: 30px;
  padding-top: 20px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .item:hover {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .item:last-child {
  margin-right: 0;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .item.act {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left {
  float: right;
  margin: 26px 0;
  margin-bottom: 0;
  color: #9399a1;
  padding: 0;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left:hover {
  color: #fff;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block:last-child {
  margin-bottom: 120px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block:first-child {
  margin-top: 40px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin {
  margin-right: 5px;
  margin-left: auto;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client {
  margin-bottom: 50px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block .time {
  left: 30px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block p {
  font-weight: 400;
  font-family: 'PT Serif', serif;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  z-index: 2;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom {
  margin-left: 40px;
  margin-right: 40px;
}
.fly__feedback-panel .right-wrap .feedbackpanel .feedbackbottom .say {
  width: 6px;
}
.fly__feedback-panel .right-wrap .faqpanel {
  margin: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  height: initial;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .item {
  float: left;
  margin-right: 30px;
  padding-top: 20px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .item:hover {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .item:last-child {
  margin-right: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .item.act {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .btn_close_left {
  float: right;
  margin: 26px 0;
  margin-bottom: 0;
  color: #9399a1;
  padding: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackhead .btn_close_left:hover {
  color: #fff;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block:last-child {
  margin-bottom: 120px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block:first-child {
  margin-top: 40px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block.admin {
  margin-right: 5px;
  margin-left: auto;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block.client {
  margin-bottom: 50px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block .time {
  left: 30px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1 .block p {
  font-weight: 400;
  font-family: 'PT Serif', serif;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  z-index: 2;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbdody1:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbottom {
  margin-left: 40px;
  margin-right: 40px;
}
.fly__feedback-panel .right-wrap .faqpanel .feedbackbottom .say {
  width: 6px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  height: initial;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .item {
  float: left;
  margin-right: 30px;
  padding-top: 20px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .item:hover {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .item:last-child {
  margin-right: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .item.act {
  padding-top: 18px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .btn_close_left {
  float: right;
  margin: 26px 0;
  margin-bottom: 0;
  color: #9399a1;
  padding: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .faqhead .btn_close_left:hover {
  color: #fff;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item h3 {
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer p {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item .answer p:last-child {
  margin-bottom: 0;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item:last-child {
  margin-bottom: 120px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody .faqbody_scroll .fb_item:first-child {
  margin-top: 40px;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  z-index: 2;
}
.fly__feedback-panel .right-wrap .faqpanel .faqbody:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 46, 52, 0)), to(#2a2e34));
  background: -webkit-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -moz-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: -o-linear-gradient(top, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
  background: linear-gradient(to bottom, rgba(42, 46, 52, 0) 0%, #2a2e34 100%);
}
.btn_close_left {
  position: relative;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
}
.btn_close_left:hover {
  color: #e94f86;
}
.btn_close_left::before {
  content: "";
  position: absolute;
  background-position: -5px -31px;
  width: 10px;
  height: 10px;
  background-image: url(../img/spritesheet1.png);
  background-repeat: no-repeat;
  display: block;
  top: 7px;
  left: -14px;
  margin-top: -4px;
  z-index: 51;
}
.btn_close_left:hover::before {
  content: "";
  position: absolute;
  background-position: -5px -31px;
  width: 10px;
  height: 10px;
  background-image: url(../img/spritesheet1.png);
  background-repeat: no-repeat;
  display: block;
  top: 7px;
  left: -14px;
  margin-top: -4px;
  z-index: 51;
}
#modal_payment .modal-body {
  padding-left: 29px;
  padding-right: 29px;
}
#modal_payment .modal_payment_title {
  font-family: 'Pragmatica';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.04em;
  margin-top: 0px;
}
#modal_payment .edit_dropdown-title {
  font-weight: bold;
  letter-spacing: 0.09em;
}
#modal_payment .fi_input.pass1 {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 12px;
}
#modal_payment .pass-traider {
  height: 66px;
  margin-top: 25px;
  margin-bottom: 0;
}
#modal_payment .pass-investor {
  margin-bottom: 24px;
}
#modal_payment .pass-traider .fi_input,
#modal_payment .pass-investor .fi_input {
  font-weight: 400;
  letter-spacing: 0.02em;
}
#modal_payment .marginb_20 {
  margin-bottom: 10px;
}
#modal_payment .checkbox-send {
  margin-bottom: 31px;
}
#modal_payment .checkbox-send .text {
  font-weight: 600;
  letter-spacing: 0.06em;
}
.menu-open {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-height: 1003px) {
  .lk_advertising .fly__calculator.calc-fixed {
    bottom: 120px;
  }
  .lk_advertising .fly__chat.chat-fixed {
    bottom: 60px;
  }
}
@media (max-width: 1541px) {
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head .pgalh_l {
    margin-bottom: 20px;
  }
}
@media (max-width: 1300px) {
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head {
    padding-left: 30px;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head .pgalh_l {
    margin-bottom: 20px;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body {
    padding-left: 16px;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info {
    width: 100%;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info__line .col-left {
    text-align: left;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info__line .col-right {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head {
    padding: 0 30px;
    display: block;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head::before,
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head::after {
    display: none;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head .pgalh_l {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body {
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info__line .col-left {
    text-align: left;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info__line .col-right {
    width: 100%;
  }
  .lk_account.lk_account_edit .pg_account_right .filter_wrap {
    padding-left: 15px;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01_head {
    display: none;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .tablediv01_tr_td_head {
    display: block;
    font-size: 11px;
    font-weight: 600;
    text-align: left;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 22px;
    /* блок "создано/номер" */
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell.cell-text-small,
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell.no-commission,
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell .cell-date {
    font-size: 13px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell.cell-text-small .created {
    line-height: 23px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell.cell-text-normal {
    font-size: 18px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell .cell-date {
    margin-bottom: 4px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell .acc-number {
    margin-top: 4px;
    font-size: 14px;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell-description {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .lk_account.lk_account_edit .pg_account_right .tablediv01 .cell-description .tablediv01_tr_td_head {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_head .pgalh_l {
    margin: 0;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info {
    width: 100%;
  }
  .lk_account.lk_account_edit .pg_account_left .pg_account_left_body .account-info__line .col-right {
    width: auto;
  }
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1:after {
    height: 40px;
  }
}
@media (max-width: 570px) {
  .lk_dashboard .fly__profile .right .profile-menu div a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lk_dashboard .fly__profile .right .profile-body {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .lk_dashboard .fly__profile .right .profile-body .profile-body-form {
    width: 100%;
    min-height: 305px;
    max-width: 350px;
    padding-left: 0;
    padding-right: 0;
  }
  .lk_dashboard .fly__profile .right .profile-body .profile-body-form .in_profile_pass_p {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .fly__calculator-panel .right {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .fly__chat-panel .right,
  .fly__feedback-panel .right {
    width: 100%;
  }
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block {
    width: 80%;
  }
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client p,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client p,
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin p,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin p {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-left {
    text-align: left;
  }
  .lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line .col-right {
    text-align: right;
  }
  .lk_account.lk_account_edit .pg_account_left_body .account-info .account-info__line div {
    width: auto;
  }
}
@media (max-width: 340px) {
  .fly__calculator-panel .right-wrap .calcbody div.head {
    margin-bottom: 10px;
  }
  .fly__calculator-panel .right-wrap .calcbody div.head h2 {
    font-size: 18px;
  }
}
@media (min-width: 571px) and (max-width: 1024px) {
  .lk_dashboard .fly__profile .right .profile_close {
    position: fixed;
    bottom: 0;
  }
}
@media (max-height: 580px) {
  .fly__calculator-panel .right {
    padding-bottom: 0;
  }
  .fly__calculator-panel .right .right-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .fly__calculator-panel .right .right-wrap .calcbody {
    padding-left: 30px;
    padding-right: 30px;
  }
  .fly__calculator-panel .right .right-wrap .calcbody .head {
    margin-bottom: 0;
  }
  .fly__calculator-panel .right .right-wrap .calcresult {
    margin-top: 40px;
    position: relative;
  }
}
@media (max-width: 400px) {
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left {
    padding: 0;
  }
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead,
  .fly__feedback-panel .right-wrap .faqpanel .faqhead {
    margin-left: 24px;
    margin-right: 24px;
  }
}
