/* Sticky footer styles*/
html {
  position: relative;
  min-height: 100%;
  background-color: #f5f5f5;
}
body {
  padding-top: 70px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
* {
  font: 300 16px 'Open Sans', sans-serif;
}
.copy-xs {
  display: none;
}
.fs {
  /*стили шрифта*/
}
.fs_b {
  color: #2675eb !important;
  font-size: inherit;
}
.fs_r {
  color: #e94f86 !important;
  font-size: inherit;
}
.fs_g1 {
  color: #4c4d4f !important;
  font-size: inherit;
}
.fs_g2 {
  color: #7f8081 !important;
  font-size: inherit;
}
.fs_g3 {
  color: #a8a8a8 !important;
  font-size: inherit;
}
.fs_g4 {
  color: #d7d7d7 !important;
  font-size: inherit;
}
.fs_g5 {
  color: #f5f5f5 !important;
  font-size: inherit;
}
.fs_cw {
  color: #fff!important;
  font-size: inherit;
}
.fs_s10 {
  font-size: 10px!important;
}
.fs_s13 {
  font-size: 13px!important;
}
.fs_s14 {
  font-size: 14px!important;
}
.fs_s16 {
  font-size: 16px!important;
}
.fs_s20 {
  font-size: 20px!important;
}
.fs_s40 {
  font-size: 40px!important;
}
.fs_s48 {
  font-size: 48px!important;
}
.fs_w400 {
  font-weight: 400;
}
.fs_wbold {
  font-weight: bold;
}
.fs_PTserif {
  font-family: 'PT Serif', serif;
}
.fs_OpenSans {
  font-family: 'Open Sans', sans-serif;
}
.fs_Pragmatica {
  font-family: 'Pragmatica Light';
}
a {
  color: #4c4d4f;
  text-decoration: none;
}
a:hover {
  color: #e94f86;
  text-decoration: none;
}
a.a1 {
  color: #2675eb;
  text-decoration: none;
}
a.a1.act,
a.a1:hover {
  color: #4c4d4f;
  text-decoration: none;
}
.a_v1 {
  /*синие ссылки ховер - серые*/
  font-size: 16px;
  color: #2675eb;
  text-decoration: none;
  font-weight: bold;
}
.a_v1.act,
.a_v1:hover {
  color: #4c4d4f;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.a_13b {
  /*13 синие ссылки ховер - серые*/
  font-size: 13px;
  color: #2675eb;
  text-decoration: none;
  font-weight: bold;
}
.a_13b span {
  font-size: 9px;
}
.a_13b.act,
.a_13b:hover {
  color: #4c4d4f;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
.button {
  /*кнопка с фоном закругленная*/
  -webkit-border-radius: 21px;
     -moz-border-radius: 21px;
          border-radius: 21px;
  padding: 9px 30px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  display: inline-block;
  margin: 0px 8px;
}
.button.pink {
  background: #fb84ae;
  background: -moz-linear-gradient(top, #fb84ae 0%, #e94f86 100%);
  background: -webkit-linear-gradient(top, #fb84ae 0%, #e94f86 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fb84ae), to(#e94f86));
  background: -o-linear-gradient(top, #fb84ae 0%, #e94f86 100%);
  background: linear-gradient(to bottom, #fb84ae 0%, #e94f86 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb84ae', endColorstr='#e94f86', GradientType=0);
  color: #fff;
}
.button.pink:hover {
  background: #ffa2c3;
  background: -moz-linear-gradient(top, #ffa2c3 0%, #f45d93 100%);
  background: -webkit-linear-gradient(top, #ffa2c3 0%, #f45d93 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa2c3), to(#f45d93));
  background: -o-linear-gradient(top, #ffa2c3 0%, #f45d93 100%);
  background: linear-gradient(to bottom, #ffa2c3 0%, #f45d93 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa2c3', endColorstr='#f45d93', GradientType=0);
  -webkit-border-radius: 21px;
     -moz-border-radius: 21px;
          border-radius: 21px;
  cursor: pointer;
}
.button.blue {
  background: #2c7bf0;
  background: -moz-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: -webkit-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#2c7bf0), to(#2675eb));
  background: -o-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: linear-gradient(to bottom, #2c7bf0 0%, #2675eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c7bf0', endColorstr='#2675eb', GradientType=0);
}
.button.blue:hover {
  background: #2c7bf0;
  background: -moz-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: -webkit-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#2c7bf0), to(#2675eb));
  background: -o-linear-gradient(top, #2c7bf0 0%, #2675eb 100%);
  background: linear-gradient(to bottom, #2c7bf0 0%, #2675eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c7bf0', endColorstr='#2675eb', GradientType=0);
  -webkit-border-radius: 21px;
     -moz-border-radius: 21px;
          border-radius: 21px;
  cursor: pointer;
}
.button:active {
  -webkit-box-shadow: inset 2px 5px 12px -3px #000;
     -moz-box-shadow: inset 2px 5px 12px -3px #000;
          box-shadow: inset 2px 5px 12px -3px #000;
}
.button.size1 {
  padding: 9px 20px;
  font-size: 16px;
  margin-left: 26px;
}
.button_round {
  /*кнопка закругленная с границей*/
  white-space: nowrap;
  border: 2px solid #eceff3;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  font-size: 13px;
  font-weight: bold;
  color: #2675eb;
  padding: 3px 17px 4px 17px;
  display: inline-block;
  cursor: pointer;
}
.button_round.br_blue {
  border: 2px solid #68a4fd;
}
.button_round span {
  font-size: 11px;
  font-weight: normal;
}
.button_round img {
  display: inline-block;
  margin: 0px 10px;
}
.button_round:hover .buttondiv span {
  color: #fff!important;
}
.flag {
  width: 22px;
  height: 16px;
  display: inline-block;
  margin: 0px 10px;
}
.flag.rus {
  background: url("../img/flags/rus.png") no-repeat;
}
.flag.usa {
  background: url("../img/flags/usa.png") no-repeat;
}
.flag.canada {
  background: url("../img/flags/canada.png") no-repeat;
}
.flag.hz {
  background: url("../img/flags/hz.png") no-repeat;
}
.flag.japan {
  background: url("../img/flags/japan.png") no-repeat;
}
.fi_radio {
  /*радио кнопка*/
  width: 26px;
  height: 26px;
  border: 1px solid #eceff3;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  display: inline-block;
  position: relative;
}
.fi_radio.checked {
  position: relative;
}
.fi_radio.checked::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #2675eb;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.fi_radio_wrap {
  /*оболочка для радио кнопки*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  cursor: pointer;
}
.fi_radio_wrap.al {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 13px;
  font-weight: bold;
  color: #4c4d4f;
}
.fi_input {
  font-weight: bold;
  width: 100%;
  padding-bottom: 10px;
}
.fi_input.regular {
  font-weight: normal;
}
.fi_input.border_bottom {
  border-bottom: 2px solid #f5f5f5;
}
.fi_input .fi_input_sspan {
  padding-right: 30px;
}
.fi_input_span {
  color: #a8a8a8;
  font-weight: normal;
  position: absolute!important;
  top: 7px!important;
  right: 24px!important;
}
.fi_input:focus {
  border-bottom: 2px solid #2675eb;
}
.fi_input_bsh {
  cursor: pointer;
}
.fi_input_bsh .tx {
  font-size: 16px;
  font-weight: bold;
}
.fi_input_inp {
  display: none;
}
.fi_select {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 10px;
}
.fi_select button {
  width: 100%;
  text-align: left;
  position: relative;
  background: transparent;
}
.fi_select button .tx {
  font-size: 16px;
  color: #4c4d4f;
  font-weight: bold;
}
.fi_select button .tx.nosel {
  font-size: 16px;
  color: #a8a8a8;
  font-weight: normal;
}
.fi_select button .caret {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
}
.fi_select button .caret::before {
  content: "";
  background-image: url("../img/arr_down_b.png");
  background-repeat: no-repeat;
  background-position: center;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.fi_select ul {
  width: 100%;
}
.fi_select_v1 .buttondiv {
  width: 100%;
  text-align: left;
  position: relative;
  background: transparent;
}
.fi_select_v1 .buttondiv .tx {
  font-size: 16px;
  color: #4c4d4f;
  font-weight: bold;
}
.fi_select_v1 .buttondiv .tx.nosel {
  font-size: 16px;
  color: #a8a8a8;
  font-weight: normal;
}
.fi_select_v1 .buttondiv .caret {
  /*position: relative;;
      right:0px; top:0px;
      border: none;*/
}
.fi_select_v1 .buttondiv .caret::before {
  content: "";
  /*background-image: url("../img/arr_down_b.png");
        background-repeat: no-repeat;
        background-position: center;*/
  right: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.fi_select_v1 ul {
  width: 100%;
}
.dropdown-menu {
  background: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
     -moz-border-radius-topleft: 0px;
          border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
     -moz-border-radius-topright: 0px;
          border-top-right-radius: 0px;
  top: 28px;
  left: 0px;
  -webkit-box-shadow: 0px 0px 63px #d2d2d2;
     -moz-box-shadow: 0px 0px 63px #d2d2d2;
          box-shadow: 0px 0px 63px #d2d2d2;
  z-index: 9999;
}
.dropdown-menu li {
  padding: 5px 0px;
  cursor: pointer;
}
.dropdown-menu li a {
  color: #2675eb;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 0px;
}
.dropdown-menu li a:hover {
  color: #e94f86;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}
.fi_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fi_checkbox .checkbox {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  margin-right: 10px;
}
.fi_checkbox .checkbox.checked {
  background-color: #eb5289;
  background-image: url('../img/fi_checkbox_checked.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #eb5289;
}
.col-mini {
  padding-left: 0px;
  padding-right: 0px;
}
.tablediv {
  /*таблица на дивах*/
}
.tablediv_head::after {
  content: "";
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  height: 2px;
  width: 91%;
  margin: 0 auto;
}
.tablediv_head .tablediv_head_col {
  color: #b2b2b2;
  font-size: 10px;
  text-transform: uppercase;
}
.tablediv_row::after {
  content: "";
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  height: 2px;
  width: 91%;
  margin: 0 auto;
}
.tablediv_row .tablediv_row_col {
  color: #4c4d4f;
  font-size: 16px;
  font-family: 'PT Serif', serif;
  padding-bottom: 30px;
  padding-top: 16px;
  white-space: nowrap;
}
.tablediv_row .tablediv_row_col .show_hover {
  display: none;
}
.tablediv_row.tablediv_row_hover {
  cursor: pointer;
}
.tablediv_row.tablediv_row_hover:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 64px #d6d6d6;
     -moz-box-shadow: 0px 0px 64px #d6d6d6;
          box-shadow: 0px 0px 64px #d6d6d6;
}
.tablediv_row.tablediv_row_hover:hover .hide_hover {
  display: none;
}
.tablediv_row.tablediv_row_hover:hover .show_hover {
  display: block;
}
.tablediv_row.tablediv_row_hover:hover .show_hover a {
  font-size: 13px;
  color: #2675eb;
}
.tablediv_row.tablediv_row_hover:hover .show_hover a span {
  font-size: 10px;
  color: #2675eb;
}
.tablediv_row.tablediv_row_hover:hover .text_bl1 {
  color: #e94f86;
}
.tablediv_row.tablediv_row_hover:hover .text_align_right.hvcat {
  text-align: left;
}
.tablediv01 {
  background-color: #fff;
  border-bottom: 2px solid #e6e6e6;
}
.tablediv01 .tablediv01_tr_td_head {
  display: none;
  color: #b2b2b2;
  font-size: 10px;
  text-transform: uppercase;
}
.tablediv01 .tablediv01_tr_td_head br {
  font-size: 10px;
}
.text_gr1 {
  font-size: 10px;
  color: #a8a8a8;
}
.text_bl1 {
  font-size: 16px;
  color: #2675eb;
  font-weight: bold;
}
.text_head {
  /*серый текст 10 uppercase*/
  color: #b2b2b2;
  font-size: 10px;
  text-transform: uppercase;
}
.text_16b {
  color: #4c4d4f;
  font-size: 16px;
  font-weight: bold;
}
.text_big_1 {
  color: #4c4d4f;
  font-size: 48px;
}
.text_align_right {
  text-align: right;
}
.text_align_center {
  text-align: center;
}
.margint_40 {
  margin-top: 40px;
}
.marginb_6 {
  margin-bottom: 6px;
}
.marginb_16 {
  margin-bottom: 16px;
}
.marginb_18 {
  margin-bottom: 18px;
}
.marginb_20 {
  margin-bottom: 20px;
}
.marginb_20i {
  margin-bottom: 20px!important;
}
.marginb_30 {
  margin-bottom: 30px;
}
.marginb_40 {
  margin-bottom: 40px;
}
.margint_120 {
  margin-top: 120px;
}
.paddingb_40 {
  padding-bottom: 40px;
}
.paddingl_80 {
  padding-left: 80px;
}
.paddingb_10 {
  padding-bottom: 10px;
}
.margin_v18 {
  margin: 18px 0px;
}
.bl_video {
  position: relative;
}
.bl_video img {
  width: 100%;
}
.bl_video .bl_video_play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/video_play.png');
  -webkit-background-size: 15% 15%;
     -moz-background-size: 15%;
       -o-background-size: 15%;
          background-size: 15%;
  cursor: pointer;
}
.bl_video .bl_video_text_panel {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 80px;
  padding: 10px;
}
.bl_video .bl_video_text_panel .data {
  color: #fff;
  font-size: 10px;
}
.bl_video .bl_video_text_panel .name {
  color: #fff;
  font-size: 16px;
}
.bl_video .bl_video_text_panel .avtor {
  color: #fff;
  font-size: 16px;
  font-family: 'PT Serif', serif;
}
.navbar {
  min-height: 70px;
}
.navbar .container {
  padding-left: 0px;
  margin-left: 12px;
}
.c-hamburger {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: none;
     -moz-border-radius: none;
          border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 34px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -8px;
}
.c-hamburger span::after {
  bottom: -8px;
}
.c-hamburger--htx {
  background-color: transparent;
}
.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  -o-transition: background 0s 0.3s;
  -moz-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
     -moz-transition-duration: 0.3s, 0.3s;
       -o-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
     -moz-transition-delay: 0.3s, 0s;
       -o-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, -o-transform;
  -moz-transition-property: top, transform, -moz-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform, -moz-transform, -o-transform;
}
.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, -o-transform;
  -moz-transition-property: bottom, transform, -moz-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform, -moz-transform, -o-transform;
}
.c-hamburger--htx.is-active {
  background-color: transparent;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
     -moz-transition-delay: 0s, 0.3s;
       -o-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.head__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.head__left_text {
  margin-left: 10px;
  padding-top: 22px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
.head__logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}
.head__avatar {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0px 10px;
}
.head__avatar img {
  width: 44px;
  height: 44px;
  top: 16px;
  position: absolute;
}
.head__avatar.is-active {
  content: "";
  background-image: url('../img/lk/x.png');
  background-position: center;
  background-repeat: no-repeat;
  top: 16px;
}
.head__avatar.is-active img {
  display: none;
}
.filter_r {
  position: relative;
  padding-right: 20px;
  line-height: 10px;
  border: 1px solid #eceff3;
  -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
  padding: 8px 22px 6px 9px;
  color: #4c4d4f;
  cursor: pointer;
  width: 90px;
  font-size: 13px;
  font-weight: bold;
}
.filter_r::after {
  content: "";
  position: absolute;
  /*.stitches-sprite("../img/spritesheet.png",-261px, -122px, 12px, 12px);*/
  background-image: url('../img/icon_filter_r.png');
  background-repeat: no-repeat;
  right: 8px;
  top: 6px;
  width: 14px;
  height: 13px;
}
.filter_r.act,
.filter_r:hover {
  position: relative;
  padding-right: 20px;
  line-height: 10px;
  border: 1px solid #eceff3;
  /*border-radius: 10px;
    padding: 5px 22px 5px 9px;*/
  color: #4c4d4f;
}
.filter_r.act::after,
.filter_r:hover::after {
  content: "";
  position: absolute;
  background-position: -261px -122px;
  width: 12px;
  height: 12px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  right: 8px;
  top: 6px;
}
.filter_p {
  /*панель фильтра статей и новостей*/
  background: #f5f5f5;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
  padding-right: 14px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter_p div {
  margin: 2px 21px 6px 18px;
}
.filter_p div .tx {
  color: #2675eb;
  font-weight: bold;
  font-size: 13px;
}
.filter_p div.select02 {
  position: relative;
  cursor: pointer;
}
.filter_p div.select02 strong {
  padding-left: 60px;
  font-size: 16px;
}
.filter_p div.select02::after {
  content: "";
  display: inline-block;
  top: 10px;
  right: -15px;
  position: absolute;
  background-position: -21px -72px;
  width: 10px;
  height: 6px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.filter_p div.select02.open::after {
  content: "";
  width: 12px;
  height: 12px;
  background: none;
}
.filter_p div.select02 .filter_flymenu {
  display: none;
  z-index: 9999;
  position: absolute;
  /*width: 200px;*/
  background: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-border-top-left-radius: 0px;
     -moz-border-radius-topleft: 0px;
          border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
     -moz-border-radius-topright: 0px;
          border-top-right-radius: 0px;
  top: 34px;
  left: 0px;
  -webkit-box-shadow: 0px 0px 63px #d4d4d4;
     -moz-box-shadow: 0px 0px 63px #d4d4d4;
          box-shadow: 0px 0px 63px #d4d4d4;
  margin: 0px;
  padding: 0px;
}
.filter_p div.select02 .filter_flymenu ul li {
  list-style: none;
  margin: 0px;
  padding: 4px 12px;
  white-space: nowrap;
}
.filter_p div.select02 .filter_flymenu ul li:hover {
  /*background: #cac8c8;*/
}
.filter_p div.select02 .filter_flymenu ul li a {
  font-size: 16px;
  font-weight: bold;
}
.fly__menu .left .left-menu-head-client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fly__menu .left .left-menu-head-client div.item {
  width: 25%;
  text-align: center;
  padding-top: 26px;
  -webkit-box-shadow: 1px 1px 0px 0px #373c43, 1px 1px 0px 1px #26292f;
     -moz-box-shadow: 1px 1px 0px 0px #373c43, 1px 1px 0px 1px #26292f;
          box-shadow: 1px 1px 0px 0px #373c43, 1px 1px 0px 1px #26292f;
  height: 106px;
}
.fly__menu .left .left-menu-head-client div.item a {
  color: #9399a1;
  font-size: 10px;
}
.fly__menu .left .left-menu-head-client div.item a img {
  margin: 0 auto;
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 36px;
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.pocket_wallet {
  background-image: url('../img/lk/pocket_wallet.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.pocket_wallet:hover {
  background-image: url('../img/lk/pocket_wallet_r.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.arrow {
  background-image: url('../img/lk/arrow.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.arrow:hover {
  background-image: url('../img/lk/arrow_r.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.case {
  background-image: url('../img/lk/case.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.case:hover {
  background-image: url('../img/lk/case_r.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.document {
  background-image: url('../img/lk/document.png');
}
.fly__menu .left .left-menu-head-client div.item a div.us_menu.document:hover {
  background-image: url('../img/lk/document_r.png');
}
.fly__menu .left .left-menu-head-client div.item a:hover {
  color: #ea5087;
}
.fly__profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  color: #fff;
  /*margin-left: -200px;*/
}
.fly__profile .right {
  background: #2a2e34;
  -webkit-box-shadow: 0px 0px 64px 0px #dcdcdc;
     -moz-box-shadow: 0px 0px 64px 0px #dcdcdc;
          box-shadow: 0px 0px 64px 0px #dcdcdc;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.fly__profile .right .profile-menu {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-left: 60px;
}
.fly__profile .right .profile-menu div {
  width: 100%;
  text-align: left;
}
.fly__profile .right .profile-menu div img {
  float: left;
  margin: 10px;
}
.fly__profile .right .profile-menu div a {
  color: #2675eb;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fly__profile .right .profile-menu div a:hover,
.fly__profile .right .profile-menu div a.act {
  color: #4c4d4f;
}
.fly__profile .right .profile-body {
  width: 580px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.fly__profile .right .profile-body .profile-body-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-top: 40px;
  padding-left: 45px;
  width: 380px;
}
.fly__profile .right .profile-body .profile-body-form .row {
  width: 100%;
  height: 46px;
}
.fly__profile .right .profile-body .profile-body-form .row .col-xs-4 {
  padding-top: 5px;
}
.fly__profile .right .profile-body .profile-body-form .row .col-xs-8.edt {
  color: #2675eb;
}
.fly__profile .right .profile-body .profile-body-form .row .col-xs-8.edt img {
  float: left;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p {
  -webkit-box-shadow: 0px 0px 64px #dfdfdf;
     -moz-box-shadow: 0px 0px 64px #dfdfdf;
          box-shadow: 0px 0px 64px #dfdfdf;
  padding: 10px;
  margin-left: 30px;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div input {
  margin: 10px;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div .fi_input_sm {
  font-size: 10px;
  font-weight: bold;
  color: #a8a8a8;
}
.fly__profile .right .profile-body .profile-body-form .in_profile_pass_p div.last_div {
  margin-top: 40px;
}
.fly__profile .right .profile-body .profile-body-foto-but {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  height: 100%;
  width: 200px;
}
.fly__profile .right .profile-body .profile-body-foto-but img {
  margin-top: 40px;
}
.fly__profile .right .profile-body .profile-body-foto-but div {
  margin-bottom: 40px;
}
.alert-warning {
  background-color: #4ef4e9;
  border-color: #4ef4e9;
}
.alert .close {
  font-size: 10px;
  color: #1bbbb1;
  background-color: #f0fffe;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding: 4px 14px;
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alert .close span {
  margin-right: 6px;
  top: 1px;
  position: relative;
  font-weight: bold;
}
.body_page {
  /*стили dashboard*/
  background-color: #f5f5f5;
}
.body_page .block {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 63px #d6d6d6;
     -moz-box-shadow: 0px 0px 63px #d6d6d6;
          box-shadow: 0px 0px 63px #d6d6d6;
  padding: 30px;
}
.body_page .block.img_01 {
  background-image: url("../img/banner_apple.png");
  background-repeat: no-repeat;
  -webkit-background-size: 36% 36%;
     -moz-background-size: 36%;
       -o-background-size: 36%;
          background-size: 36%;
  background-position: 100% 100%;
}
.body_page .block.img_02 {
  background-image: url("../img/banner_cashback.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 208px;
}
.body_page .block h3 {
  font-size: 20px;
  color: #5e5f62;
  margin-bottom: 30px;
}
.body_page .block h4 {
  font-size: 16px;
  color: #4c4d4f;
  margin-bottom: 20px;
}
.body_page .block p {
  font-size: 16px;
  color: #4c4d4f;
  margin-bottom: 16px;
  font-family: 'PT Serif', serif;
}
.body_page .block .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.body_page .block .head__left {
  text-align: left;
  color: #5e5f62;
  font-family: 'Pragmatica Light';
  font-size: 20px;
}
.body_page .block .head__right {
  text-align: right;
}
.body_page .block.bl_blue {
  background: #468ffc;
  background: -moz-linear-gradient(top, #468ffc 0%, #2675e9 100%);
  background: -webkit-linear-gradient(top, #468ffc 0%, #2675e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#468ffc), to(#2675e9));
  background: -o-linear-gradient(top, #468ffc 0%, #2675e9 100%);
  background: linear-gradient(to bottom, #468ffc 0%, #2675e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ffc', endColorstr='#2675e9', GradientType=0);
}
.body_page .block.bl_blue h3 {
  color: #fff;
  margin-bottom: 30px;
}
.body_page .block.bl_blue .text_head {
  color: #b2d0fd;
}
.body_page .block.bl_blue a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.body_page .block.bl_blue a:hover {
  color: #e94f86;
  font-size: 13px;
}
.body_page .block.bl_blue a span {
  font-weight: normal;
}
.body_page .block.bl_blue .divtext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px;
  color: #2675eb;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 40px;
}
.body_page .block.bl_blue .divtext input {
  background-color: transparent;
  width: 170px;
  color: #2675eb;
  font-size: 16px;
}
.body_page .block.bl_blue .divtext .copy {
  cursor: pointer;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
}
.body_page .block.bl_blue .divtext div {
  padding-top: 2px;
}
.pg_account {
  /*account стили*/
  background-color: #f5f5f5;
}
.head_wrap_table {
  /*отступ в основной части от верха и до содержимого - фильтры там*/
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  padding-left: 36px;
}
.table_ver1 th {
  background: #fff;
  border-bottom: 0px solid #f5f5f5!important;
}
.table_ver1 td {
  background: #fff;
  border-top: 2px solid #f5f5f5!important;
}
.adv_one_text {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #4c4d4f;
  font-weight: bold;
}
.adv_one_img {
  width: 100%;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 24px;
}
.adv_plitka_img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  margin: 10px -5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
.adv_120x600 {
  width: 120px;
  height: 600px;
}
.adv_plitka_wrap_120x600 {
  width: 120px;
  height: 600px;
  float: left;
  margin: 10px;
}
.adv_row_120x600 {
  width: 1300px;
  margin: 0 auto;
}
.adv_485x90 {
  /*width:400px;*/
  height: 90px;
}
.adv_plitka_wrap_485x90 {
  width: 485px;
  height: 90px;
  float: left;
  margin: 10px;
}
.adv_row_485x90 {
  width: 1520px;
  margin: 0 auto;
}
.adv_400x240 {
  /*width:400px;*/
  height: 240px;
}
.adv_plitka_wrap_400x240 {
  width: 400px;
  height: 240px;
  float: left;
  margin: 10px;
}
.adv_row_400x240 {
  width: 1300px;
  margin: 0 auto;
}
.adv.hover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color ease-out 0.5s;
  -o-transition: background-color ease-out 0.5s;
  -moz-transition: background-color ease-out 0.5s;
  transition: background-color ease-out 0.5s;
}
.adv.unhover {
  position: relative;
}
.adv.unhover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
.adv_plitka_blok:hover div .adv:not(:hover) {
  opacity: .75;
  -webkit-filter: brightness(1) opacity(0.5);
          filter: brightness(1) opacity(0.5);
}
.modal-dialog {
  /*центровка модального окна по вертикали*/
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-content {
  /*центровка модального окна по вертикали*/
  margin: 0 auto;
}
.modal_blur {
  /*размытие фона*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-filter: blur(5px);
  filter: url('/media/blur.svg#blur');
  filter: blur(5px);
}
.modal .modal-header {
  padding: 15px;
  border-bottom: none;
  padding-bottom: 0px;
}
.modal .modal-body {
  padding-top: 0px;
}
#modal_payment .modal-dialog {
  margin: 0px;
}
#modal_payment .modal-dialog .modal-content {
  margin-top: 70px;
  width: 360px;
  height: 480px;
  /*overflow: auto;
      padding: 20px 0px;*/
}
#modal_registration .modal-dialog {
  margin: 0px;
}
#modal_registration .modal-dialog .modal-content {
  margin-top: 70px;
  width: 360px;
  height: 600px;
  /*overflow: auto;
      padding: 20px 0px;*/
}
.navbar {
  z-index: 9999;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 63px #d6d6d6;
     -moz-box-shadow: 0px 0px 63px #d6d6d6;
          box-shadow: 0px 0px 63px #d6d6d6;
}
.footer__logo {
  background-image: url('../img/footer_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 120px;
}
.footer__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.footer__right--soc_vk {
  background: url(../img/footer_soc_vk.png) no-repeat;
  width: 32px;
  height: 8px;
  cursor: pointer;
}
.footer__right--soc_fc {
  background: url(../img/footer_soc_fc.png) no-repeat;
  width: 32px;
  height: 13px;
  cursor: pointer;
}
.footer__right--soc_ok {
  background: url(../img/footer_soc_ok.png) no-repeat;
  width: 32px;
  height: 14px;
  cursor: pointer;
}
.footer__right--studio {
  background: url(../img/footer_studio.png) no-repeat;
  width: 54px;
  height: 18px;
  cursor: pointer;
}
.fi_input.pass1:focus {
  border-bottom: none;
}
.fi_input.pass1 {
  padding-bottom: 0;
}
#pwindicator {
  margin-top: 4px;
  width: 150px;
}
.bar {
  height: 2px;
}
#pwindicator .label {
  padding-left: 0;
  font-size: 10px;
}
.pw-very-weak .bar {
  background: #d00;
  width: 30px;
}
.pw-very-weak .label {
  color: #d00;
}
.pw-weak .bar {
  background: #d00;
  width: 60px;
}
.pw-weak .label {
  color: #d00;
}
.pw-mediocre .bar {
  background: #f3f01a;
  width: 90px;
}
.pw-mediocre .label {
  color: #f3f01a;
}
.pw-strong .bar {
  background: #f3b31a;
  width: 120px;
}
.pw-strong .label {
  color: #f3b31a;
}
.pw-very-strong .bar {
  background: #0d0;
  width: 150px;
}
.pw-very-strong .label {
  color: #0d0;
}
.img-x {
  display: none;
}
.is-active .img-x {
  position: absolute !important;
  top: 0 !important;
  -webkit-border-radius: 22px;
     -moz-border-radius: 22px;
          border-radius: 22px;
}
.head__avatar.is-active img {
  display: block;
}
.head__avatar.is-active {
  top: 0;
}
