.pgabout {
  /*все на белом фоне*/
}
.pgabout .head__tel a {
  color: #4c4d4f;
  font-weight: bold;
  font-size: 16px;
}
.pgabout .head__tel::before {
  content: "";
  background: url('../img/head_tel.png') no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -16px;
  top: 6px;
}
.pgabout .head__nav {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
}
.pgabout .head__nav.sfonom__a {
  color: #fff;
}
.pgabout .head__nav.sfonom__a:hover {
  color: #2675eb;
}
.pgabout .head__nav.sfonom__a--act {
  color: #2675eb;
}
.pgabout .head__nav.sfonom .nav__a {
  color: #fff;
}
.pgabout .head__nav.sfonom .head__tel {
  color: #fff;
}
.pgabout .head__nav .nav__a {
  color: #4c4d4f;
}
.pgabout .head__nav__a {
  color: #4c4d4f;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  /*padding: 26px 24px 20px 24px*/
  margin: 2px 10px 12px 10px;
  padding-top: 24px;
}
.pgabout .head__nav__a--act {
  /*padding: 24px 24px 12px 24px;*/
  border-top-width: 2px;
  border-top-color: #2675eb;
  border-top-style: solid;
  color: #2675eb;
  margin: 0px 10px 12px 10px;
  padding-top: 24px;
}
.pgabout .head__nav__a--act:hover {
  /*padding: 24px 24px 12px 24px;*/
  border-top-width: 2px;
  border-top-color: #2675eb;
  border-top-style: solid;
  margin: 0px 10px 12px 10px;
  padding-top: 24px;
}
.pgabout .head__nav__a:hover {
  /*padding: 24px 24px 12px 24px;*/
  border-top-width: 2px;
  border-top-color: #2675eb;
  border-top-style: solid;
  color: #2675eb;
  margin: 0px 10px 12px 10px;
  padding-top: 24px;
}
.pgabout .head__nav .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.pgabout .head__logo {
  background-image: url("../img/logo_b.png");
}
.pgabout .head__but {
  display: none;
  color: #fff;
}
.pgabout .head__right-wrapr-r01 {
  color: #4c4d4f;
  border: 2px solid #e7ebf0;
}
.pgabout .head__right-wrapr-r01:hover {
  color: #2675eb;
  border: 2px solid #2675eb;
}
.pgabout .head__right-wrapr-r01:hover::before {
  background-image: url("../img/head_acc_b.png");
}
.pgabout .head__right-wrapr-r01::before {
  background-image: url("../img/head_acc_g.png");
}
.pgabout .head__right-wrapr-r02 {
  color: #4c4d4f;
  border: 2px solid #e7ebf0;
}
.pgabout .head__right-wrapr-r02:hover {
  color: #2675eb;
  border: 2px solid #2675eb;
}
.pgabout .head__right-wrapr-r02:hover::before {
  background-image: url("../img/head_mt4_hover.png");
}
.pgabout .head__right-wrapr-r02::before {
  background-image: url("../img/head_mt4_g.png");
}
.pgabout .head__right-wrapr-r03 {
  color: #4c4d4f;
  border: 2px solid #e7ebf0;
}
.pgabout .head__right-wrapr-r03:hover {
  color: #2675eb;
  border: 2px solid #2675eb;
}
.pgabout .head__right-wrapr-r03:hover::before {
  background-image: url("../img/head_arr_hover.png");
}
.pgabout .head__right-wrapr-r03::before {
  background-image: url("../img/head_arr_g.png");
}
.pgabout .menu-global {
  border-top: 2px solid #2675eb;
}
.pgprogramagent,
.pgprogram_cpa,
.pgprogram_region,
.pgabout_inworld,
.pgpartners_internet {
  /*все на темном фоне*/
}
.pgprogramagent .nav__a,
.pgprogram_cpa .nav__a,
.pgprogram_region .nav__a,
.pgabout_inworld .nav__a,
.pgpartners_internet .nav__a {
  color: #ffffff;
}
.pgprogramagent .nav__a:hover,
.pgprogram_cpa .nav__a:hover,
.pgprogram_region .nav__a:hover,
.pgabout_inworld .nav__a:hover,
.pgpartners_internet .nav__a:hover {
  margin: 0px 12px 12px 12px;
}
.pgprogramagent .nav__a--act,
.pgprogram_cpa .nav__a--act,
.pgprogram_region .nav__a--act,
.pgabout_inworld .nav__a--act,
.pgpartners_internet .nav__a--act {
  color: #2675eb;
}
.pgprogramagent .head__nav,
.pgprogram_cpa .head__nav,
.pgprogram_region .head__nav,
.pgabout_inworld .head__nav,
.pgpartners_internet .head__nav {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
}
.pgprogramagent .head__but,
.pgprogram_cpa .head__but,
.pgprogram_region .head__but,
.pgabout_inworld .head__but,
.pgpartners_internet .head__but {
  display: none;
  color: #fff;
}
.pgprogramagent .head__tel::before,
.pgprogram_cpa .head__tel::before,
.pgprogram_region .head__tel::before,
.pgabout_inworld .head__tel::before,
.pgpartners_internet .head__tel::before {
  content: "";
  background: url('../img/head_tel_b.png') no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -16px;
  top: 6px;
}
.pgprogramagent .main,
.pgprogram_cpa .main,
.pgprogram_region .main,
.pgabout_inworld .main,
.pgpartners_internet .main {
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pgprogramagent .main__center,
.pgprogram_cpa .main__center,
.pgprogram_region .main__center,
.pgabout_inworld .main__center,
.pgpartners_internet .main__center {
  margin: 14% 25% 0 12%;
}
.pgprogramagent .main__center-text,
.pgprogram_cpa .main__center-text,
.pgprogram_region .main__center-text,
.pgabout_inworld .main__center-text,
.pgpartners_internet .main__center-text {
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
}
.pgprogramagent .main__center-button,
.pgprogram_cpa .main__center-button,
.pgprogram_region .main__center-button,
.pgabout_inworld .main__center-button,
.pgpartners_internet .main__center-button {
  /*width:210px;*/
  font-size: 16px;
  color: #fff;
  background-color: #ef568d;
}
.pgprogramagent .main__footer,
.pgprogram_cpa .main__footer,
.pgprogram_region .main__footer,
.pgabout_inworld .main__footer,
.pgpartners_internet .main__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 10% 0 12%;
}
.pgprogramagent .main__footer-block,
.pgprogram_cpa .main__footer-block,
.pgprogram_region .main__footer-block,
.pgabout_inworld .main__footer-block,
.pgpartners_internet .main__footer-block {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  /*font-weight: bold;*/
  width: 25%;
}
.pgprogramagent .main__footer-block.item1::before,
.pgprogram_cpa .main__footer-block.item1::before,
.pgprogram_region .main__footer-block.item1::before,
.pgabout_inworld .main__footer-block.item1::before,
.pgpartners_internet .main__footer-block.item1::before {
  content: "";
  background: url('../img/pgprogramagent_footer_1.png') no-repeat;
  display: block;
  width: 64px;
  height: 50px;
  float: left;
}
.pgprogramagent .main__footer-block.item2::before,
.pgprogram_cpa .main__footer-block.item2::before,
.pgprogram_region .main__footer-block.item2::before,
.pgabout_inworld .main__footer-block.item2::before,
.pgpartners_internet .main__footer-block.item2::before {
  content: "";
  background: url('../img/pgprogramagent_footer_2.png') no-repeat;
  display: block;
  width: 64px;
  height: 50px;
  float: left;
}
.pgprogramagent .main__footer-block.item3::before,
.pgprogram_cpa .main__footer-block.item3::before,
.pgprogram_region .main__footer-block.item3::before,
.pgabout_inworld .main__footer-block.item3::before,
.pgpartners_internet .main__footer-block.item3::before {
  content: "";
  background: url('../img/pgprogramagent_footer_3.png') no-repeat;
  display: block;
  width: 64px;
  height: 50px;
  float: left;
}
.pgprogramagent .main__footer-block.item4::before,
.pgprogram_cpa .main__footer-block.item4::before,
.pgprogram_region .main__footer-block.item4::before,
.pgabout_inworld .main__footer-block.item4::before,
.pgpartners_internet .main__footer-block.item4::before {
  content: "";
  background: url('../img/pgprogramagent_footer_4.png') no-repeat;
  display: block;
  width: 64px;
  height: 80px;
  float: left;
  background-position: 50% 50%;
}
.pgprogramagent .main__menu,
.pgprogram_cpa .main__menu,
.pgprogram_region .main__menu,
.pgabout_inworld .main__menu,
.pgpartners_internet .main__menu {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 10px;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 100;
  display: none;
  width: 100%;
  background: #fff;
}
.pgprogramagent .main__menu .myslide_nav,
.pgprogram_cpa .main__menu .myslide_nav,
.pgprogram_region .main__menu .myslide_nav,
.pgabout_inworld .main__menu .myslide_nav,
.pgpartners_internet .main__menu .myslide_nav {
  text-align: right;
}
.pgprogramagent .main__menu .myslide_nav a,
.pgprogram_cpa .main__menu .myslide_nav a,
.pgprogram_region .main__menu .myslide_nav a,
.pgabout_inworld .main__menu .myslide_nav a,
.pgpartners_internet .main__menu .myslide_nav a {
  color: #2675eb;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pgprogramagent .main__menu .myslide_nav a.act,
.pgprogram_cpa .main__menu .myslide_nav a.act,
.pgprogram_region .main__menu .myslide_nav a.act,
.pgabout_inworld .main__menu .myslide_nav a.act,
.pgpartners_internet .main__menu .myslide_nav a.act,
.pgprogramagent .main__menu .myslide_nav a:hover,
.pgprogram_cpa .main__menu .myslide_nav a:hover,
.pgprogram_region .main__menu .myslide_nav a:hover,
.pgabout_inworld .main__menu .myslide_nav a:hover,
.pgpartners_internet .main__menu .myslide_nav a:hover {
  color: #4c4d4f;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pgpartners_internet .openschet {
  display: none;
}
.pgpartners_internet .getbonus {
  display: none;
}
.pgpartners_internet .statpartner {
  display: none;
}
.pgpartners_internet .swiper-container_pi1 .swiper-wrapper .swiper-slide.slide_pgpartners_internet {
  background-image: url('../img/partners_internet_bg.jpg');
  -webkit-background-size: 120% 120%;
     -moz-background-size: 120% 120%;
       -o-background-size: 120% 120%;
          background-size: 120% 120%;
  overflow: hidden;
}
.pgpartners_internet .swiper-container_pi1 .swiper-wrapper .swiper-slide.slide_pgpartners_internet .slide_01_paralax_top {
  background-image: url('../img/partners_internet_bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: 50% 100%;
  width: 110%;
  height: 110%;
  position: absolute!important;
  top: -5% !important;
  bottom: -5% !important;
  left: -5% !important;
  right: -5% !important;
  z-index: 1;
}
.pgpartners_internet .slide .centerblock {
  z-index: 2;
}
.pgpartners_internet .slide .centerblock .mainpage h2 {
  color: #ffffff;
}
.pgpartners_internet .footer {
  display: none;
}
.pgprogramagent .openschet {
  display: none;
}
.pgprogramagent .getbonus {
  display: none;
}
.pgprogramagent .statpartner {
  display: none;
}
.pgprogramagent .swiper-container .swiper-wrapper .swiper-slide.slide_pgprogramagent {
  background-image: url('../img/pgprogramagent_back.jpg');
  -webkit-background-size: 120% 120%;
     -moz-background-size: 120% 120%;
       -o-background-size: 120% 120%;
          background-size: 120% 120%;
  overflow: hidden;
}
.pgprogramagent .swiper-container .swiper-wrapper .swiper-slide.slide_pgprogramagent .slide_01_paralax_top {
  background-image: url('../img/pgprogramagent_back.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: 50% 100%;
  width: 110%;
  height: 110%;
  position: absolute!important;
  top: -5% !important;
  bottom: -5% !important;
  left: -5% !important;
  right: -5% !important;
  z-index: 1;
}
.pgprogramagent .slide .centerblock {
  z-index: 2;
}
.pgprogramagent .slide .centerblock .mainpage h2 {
  color: #ffffff;
}
.pgprogramagent .footer {
  display: none;
}
.pgabout .openschet {
  display: block;
}
.pgabout .getbonus {
  display: none;
}
.pgabout .statpartner {
  display: none;
}
.pgabout .swiper-container_abo .swiper-wrapper .swiper-slide.slide_pgabout {
  background-image: url('../img/about_bg.jpg');
  -webkit-background-size: 120% 120%;
     -moz-background-size: 120% 120%;
       -o-background-size: 120% 120%;
          background-size: 120% 120%;
  overflow: hidden;
}
.pgabout .swiper-container_abo .swiper-wrapper .swiper-slide.slide_pgabout .slide_01_paralax_top {
  background-image: url('../img/about_bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: 50% 100%;
  width: 110%;
  height: 110%;
  position: absolute!important;
  top: -5% !important;
  bottom: -5% !important;
  left: -5% !important;
  right: -5% !important;
  z-index: 1;
}
.pgabout .swiper-container_abo .swiper-wrapper .swiper-slide.slide_pgabout .centerblock {
  z-index: 2;
}
.pgabout .footer {
  display: none;
  position: fixed;
  bottom: 0px;
}
