.pganalytics_articles__but,
.pganalytics_article__but,
.pganalytics_calendar__but,
.pganalytics_video__but,
.pgnews_all__but,
.pgnews_one__but,
.pgwebinars__but {
  display: none;
}
.pganalytics_articles__but.openschet,
.pganalytics_article__but.openschet,
.pganalytics_calendar__but.openschet,
.pganalytics_video__but.openschet,
.pgnews_all__but.openschet,
.pgnews_one__but.openschet,
.pgwebinars__but.openschet {
  display: none;
}
.pganalytics_articles__but.getbonus,
.pganalytics_article__but.getbonus,
.pganalytics_calendar__but.getbonus,
.pganalytics_video__but.getbonus,
.pgnews_all__but.getbonus,
.pgnews_one__but.getbonus,
.pgwebinars__but.getbonus {
  display: none;
}
.pganalytics_articles__but.statpartner,
.pganalytics_article__but.statpartner,
.pganalytics_calendar__but.statpartner,
.pganalytics_video__but.statpartner,
.pgnews_all__but.statpartner,
.pgnews_one__but.statpartner,
.pgwebinars__but.statpartner {
  display: block;
}
.pganalytics_articles__right-wrapr,
.pganalytics_article__right-wrapr,
.pganalytics_calendar__right-wrapr,
.pganalytics_video__right-wrapr,
.pgnews_all__right-wrapr,
.pgnews_one__right-wrapr,
.pgwebinars__right-wrapr {
  margin-top: 0px;
}
.pganalytics_articles__right-wrapr-r01,
.pganalytics_article__right-wrapr-r01,
.pganalytics_calendar__right-wrapr-r01,
.pganalytics_video__right-wrapr-r01,
.pgnews_all__right-wrapr-r01,
.pgnews_one__right-wrapr-r01,
.pgwebinars__right-wrapr-r01,
.pganalytics_articles__right-wrapr-r02,
.pganalytics_article__right-wrapr-r02,
.pganalytics_calendar__right-wrapr-r02,
.pganalytics_video__right-wrapr-r02,
.pgnews_all__right-wrapr-r02,
.pgnews_one__right-wrapr-r02,
.pgwebinars__right-wrapr-r02,
.pganalytics_articles__right-wrapr-r03,
.pganalytics_article__right-wrapr-r03,
.pganalytics_calendar__right-wrapr-r03,
.pganalytics_video__right-wrapr-r03,
.pgnews_all__right-wrapr-r03,
.pgnews_one__right-wrapr-r03,
.pgwebinars__right-wrapr-r03 {
  border: 2px solid #2c5ca9;
}
.pganalytics_articles .head__nav,
.pganalytics_article .head__nav,
.pganalytics_calendar .head__nav,
.pganalytics_video .head__nav,
.pgnews_all .head__nav,
.pgnews_one .head__nav,
.pgwebinars .head__nav {
  background: #33373e;
  background: -moz-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#33373e), to(#25282d));
  background: -o-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: linear-gradient(to bottom, #33373e 0%, #25282d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33373e', endColorstr='#25282d', GradientType=0);
  -webkit-box-shadow: 0 0px 26px 0 #000;
     -moz-box-shadow: 0 0px 26px 0 #000;
          box-shadow: 0 0px 26px 0 #000;
}
.pganalytics_articles .head__but.statpartner,
.pganalytics_article .head__but.statpartner,
.pganalytics_calendar .head__but.statpartner,
.pganalytics_video .head__but.statpartner,
.pgnews_all .head__but.statpartner,
.pgnews_one .head__but.statpartner,
.pgwebinars .head__but.statpartner {
  display: block;
  colror: #fff;
}
.pganalytics_articles .main__menu,
.pganalytics_article .main__menu,
.pganalytics_calendar .main__menu,
.pganalytics_video .main__menu,
.pgnews_all .main__menu,
.pgnews_one .main__menu,
.pgwebinars .main__menu {
  margin: 0px;
  display: block;
  width: 100%;
  position: relative;
  top: 30px;
  right: 10px;
  z-index: 100;
}
.pganalytics_articles .main__menu .myslide_nav,
.pganalytics_article .main__menu .myslide_nav,
.pganalytics_calendar .main__menu .myslide_nav,
.pganalytics_video .main__menu .myslide_nav,
.pgnews_all .main__menu .myslide_nav,
.pgnews_one .main__menu .myslide_nav,
.pgwebinars .main__menu .myslide_nav {
  text-align: right;
}
.pganalytics_articles .main__menu .myslide_nav a,
.pganalytics_article .main__menu .myslide_nav a,
.pganalytics_calendar .main__menu .myslide_nav a,
.pganalytics_video .main__menu .myslide_nav a,
.pgnews_all .main__menu .myslide_nav a,
.pgnews_one .main__menu .myslide_nav a,
.pgwebinars .main__menu .myslide_nav a {
  color: #2675eb;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pganalytics_articles .main__menu .myslide_nav a.act,
.pganalytics_article .main__menu .myslide_nav a.act,
.pganalytics_calendar .main__menu .myslide_nav a.act,
.pganalytics_video .main__menu .myslide_nav a.act,
.pgnews_all .main__menu .myslide_nav a.act,
.pgnews_one .main__menu .myslide_nav a.act,
.pgwebinars .main__menu .myslide_nav a.act,
.pganalytics_articles .main__menu .myslide_nav a:hover,
.pganalytics_article .main__menu .myslide_nav a:hover,
.pganalytics_calendar .main__menu .myslide_nav a:hover,
.pganalytics_video .main__menu .myslide_nav a:hover,
.pgnews_all .main__menu .myslide_nav a:hover,
.pgnews_one .main__menu .myslide_nav a:hover,
.pgwebinars .main__menu .myslide_nav a:hover {
  color: #4c4d4f;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pgwebinars .column_2 {
  margin-top: 50px;
}
.pgwebinars .column_2 .item table {
  width: 100%;
}
.pgwebinars .column_2 .item table td.data {
  width: 10%;
  vertical-align: top;
  font-size: 48px;
  color: #7f8081;
  text-align: center;
}
.pgwebinars .column_2 .item table td.data span {
  display: block;
  font-size: 13px;
  color: #7f8081;
}
.pgwebinars .column_2 .item table td.webinars {
  width: 90%;
  vertical-align: top;
}
.pgwebinars .column_2 .item table td.webinars .webin {
  text-align: left;
  min-height: 100px;
  padding: 30px;
}
.pgwebinars .column_2 .item table td.webinars .webin img {
  float: left;
  margin: 10px;
}
.pgwebinars .column_2 .item table td.webinars .webin h3 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 16px;
  white-space: normal;
}
.pgwebinars .column_2 .item table td.webinars .webin p {
  font-size: 16px;
  margin: 0px;
}
.pgwebinars .column_2 .item table td.webinars .webin .hide {
  display: none;
  margin-top: 20px;
}
.pgwebinars .column_2 .item table td.webinars .webin.noact img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pgwebinars .column_2 .item table td.webinars .webin.noact h3 {
  font-size: 18px;
  color: #a8a8a8;
}
.pgwebinars .column_2 .item table td.webinars .webin.noact p {
  color: #a8a8a8;
}
.pgwebinars .column_2 .item table td.webinars .webin.noact .plaha .plaha__left {
  color: #a8a8a8;
}
.pgwebinars .column_2 .item table td.webinars .webin.noact:hover {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.pgwebinars .column_2 .item table td.webinars .webin:hover {
  -webkit-box-shadow: 0px 0px 9px gray;
     -moz-box-shadow: 0px 0px 9px gray;
          box-shadow: 0px 0px 9px gray;
}
.pgwebinars .column_2 .item table td.webinars .webin:hover h3 {
  color: #e94f86;
}
.pgwebinars .column_2 .item table td.webinars .webin:hover .hide {
  display: inline-block;
}
.pgnews_all .column_2 {
  /*блок из 2х колонок*/
  margin-top: 50px;
  width: 1000px;
}
.pgnews_all .column_2 .col.news_all {
  width: 620px;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover {
  -webkit-box-shadow: 0px 0px 9px gray;
     -moz-box-shadow: 0px 0px 9px gray;
          box-shadow: 0px 0px 9px gray;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover .plaha__left {
  color: #2675eb;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover .plaha__right {
  color: #b3b3b0;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover h3 {
  color: #e94f86;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover h3 a {
  color: #e94f86;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover p {
  color: #4c4d4f;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover p.avtor {
  color: #4c4d4f;
}
.pgnews_all .column_2 .col.news_all.hover .item.hover p.avtor img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pgnews_all .column_2 .col.news_all.hover .item.hover .video img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pgnews_all .column_2 .col.news_all.hover .item.hover .video::before {
  content: "";
  position: absolute;
  background: url("../img/video_play.png") no-repeat center;
  display: block;
  width: 100%!important;
  height: 100%!important;
  cursor: pointer;
  z-index: 999;
}
.pgnews_all .column_2 .col.news_all.hover .item .plaha__left {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item .plaha__right {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item h3 {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item h3 a {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item p {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item p.avtor {
  color: #a8a8a8;
}
.pgnews_all .column_2 .col.news_all.hover .item p.avtor img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.pgnews_all .column_2 .col.news_all.hover .item .video img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.pgnews_all .column_2 .col.news_all.hover .item .video::before {
  content: "";
  background: none;
}
.pgnews_all .column_2 div:nth-child(2) {
  width: 380px;
}
.pgnews_one .column_2 {
  margin-top: 50px;
}
.pgnews_one .newa {
  margin-top: 180px;
}
.pgnews_one .newa .item h2 {
  font-size: 48px;
  margin-bottom: 90px;
}
.pgnews_one .newa .item p {
  margin-bottom: 10px;
}
.pgnews_one .newa .item .avtor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 20px 0px;
}
.pgnews_one .newa .item .avtor img {
  margin-right: 10px;
}
.pgnews_one .newa .item .avtor p {
  font-size: 16px;
  color: #2675eb;
}
.pgnews_one .newa .item .avtor p span {
  font-size: 10px;
  color: #b2b2b2;
}
.pganalytics_video .column_2 {
  margin-top: 50px;
}
.pganalytics_video .col {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pganalytics_video .col.video {
  width: 740px;
}
.pganalytics_video .col.video .item-half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0px 60px;
}
.pganalytics_video .col.video .item-half a {
  display: inline-block;
}
.pganalytics_video .col.video .item-half .item {
  width: 50%;
  height: 200px;
}
.pganalytics_video .col.video .item-half .item .item_wrap {
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.pganalytics_video .col.video .item-half .item .item_wrap::before {
  content: "";
  position: absolute;
  background: url("../img/video_play.png") no-repeat center;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 999;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  left: 45%;
  top: 42%;
}
.pganalytics_video .col.video .item-half .item .item_wrap .descr {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-left: 6px;
  padding-bottom: 6px;
}
.pganalytics_video .col.video .item-half .item .item_wrap .descr .title {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 0px;
}
.pganalytics_video .col.video .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pganalytics_video .col.video .item .item_wrap {
  padding: 0px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: inline-block;
  margin: 0px auto;
  position: relative;
}
.pganalytics_video .col.video .item .item_wrap::before {
  content: "";
  position: absolute;
  background: url("../img/video_play.png") no-repeat center;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 999;
}
.pganalytics_video .col.video .item .item_wrap img {
  margin: 0 auto;
}
.pganalytics_video .col.video .item .item_wrap .descr {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-left: 22px;
  padding-bottom: 22px;
}
.pganalytics_video .col.video .item .item_wrap .descr .data {
  font-size: 10px;
  color: #fefefe;
  margin-bottom: 0px;
}
.pganalytics_video .col.video .item .item_wrap .descr .title {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 0px;
}
.pganalytics_video .col.video .item .item_wrap .descr .avtor {
  font-size: 16px;
  color: #fefefe;
  margin-bottom: 0px;
}
.pganalytics_video .col.w_30 {
  width: 400px;
}
.pganalytics_video .video_div {
  opacity: 0;
  background: #292d33;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}
.pganalytics_video .video_div.noshow {
  display: none;
}
.pganalytics_video .video_div .video_show {
  width: 1000px;
  height: 600px;
  background: #000;
  display: block;
  -webkit-box-shadow: 0px 0px 10px #000;
     -moz-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  position: relative;
}
.pganalytics_video .video_div .video_show .video_close {
  content: "";
  background: url("../img/close_button.png") no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -20px;
  right: -20px;
}
.pganalytics_video .video_div .video_show .video_label {
  color: #fff;
  position: absolute;
  bottom: -30px;
  left: 35%;
}
.pganalytics_calendar .column_2 {
  margin-top: 50px;
}
.pganalytics_calendar .calendar_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pganalytics_calendar .calendar_table .row_head {
  padding: 0px 20px;
  width: 100%;
  -webkit-box-shadow: none!important;
     -moz-box-shadow: none!important;
          box-shadow: none!important;
}
.pganalytics_calendar .calendar_table .row {
  padding: 0px 20px;
  width: 100%;
}
.pganalytics_calendar .calendar_table .row.hover0 {
  -webkit-box-shadow: 0px 0px 9px gray;
     -moz-box-shadow: 0px 0px 9px gray;
          box-shadow: 0px 0px 9px gray;
}
.pganalytics_calendar .calendar_table .row.hover0 .border {
  border: none;
}
.pganalytics_calendar .calendar_table .row.hover0 .border .col:nth-child(2) div {
  color: #e94f86;
}
.pganalytics_calendar .calendar_table .row.hover0 .border .col:nth-child(2) div span {
  color: #b2b2b2;
}
.pganalytics_calendar .calendar_table .row.hover {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background: #fff;
}
.pganalytics_calendar .calendar_table .row.hover .border {
  border-bottom: none;
}
.pganalytics_calendar .calendar_table .row.hover .border .col:nth-child(2) div {
  color: #4c4d4f;
}
.pganalytics_calendar .calendar_table .row .border {
  border-bottom: 2px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(1) {
  width: 20%;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(2) {
  width: 35%;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(2) div {
  font-size: 16px;
  color: #b2b2b2;
  font-weight: bold;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(2) div:nth-child(1) {
  width: 5%;
  margin: 4px;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(2) div:nth-child(2) {
  width: 95%;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(3) {
  width: 15%;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(4) {
  width: 15%;
}
.pganalytics_calendar .calendar_table .row .border .col:nth-child(5) {
  width: 15%;
}
.pganalytics_calendar .calendar_table .row .border .col {
  font-size: 11px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.pganalytics_calendar .calendar_table .row .border .col.ch {
  font-size: 10px;
  color: #b2b2b2;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.pganalytics_calendar .calendar_table .row .border .col.ch br {
  line-height: 10px;
}
.pganalytics_calendar .calendar_table .row .border .col.ch:nth-child(2) {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pganalytics_calendar .calendar_table .row .border .col .plaha__left,
.pganalytics_calendar .calendar_table .row .border .col .plaha__right {
  display: inline-block;
}
.pganalytics_calendar .calendar_table .row.hover .hide {
  display: block;
}
.pganalytics_calendar .calendar_table .row .hide {
  display: none;
}
.pganalytics_calendar .calendar_table .row .hide .wrap {
  padding: 10px 10px 10px 80px;
}
.pganalytics_article .article {
  margin-top: 180px;
}
.pganalytics_article .article .item h2 {
  font-size: 48px;
  margin-bottom: 90px;
}
.pganalytics_article .article .item p {
  margin-bottom: 10px;
}
.pganalytics_article .article .item .avtor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 20px 0px;
}
.pganalytics_article .article .item .avtor img {
  margin-right: 10px;
}
.pganalytics_article .article .item .avtor p {
  font-size: 16px;
  color: #2675eb;
}
.pganalytics_article .article .item .avtor p span {
  font-size: 10px;
  color: #b2b2b2;
}
.pganalytics_articles .w_30 {
  width: 400px;
}
.pganalytics_articles .column_2 {
  /*блок из 2х колонок*/
  margin-top: 50px;
  width: 1000px;
}
.pganalytics_articles .column_2 .col.articles .item img {
  width: 100%;
}
.pganalytics_articles .column_2 .col.articles .item .avtor img {
  width: initial;
}
.pganalytics_articles .column_2 .col.articles .item .video img {
  width: 100%;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover {
  -webkit-box-shadow: 0px 0px 9px gray;
     -moz-box-shadow: 0px 0px 9px gray;
          box-shadow: 0px 0px 9px gray;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover .plaha__left {
  color: #2675eb;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover .plaha__right {
  color: #b3b3b0;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover h3 {
  color: #4c4d4f;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover h3 a {
  color: #e94f86;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover p {
  color: #4c4d4f;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover p.avtor {
  color: #4c4d4f;
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover p.avtor img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover .video img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.pganalytics_articles .column_2 .col.articles.hover .item.hover .video::before {
  content: "";
  position: absolute;
  background: url("../img/video_play.png") no-repeat center;
  display: block;
  width: 100%!important;
  height: 100%!important;
  cursor: pointer;
  z-index: 999;
}
.pganalytics_articles .column_2 .col.articles.hover .item .plaha__left {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item .plaha__right {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item h3 {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item h3 a {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item p {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item p.avtor {
  color: #a8a8a8;
}
.pganalytics_articles .column_2 .col.articles.hover .item p.avtor img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.pganalytics_articles .column_2 .col.articles.hover .item .video img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.pganalytics_articles .column_2 .col.articles.hover .item .video::before {
  content: "";
  background: none;
}
