.pgpartners_reward__but,
.pgpartners_vidy__but,
.pgpartners_net__but,
.pgpartners_rules__but {
  display: none;
}
.pgpartners_reward__but.openschet,
.pgpartners_vidy__but.openschet,
.pgpartners_net__but.openschet,
.pgpartners_rules__but.openschet {
  display: none;
}
.pgpartners_reward__but.getbonus,
.pgpartners_vidy__but.getbonus,
.pgpartners_net__but.getbonus,
.pgpartners_rules__but.getbonus {
  display: none;
}
.pgpartners_reward__but.statpartner,
.pgpartners_vidy__but.statpartner,
.pgpartners_net__but.statpartner,
.pgpartners_rules__but.statpartner {
  display: block;
}
.pgpartners_reward__right-wrapr,
.pgpartners_vidy__right-wrapr,
.pgpartners_net__right-wrapr,
.pgpartners_rules__right-wrapr {
  margin-top: 0px;
}
.pgpartners_reward__right-wrapr-r01,
.pgpartners_vidy__right-wrapr-r01,
.pgpartners_net__right-wrapr-r01,
.pgpartners_rules__right-wrapr-r01,
.pgpartners_reward__right-wrapr-r02,
.pgpartners_vidy__right-wrapr-r02,
.pgpartners_net__right-wrapr-r02,
.pgpartners_rules__right-wrapr-r02,
.pgpartners_reward__right-wrapr-r03,
.pgpartners_vidy__right-wrapr-r03,
.pgpartners_net__right-wrapr-r03,
.pgpartners_rules__right-wrapr-r03 {
  border: 2px solid #2c5ca9;
}
.pgpartners_reward .head__nav,
.pgpartners_vidy .head__nav,
.pgpartners_net .head__nav,
.pgpartners_rules .head__nav {
  background: #33373e;
  background: -moz-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#33373e), to(#25282d));
  background: -o-linear-gradient(top, #33373e 0%, #25282d 100%);
  background: linear-gradient(to bottom, #33373e 0%, #25282d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33373e', endColorstr='#25282d', GradientType=0);
  -webkit-box-shadow: 0 0px 26px 0 #000;
     -moz-box-shadow: 0 0px 26px 0 #000;
          box-shadow: 0 0px 26px 0 #000;
}
.pgpartners_reward .head__but.statpartner,
.pgpartners_vidy .head__but.statpartner,
.pgpartners_net .head__but.statpartner,
.pgpartners_rules .head__but.statpartner {
  display: block;
  colror: #fff;
}
.pgpartners_reward .main__menu,
.pgpartners_vidy .main__menu,
.pgpartners_net .main__menu,
.pgpartners_rules .main__menu {
  margin: 0px;
  display: fixed;
  width: 100%;
  position: relative;
  top: 30px;
  right: 10px;
  z-index: 100;
}
.pgpartners_reward .main__menu .myslide_nav,
.pgpartners_vidy .main__menu .myslide_nav,
.pgpartners_net .main__menu .myslide_nav,
.pgpartners_rules .main__menu .myslide_nav {
  text-align: right;
}
.pgpartners_reward .main__menu .myslide_nav a,
.pgpartners_vidy .main__menu .myslide_nav a,
.pgpartners_net .main__menu .myslide_nav a,
.pgpartners_rules .main__menu .myslide_nav a {
  color: #2675eb;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pgpartners_reward .main__menu .myslide_nav a.act,
.pgpartners_vidy .main__menu .myslide_nav a.act,
.pgpartners_net .main__menu .myslide_nav a.act,
.pgpartners_rules .main__menu .myslide_nav a.act,
.pgpartners_reward .main__menu .myslide_nav a:hover,
.pgpartners_vidy .main__menu .myslide_nav a:hover,
.pgpartners_net .main__menu .myslide_nav a:hover,
.pgpartners_rules .main__menu .myslide_nav a:hover {
  color: #4c4d4f;
  font-weight: bold;
  font-size: 14px;
  margin: 12px 12px;
  text-decoration: none;
}
.pgpartners_reward .main {
  background-color: #fff;
}
.pgpartners_reward .main__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 15%;
}
.pgpartners_reward .main__center--block {
  margin-top: 150px;
  text-align: center;
}
.pgpartners_reward .main__center--block h2 {
  font-size: 48px;
  color: #4c4d4f;
  margin-bottom: 32px;
}
.pgpartners_reward .main__center--block p {
  font-size: 16px;
  color: #4c4d4f;
}
.pgpartners_reward .main__center--block table {
  margin-top: 60px;
}
.pgpartners_reward .main__center--block table td:nth-child(1) {
  text-align: center;
  padding-right: 10px;
}
.pgpartners_reward .main__center--block table td {
  color: #4c4d4f;
  vertical-align: top;
  text-align: left;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: bold;
  padding: 50px 0px;
  vertical-align: middle;
}
.pgpartners_reward .main__center--block table td img {
  margin: 0 auto;
}
.pgpartners_reward .main__center--block table td span {
  color: #2675eb;
  font-size: 12px;
}
.pgpartners_vidy .main {
  background-color: #fff;
}
.pgpartners_vidy .main__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 15%;
}
.pgpartners_vidy .main__center--block {
  margin-top: 150px;
  text-align: center;
}
.pgpartners_vidy .main__center--block h2 {
  font-size: 48px;
  color: #4c4d4f;
  margin-bottom: 32px;
}
.pgpartners_vidy .main__center--block p {
  font-size: 16px;
  color: #4c4d4f;
}
.pgpartners_vidy .main__center--block table {
  margin-top: 60px;
}
.pgpartners_vidy .main__center--block table td:nth-child(1) {
  text-align: center;
  padding-right: 10px;
}
.pgpartners_vidy .main__center--block table td {
  color: #4c4d4f;
  vertical-align: top;
  text-align: left;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: bold;
  padding: 50px 0px;
  vertical-align: middle;
}
.pgpartners_vidy .main__center--block table td img {
  margin: 0 auto;
}
.pgpartners_vidy .main__center--block table td span {
  color: #2675eb;
  font-size: 12px;
}
.pgpartners_net .main {
  background-color: #fff;
}
.pgpartners_net .main__center {
  padding-top: 100px;
}
.pgpartners_net .main__center-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 15%;
}
.pgpartners_net .main__center-footer .mcft_block {
  width: 45%;
  margin: 10px;
  position: relative;
}
.pgpartners_net .main__center-footer .mcft_block h2 {
  font-size: 48px;
  color: #58595b;
  margin-bottom: 20px;
  margin-top: 80px;
}
.pgpartners_net .main__center-footer .mcft_block p {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  color: #4c4d4f;
  margin-bottom: 10px;
}
.pgpartners_net .main__center-footer .mcft_block .text_muted {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #7f8081;
}
.pgpartners_net .main__center-footer .mcft_block .text_muted p {
  margin-top: 10px;
}
.pgpartners_rules .main {
  background-color: #fff;
  padding-top: 100px;
}
.pgpartners_rules .main__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
.pgpartners_rules .main__center div p {
  font-size: 14px;
}
.pgpartners_rules .main__center div:nth-child(1) {
  padding-right: 84px;
  width: 70%;
}
.pgpartners_rules .main__center div:nth-child(1) li:nth-child(1) {
  margin-top: 0px;
}
.pgpartners_rules .main__center div:nth-child(2) {
  width: 30%;
}
.pgpartners_rules .main__center div:nth-child(2) p {
  font-size: 12px;
  margin-bottom: 20px;
}
.pgpartners_rules .main__center div:nth-child(2) p a {
  font-size: 12px;
  font-weight: normal;
}
.pgpartners_rules .main__center div:nth-child(2) a {
  font-size: 13px;
  font-weight: bold;
}
