.tree,
.tree svg {
  height: 510px;
  width: 430px;
  margin: 0 auto;
}
.tree line {
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
  /*transition: 0.3s ease-in-out;*/
}
.l1 {
  stroke-width: 4;
  stroke: #2675eb;
}
.l1:hover {
  /*stroke-width:8;*/
}
.l2 {
  stroke-width: 4;
  stroke: #68a4eb;
}
.l2:hover {
  /*stroke-width:8;*/
}
.l3 {
  stroke-width: 3;
  stroke: #49f2e7;
}
.l3:hover {
  /*stroke-width:6;*/
}
.l4 {
  stroke-width: 3;
  stroke: #e94f86;
}
.l4:hover {
  /*stroke-width:6;*/
}
.l5 {
  stroke-width: 2;
  stroke: #c8c8c8;
}
.l5:hover {
  /*stroke-width:4;*/
}
.tree .l1_text {
  font-size: 12px;
  color: #2675eb;
  cursor: pointer;
  font-weight: bold;
}
.tree .l2_text {
  font-size: 12px;
  color: #68a4eb;
  cursor: pointer;
  font-weight: bold;
}
.tree .l3_text {
  font-size: 12px;
  color: #49f2e7;
  cursor: pointer;
  font-weight: bold;
}
.tree .l4_text {
  font-size: 12px;
  color: #e94f86;
  cursor: pointer;
  font-weight: bold;
}
.tree .l5_text {
  font-size: 12px;
  color: #c8c8c8;
  cursor: pointer;
  font-weight: bold;
}
.treelegend {
  text-align: center;
}
.treelegend__level {
  font-size: 10px;
  color: #b2b2b2;
  font-weight: bold;
}
.treelegend__level-lev_1 {
  font-size: 12px;
  color: #2675eb;
  margin: 0 5px;
  font-weight: bold;
}
.treelegend__level-lev_2 {
  font-size: 12px;
  color: #68a4eb;
  margin: 0 5px;
  font-weight: bold;
}
.treelegend__level-lev_3 {
  font-size: 12px;
  color: #49f2e7;
  margin: 0 5px;
  font-weight: bold;
}
.treelegend__level-lev_4 {
  font-size: 12px;
  color: #e94f86;
  margin: 0 5px;
  font-weight: bold;
}
.treelegend__level-lev_5 {
  font-size: 12px;
  color: #c8c8c8;
  margin: 0 5px;
  font-weight: bold;
}
.treelegend__descrip {
  font-size: 13px;
  color: #4c4d4f;
  margin-top: 20px;
  height: 50px;
}
