.validation {
  transition: border .4s ease-in-out;
  &.validation--success {
    border-bottom-color: #6cce51 !important;
  }
  &.validation--error {
    border-bottom-color: #f44 !important;
  }
}
.input {
  &__message {
    font-size: 12px;
  }
}

.head__nav {
  .menu-left-position {
    width: 81px;
    .c-hamburger span {
      width: 28px;
      left: 26px;
    }
    .c-hamburger--htx {
      width: 81px;
    }
  }
  .nav__a {
    font-weight: 600;
    &--act {
      color: #2675eb !important;
      padding-top: 21px;
      &:hover {
        padding-top: 21px;
      }
    }
    &:hover {
      padding-top: 21px;
    }
  }
  .head__tel a {
    margin-top: 5px;
    display: inline-block;
  }
  .head__tel::before {
    top: 9px;
  }
  &.sfonom {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
    z-index: 200;
    .head__logo {
        background-image: url(../img/logo.png);
    }
    // .head__tel {
    //   display: none;
    // }
  }
}

.swiper-container_reg {
  overflow: hidden;
}

.head__right-wrapr-r01,
.head__right-wrapr-r02,
.head__right-wrapr-r03 {
  margin-top: 0;
  // width: 32px;
  // height: 32px;
  // border-radius: 16px;
  white-space: nowrap;
  border-color: #2956aa;
}
.head__right-wrapr-r03::before {
  // margin-top: 6px;
}
.head__right-wrapr-r02::before {
  // margin-top: 8px;
}

.head__nav.sfonom {
  // .nav__a {
  //   &--act {
  //     color: #fff !important;
  //   }
  // }
  .head__right-wrapr-r01,
  .head__right-wrapr-r02,
  .head__right-wrapr-r03 {
    border-color: #727b85;
  }
  .head__right-wrapr-r01::before {
        background-image: url(../img/head_acc.png);
  }
  .head__right-wrapr-r02::before {
        background-image: url(../img/head_mt4.png);
  }
  .head__right-wrapr-r03::before {
        background-image: url(../img/head_arr.png);
  }
  .head__right-wrapr-r01,
  .head__right-wrapr-r02,
  .head__right-wrapr-r03 {
    margin-top: 3px;
  }
  .head__right-wrapr-r01::before,
  .head__right-wrapr-r02::before,
  .head__right-wrapr-r03::before {
    background-position: center !important;
  }
  .head__tel a {
      margin-top: 5px;
      display: inline-block;
      color: #fff;
      margin-top: 0;
  }
  .head__tel::before {
    top: 4px;
    left: -20px;
  }
}


.nav--fixed .head__nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav--fixed {
    padding-top: 70px;
}

.pgaccounts .main__right--table--head {
  // TODO: Last Edit
  // padding-top: 94px;
}

p.bullet {
  font-weight: 400;
}

.slide {
  .centerblock {
    h2 {
      margin-bottom: 14px;
      letter-spacing: 0.01em;
      margin-left: -6px;
    }
    p {
      margin-bottom: 69px;
    }
    p.bullet {
      margin-left: 60px;
      font-weight: 400;
      margin-bottom: 40px;
      &:before {
        left: -60px;
      }
    }
    .centerblock_fon {
      background-size: initial;
      background-position: left 0 top 267px;
    }
    .div1row_right {
      position: relative;
      top: 0;
      margin-left: 0;
      margin-top: 130px;
      width: 607px;
      float: right;
      padding-right: 120px;
      p {
        margin-bottom: 20px;
      }
    }
    &.afterslides {
    padding-top: 270px;
    img {
      margin: 0 auto;
      left: 0 !important;
    }
    .rows {
      display: flex;
      padding-left: 110px;
      padding-right: 110px;
      align-items: flex-end;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 160px;
      .left, .right {
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0;
        font-weight: 400;
        font-family: 'PT Serif', serif;
        margin: 0;
      }
    }
  }
  }
  .footerblock--blockt h3 {
    text-transform: none;
  }
  .footerblock--block {
    padding-bottom: 110px;
  }
  .footerblock--block-wrap {
    margin-bottom: 0;
    .block_news .data {
      margin-bottom: 12px;
    }
    .block_news {
      width: 330px;
      padding-bottom: 0;
    }
    &:after {
      display: block;
      position: absolute;
      right: -1px;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 66%,rgba(245,245,245,1) 95%,rgba(245,245,245,1) 100%);
    }
  }
}

.plaha {
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.main__menu .myslide_nav a {

  &, &.act {
    font-weight: bold;
    font-size: 14px !important;
    margin: 12px 12px !important;
    text-decoration: none;
    white-space: nowrap;
  }
  &.act {
    color: #4c4d4f;
  }
}
.fly__feedback-panel .right-wrap {
  .feedbackpanel {
    margin: 0;
    .feedbackhead {
      margin-left: 40px;
      margin-right: 40px;
      display: inline-block;
      height: initial;
      .item {
        float: left;
        margin-right: 30px;
        padding-top: 20px;
        &:hover {
          padding-top: 18px;
        }
        &:last-child {
          margin-right: 0;
        }
        &.act {
          padding-top: 18px;
        }
      }
      .btn_close_left {
        float: right;
        margin: 26px 0;
        margin-bottom: 0;
        color: #9399a1;
        padding: 0;
        &:hover {
          color: #fff;
        }
      }
    }
    .feedbackbdody1 {
      margin-left: 25px;
      margin-right: 25px;
      position: relative;
      .block:last-child {
        margin-bottom: 120px;
      }
      .block:first-child {
        margin-top: 40px;
      }
      .block.admin {
        margin-right: 5px;
        margin-left: auto;
      }
      .block.client {
        margin-bottom: 50px;
      }
      .block .time {
        left: 30px;
      }
      .block p {
        font-weight: 400;
        font-family: 'PT Serif', serif;
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0;
        background: linear-gradient(to top, rgba(42,46,52,0) 0%,rgba(42,46,52,1) 100%);
        z-index: 2;
      }
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(42,46,52,0) 0%,rgba(42,46,52,1) 100%);
      }
    }
    .feedbackbottom {
      margin-left: 40px;
      margin-right: 40px;
      .say {
        width: 6px;
      }
    }
  }
  .faqpanel {
    .feedbackpanel;
    .faqhead {
      .feedbackhead;
    }
    .faqbody {
      margin-left: 40px;
      margin-right: 40px;
      position: relative;
      .faqbody_scroll .fb_item {
        h3 {
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0.02em;
        }
        .answer {
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
        .answer p {
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.02em;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:last-child {
          margin-bottom: 120px;
        }
        &:first-child {
          margin-top: 40px;
        }
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0;
        background: linear-gradient(to top, rgba(42,46,52,0) 0%,rgba(42,46,52,1) 100%);
        z-index: 2;
      }
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 120px;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(42,46,52,0) 0%,rgba(42,46,52,1) 100%);
      }
    }
  }
}

.pgabout .footer {
    display: flex;
    position: static;
}

.filter_r {
  padding: 6px 30px 8px 13px;
  border-radius: 50px;
  position: relative;
  top: -2px;
  &.act {
    padding: 6px 30px 8px 13px;
    border-radius: 50px;
    &:after {
      right: 12px;
      top: 6px;
    }
  }
  &:after {
    right: 10px;
    top: 6px;
  }
  &:hover {
    padding: 6px 30px 8px 13px;
    border-radius: 50px;
    &:after {
      right: 12px;
      top: 6px;
    }
  }
}


// START Accounts
.pgaccounts .main__left {
  flex-shrink: 0;
}
.pgaccounts .main__right {
  width: 100% !important;
}
// END Accounts


// START Indicators
.pgindicators .scroll-wrapper.main__right {
  position: relative;
  height: auto;
  & > .main__right {
    position: relative;
    top: 0;
    bottom: 0;
  }
}
.pgindicators .main__left {
  position: relative;
}
.pgindicators .ueva_listalka {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-bottom: 0;
}
.ueva_listalka .scroll-wrapper .bukvas-left {
  min-width: 50px;
}
.ueva_listalka .scroll-wrapper.bukvas-left {
    margin: 0px 12px;
    flex-shrink: 0;
}
.pgindicators .wrapper {
  height: 100% !important;
}
.pgindicators .content.main {
  height: 100%;
}
.pgindicators .main__left {
  flex-shrink: 0;
  padding-right: 20px;
}
.pgindicators .footer {
  z-index: 100;
}
.pgindicators .main__right {
  width: 100% !important;
}
.pgindicators .content {
  display: flex;
}
.pgindicators .main__right .main__right_head-left {
  margin-top: 43px;
}
.pgindicators .main__right .main__right_head-left a {
  margin-right: 20px;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
.pgindicators .main__right .main__right_body {
  width: 610px;
  padding-top: 29px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.pgindicators .main__right .main__right_body h3 {
  margin-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 0.022em;
}
.pgindicators .main__right .main__right_body ol li {
  padding-bottom: 10px;
  letter-spacing: .03em;
}
.pgindicators .main__right .main__right_body ol {
  margin-bottom: 34px;
}
.pgindicators .main__right .main__right_body p {
    line-height: 1.5;
    letter-spacing: .03em;
    margin-bottom: 8px;
}
.ueva_listalka .bukvas-left .fons {
  margin-top: 7px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}
.ueva_listalka .bukvas-left .bukvas_one {
  margin-bottom: 6px;
}
.ueva_listalka .bukvas-right h3 {
  margin-bottom: 17px;
  margin-top: 43px;
  &:nth-child(1) {
    margin-top: 0;
  }
}
.ueva_listalka .bukvas-right .bukva a {
  margin-bottom: 12px;
}

@media screen and (max-width: 1120px) {
  .pgindicators .main__left {
    width: 280px;
  }
  .pgindicators .main__right .main__right_body {
    width: 100%;
    padding-right: 20px;
    margin-bottom: 0 !important;
  }
  .pgindicators .main__right .main__right_body h2 {
    margin-top: 0;
  }
  .pgindicators .ueva_listalka {
    top: 90px;
  }
}
@media screen and (max-width: 768px) {
  .pgindicators .main__left {
    width: 86px;
    padding-top: 24px;
    position: relative;
    height: auto;
    padding-bottom: 0;
  }
  .main__left h2 {
    display: none;
  }
  .pgindicators .ueva_listalka {
    top: 0;
    padding-top: 0;
    height: 100%;
    padding-bottom: 0;
    background-color: #f5f5f5;
  }
  .ueva_listalka .bukvas-left {
    margin: 0 !important;
    padding: 0 14px;
    z-index: 100;
    background-color: whitesmoke;
  }
  .ueva_listalka > .bukvas-right {
    opacity: 1;
    min-width: 200px;
    /* width: 100%; */
    height: 100%;
    position: absolute !important;
    left: 86px;
    padding-left: 20px !important;
    background-color: whitesmoke;
    z-index: 90;
    top: 0;
    padding-top: 25px !important;
    padding-right: 20px !important;
    /* position: relative; */
    transition: box-shadow .4s ease-in-out, transform .4s linear, opacity .4s linear;
    box-shadow: none;
    transform: translateX(-100%);
  }
  .ueva_listalka > .bukvas-right.bukvas--open {
    opacity: 1;
    transform: translateX(0);
    box-shadow: 20px 0 20px -14px rgba(0, 0, 0, 0.19);
  }
}

@media screen and (max-width: 640px) {
  .pgindicators .main__right .main__right_head-left a {
    font-size: 10px;
  }
  .pgindicators .main__right .main__right_head-left {
    margin-top: 16px;
  }
  .pgindicators .main__right .main__right_body {
    padding-top: 20px;
    padding-left: 20px;
  }
  .pgindicators .main__right .main__right_body .fs_s16 {
    font-size: 12px !important;
  }
  .pgindicators .main__right .main__right_body p a {
    font-size: 12px !important;
  }
}

// END Indicators


// START About
.pgabout {
  .slide .centerblock {
    width: 1140px;
    .mainpage {
      padding: 0;
    }
    .mainpage h2 {
      margin-bottom: 36px;
    }
    p {
      line-height: 25px;
      letter-spacing: 0.02em;
    }
  }
  .centerblock.div1row_img {
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 0;
    margin-top: 269px;
    p {
      margin-right: 320px;
    }
    .fonimg {
      top: 0;
      right: 16px;
      img {
        width: 100%;
        margin: 0;
      }
    }
    .fonimg2 {
      top: 76px;
      right: 106px;
    }
  }
  .centerblock.div1row_imgbot {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 0;
    margin-top: 269px;
    align-items: flex-start;
    p {
      margin-right: 320px;
    }
    & > div {
      width: 100%;
    }
    img {
      margin: 0 auto;
    }
  }
  .head__right-wrapr-r01,
  .head__right-wrapr-r02,
  .head__right-wrapr-r03 {
    margin-top: 3px;
  }
  .head__right-wrapr-r01::before,
  .head__right-wrapr-r02::before,
  .head__right-wrapr-r03::before {
    background-position: center !important;
  }
}

@media screen and (max-width: 1500px) {
  .head__tel {
    // display: inline-block;
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .head__right-wrapr-r01,
  .head__right-wrapr-r02,
  .head__right-wrapr-r03 {
    // width: 30px;
    // height: 32px;
  }

  .pgabout {
    .slide .centerblock.div1row_img {
      margin-top: 180px;
      h2 {
        font-size: 48px;
      }
    }
    .slide .centerblock.div1row_imgbot {
      margin-top: 180px;
      h2 {
        font-size: 48px;
      }
    }
    .slide .centerblock {
      width: 100%;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}

@media screen and (max-width: 980px) {
  .pgabout {
    .slide .centerblock .div1row_right {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 170px;
    }
    .slide .centerblock.div1row_img {
      h2 {
        margin-left: 0;
        font-size: 32px;
      }
      p {
        margin-right: 0;
      }
    }
    .slide .centerblock.div1row_imgbot {
      h2 {
        margin-left: 0;
        font-size: 32px;
      }
      p {
        margin-right: 0;
      }
    }
    .slide .centerblock.afterslides .rows {
      padding: 0;
      margin-bottom: 100px;
      .left, .right {
        margin: 0;
        padding: 0 20px;
      }
    }
    .slide .footerblock {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

@media screen and (max-width: 560px) {
  .pgabout {
    .slide .centerblock.div1row_img {
      margin-top: 70px;
    }
    .slide .centerblock.div1row_imgbot {
      margin-top: 70px;
    }
    .slide .centerblock {
      .centerblock_fon {
        background-position: center;
      }
      .div1row_right {
        margin-top: 0;
      }
    }
    .slide .centerblock.afterslides {
      padding-top: 20px;
      .rows {
        flex-wrap: wrap;
        .left, .right {
          width: 100%;
          padding: 0;
          margin-bottom: 18px;
        }
      }
    }
    .slide .footerblock--block-wrap {
      flex-direction: column !important;
      .block_news {
        width: 100%;
      }
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .pgabout .slide {
    .centerblock {
      padding-left: 18px;
      padding-right: 18px;
      .mainpage {
        h2 {
          font-size: 32px;
        }
      }
      p {
        margin-right: 0;
        font-size: 14px;
      }
    }
    .centerblock.div1row_img {
      padding-top: 40px;
    }
    .centerblock.div1row_imgbot {
      padding-top: 40px;
    }
  }
}
// END About

// START Accounts
.main__left--menu {
  margin-left: 98px;
}
.pgaccounts .main__left h2 {
  letter-spacing: .04em;
}
.main__left h2 {
  // margin-left: 81px;
}
.main__left--menu--item.ts_standart,
.main__left--menu--item.ts_centovye,
.main__left--menu--item.ts_affiliate,
.main__left--menu--item.ts_demo,
.main__left--menu--item.ts_ecn {
  padding-left: 35px;
}

.pgaccounts .main__right--table--body .row .col-01 {
  width: 14%;
}
.pgaccounts .main__right--table--body .row .col-02 {
  width: 35%;
}
.pgaccounts .main__right--table--head .row .col-01 {
  width: 14%;
}
.pgaccounts .main__right--table--head .row .col-02 {
  width: 35%;
}

@media (max-width: 1200px) {
  .pgaccounts .main__right--table--body .row .col-01 {
    width: 24%;
  }
  .pgaccounts .main__right--table--body .row .col-02 {
    width: 38%;
  }
  .pgaccounts .main__right--table--body .row .col-03 {
    width: 38%;
  }
  .pgaccounts .main__right--table--head .row .col-01 {
    width: 24%;
  }
  .pgaccounts .main__right--table--head .row .col-02 {
    width: 38%;
  }
  .pgaccounts .main__right--table--head .row .col-03 {
    width: 38%;
  }
  .pgaccounts .main__right {
    width: 100%;
  }
  .pgaccounts .main__right--table--body {
    padding-bottom: 186px;
  }
}
@media (max-width: 980px) {
  .pgaccounts .main__left {
    flex-shrink: 0;
  }
}
@media (max-width: 980px) {
  .pgaccounts .main__left h2 {
    padding-left: 12px;
  }
  .pgaccounts .main__right--table--body {
    padding-bottom: 192px;
  }
}
@media (max-width: 750px) {
  .pgaccounts .main__right--table--body {
    padding-bottom: 110px;
  }
}
@media (max-width: 560px) {
  .pgaccounts .main__right--table--body .row .col-01 br {
    display: block;
  }
}
@media (max-width: 480px) {
  .pgaccounts .main {
    flex-direction: column;
  }
  .pgaccounts .main__left {
    width: 100%;
    height: 90px;
    position: relative;
  }
  .pgaccounts .main__left h2 {
    margin-top: 16px !important;
    margin-bottom: 0px !important;
  }
  .pgaccounts .main__left--menu--item.ts_standart,
  .pgaccounts .main__left--menu--item.ts_centovye,
  .pgaccounts .main__left--menu--item.ts_affiliate,
  .pgaccounts .main__left--menu--item.ts_demo,
  .pgaccounts .main__left--menu--item.ts_ecn {
    padding-left: 0;
    float: left;
    width: 46px;
  }
  .pgaccounts .main__right {
    padding-left: 0;
    height: 100%;
  }
  .pgaccounts .main__right--table--body {
    height: 100%;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 0;
  }
}

// END Accounts

// START pganalytics_articles
.pganalytics_articles .main__menu {
    position: static;
    margin-top: 43px;
    padding-right: 29px;
}
.pganalytics_articles {
  .column_2 {
    margin-top: 14px;
    justify-content: center;
  }
  .column_2 .col {
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .column_2 .col .head {
    margin-bottom: 21px;
    padding-left: 14px;
  }
  .column_2 .col .item h3 {
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .column_2 .col .item p {
    margin-bottom: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .filter_p {
    margin: 0;
    margin-left: 7px;
    display: inline-block;
  }
  .filter_p div {
    margin: 2px 12px 6px 22px;
    display: inline-block;
    &:first {
      margin-right: 8px;
    }
  }
  .col.w_70 {
    width: 600px;
    padding-top: 24px;
  }
  .col.w_30 {
    width: 360px;
    padding-top: 60px;
  }
}
.awebinars .item-item .plaha__right {
  white-space: nowrap;
}
.pganalytics_article {
  .column_1 {
    width: 840px;
  }
  .plaha__back {
    left: -142px;
    text-transform: capitalize;
  }
  .article .item h2 {
    margin-top: 16px;
    margin-bottom: 70px;
  }
  .article .item p {
    line-height: 1.5;
  }
  .article .item .avtor {
    margin-top: 48px;
    margin-bottom: 128px;
    p {
      font-weight: 400;
      margin-bottom: 0;
      span {
        font-weight: 400;
      }
    }
  }
  .text-area {
    max-width: 610px;
  }
}


@media screen and (max-width: 1200px) {
  .pganalytics_articles .column_2 {
    width: 100%;
    padding: 0 20px;
  }
  .pganalytics_articles .col.w_70 {
    width: 100%;
    flex-shrink: 1;
  }
  .pganalytics_articles .col.w_30 {
    width: 340px;
  }
  .pganalytics_article {
    .column_1 {
      width: 780px;
    }
    .plaha__back {
      left: -60px;
      text-transform: capitalize;
    }
  }
}
@media screen and (max-width: 980px) {
  .pganalytics_articles .column_2 .col {
    margin: 0;
  }
  .pganalytics_articles .col.w_30 {
    width: 100%;
  }
  .pganalytics_article .column_1 {
    width: 100%;
    padding: 0 12px;
  }
  .pganalytics_article .article .item h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 640px) {
  .slide .centerblock .centerblock_fon {
    background-image: none !important;
  }
}
@media screen and (max-width: 560px) {
  .column_2 .col .item {
    padding: 16px;
  }
}

// END pganalytics_articles


// START contracts
.pgcontracts .main__left {
    width: 26% !important;
    padding-right: 20px;
}
@media (max-width: 1200px) {
  .pgcontracts .table_div {
    padding-right: 0;
    margin-right: 0;
  }
  .pgcontracts .main__left {
      h2 {
        margin-left: 26px !important;
      }
      &--menu01 {
        margin-left: 26px !important;
      }
  }
}
@media (max-width: 768px) {
  .pgcontracts .content.main {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pgcontracts .main__right {
    width: 100% !important;
  }
  .pgcontracts .main__right--main {
    position: static;
  }
  .pgcontracts .table_div {
    margin-top: 0;
  }
  .pgcontracts .table_div .row {
    padding-left: 16px;
  }
  .pgcontracts .main__left {
    width: 100% !important;
    margin-bottom: 16px;
  }
  .pgcontracts .main__left--menu01--item {
      float: left;
      margin-right: 16px;
      margin-bottom: 6px !important;
      margin-top: 2px;
  }
  .pgcontracts .main__left--menu01.small .main__left--menu01--item {
    margin-right: 16px !important;
  }
  .pgcontracts .main__left--menu01:after {
    display: block;
    content: '';
    clear: both;
  }
  .pgcontracts .main__left--menu01.small {
    margin-top: 0;
  }
  .pgcontracts .main__left h2 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-size: 17px !important;
  }
  .pgcontracts .main__left--menu01--item a {
    font-size: 14px !important;
  }
}
// END contracts


.pgindex .slide_01 .main__footer {
  & .index_clients_01,
    .index_clients_02,
    .index_clients_03,
    .index_clients_04 {
    align-items: center;
  }
}
.pgbonus_get .slcont-slide .slide_06__head table td {
  padding-left: 0;
  &:first-child {
    padding-right: 20%;
  }
}

.pgbonus_get .slcont-slide .slide_06__body p {
  font-size: 16px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  padding-bottom: 6px;
}

.pgbonus_get .slcont-slide.slide_07 .panel_gray div {
  padding-right: 5%;
}



.slide .centerblock {
  align-items: center;
}

.pganalytics_video .col.video .item {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
}

/* Кнопки в шапке */
.head__right-wrapr {
  margin-top: -5px;
  a {
   height: 30px;
 }
}
.head__right-wrapr-r01,
.head__right-wrapr-r02,
.head__right-wrapr-r03 {
  // margin-top: 0;
}
/* /Кнопки в шапке */

/* Анимация бургера */
.c-hamburger--htx span {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-property: top, transform;
}
/* /Анимация бургера */

@media (max-width: 1200px) {
  .column_4 .col {
    .item, .head {
      padding-left: 8px;
    }
  }

  .head__right {
    width: 45%;
  }
  .head__left {
    width: 45%;
  }
  .slide_06__body img {
    width: 300px;
  }
}

@media (max-width: 980px) {
  .content .main {
    width: 100%;

  }
  .head__right {
    width: 100%;
  }
  .pgindex {
    .slide_01{
      .main {
        justify-content: center;
        height: 100%;
      }
      .main__center {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 60px;
      }
      .main__center-text input {
        margin: 20px 0;
        width: 100%;
        max-width: 320px;
      }
    }
  }
  .head__right {
    width: 50%;
  }
  .pgbonus_get .slcont-slide.slide_06,
  .pgbonus_get .slcont-slide.slide_07 {
    width: 90%;
    margin: 60px auto 0;
  }
  .pgbonus_get .slcont-slide .slide_06__head h2,
  .pgbonus_get .slcont-slide .slide_07__head h2 {
    margin-bottom: 40px;
  }
  .pgbonus_get .slcont-slide .slide_06__head table td,
  .pgbonus_get .slcont-slide .slide_07__head table td {
    padding: 12px 0;
  }
  .pgbonus_get .slcont-slide .slide_06__body img,
  .pgbonus_get .slcont-slide .slide_07__body img {
    max-width: 400px;
    margin: 0 auto 10px;
  }
  .pgbonus_get .slcont-slide .slide_06__head table {
    margin-bottom: 60px;
  }
  .pgbonus_get .slcont-slide .slide_06__body p {
    font-size: 14px;
  }
  .pgbonus_get .slcont-slide.slide_07 .marrig {
    padding-right: 0;
  }
  .pgbonus_get .slcont-slide.slide_07 p {
    font-size: 16px;
  }
  .pgbonus_get .slcont-slide.slide_07 h2 {
    font-size: 32px;
  }
  .pgbonus_get .slcont-slide.slide_07 ol li {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .pgprogram_region .slide_05 .main {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .pgprogram_region .slide_05 .main__center-head h2 {
    font: 36px/50px 'Open Sans';
    margin-bottom: 20px;
  }
  .pgprogram_region .slide_05 .main__center-head p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .pgwebinars .column_2 .item table td.webinars .webin:hover {
    padding: 12px 10px;
  }
}

@media (max-width: 768px) {
  .head__logo {
    display: block;
    width: 120px;
    // background-position: left center;
  }
  .head__right {
    // width: 100%;
    width: auto;
  }
  .head__left {
    width: 70px;
    flex-shrink: 0;
  }
}

@media (max-width: 560px) {
  .pgbonus_get .slcont-slide.slide_05 {
    padding-top: 80px !important;
  }
  .pgbonus_get .slcont-slide .slide_05__head h2 {
    font-size: 42px !important;
  }
  .pgbonus_get .slcont-slide .slide_05__head {
    width: 90% !important;
    padding-right: 0 !important;
  }
  .pgbonus_get .slcont-slide .slide_05__body_rows {
    width: 90% !important;
  }
  .column_2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .pgpartners .slcont-slide.slide_01 .main__center {
    margin: 0 20px;
  }
  .main__menu {
    right: 0 !important;
  }
  .head__nav .head__logo {
    display: none !important;
  }
}

@media (max-width: 470px) {
  .column_2 .col {
    // .item, .head {
    //   padding-left: 0;
    // }
    .item {
      &.banner,
      &.idei,
      &.awebinars,
      &.subscribe,
       {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
  .head__nav .head__logo {
    margin-left: 8px;
  }
  .head__left {
    width: 62px;
  }
  .c-hamburger {
    // width: 62px;
  }
  .pgbonus_get .slcont-slide.slide_04 table td img {
    width: 60px;
  }
  .pgbonus_get .slcont-slide .slide_06__head h2, .pgbonus_get .slcont-slide .slide_07__head h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .pgbonus_get .slcont-slide.slide_07 .panel_gray {
    flex-direction: column;
    margin-top: 10px;
  }
  .pgbonus_get .slcont-slide.slide_07 .panel_gray div {
    padding-bottom: 10px;
    padding-right: 0;
    width: 100% !important;
  }
  .pgindex .slide_01 .main__footer {
    justify-content: flex-start;
  }
  .pgindex .slide_01 .main__footer {
    & .index_clients_01,
      .index_clients_02,
      .index_clients_03,
      .index_clients_04 {
      width: 50%;
    }
  }
  .fly__chat-panel .right, .fly__feedback-panel .right {
    width: 100%;
  }
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block, .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block {
    width: 80%;
  }
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client p,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.client p,
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin p,
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackbdody1 .block.admin p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .pgindex .slide_01 {
    height: 100%;
  }
  .pganalytics_video .col.video {
    padding-left: 0;
    padding-right: 0;
  }
  .pgprogramagent .main__menu,
  .pgprogram_cpa .main__menu,
  .pgprogram_region .main__menu,
  .pgabout_inworld .main__menu,
  .pgpartners_internet .main__menu {
    padding-top: 12px;
  }
  .main__menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .pgbonus_get .slcont-slide.slide_04 div h2 {
    font-size: 30px;
    padding-top: 0px;
  }
  .pgbonus_get .slcont-slide.slide_04 .bot_slide_01 table td {
    font-size: 14px;
  }
  .pgbonus_get .slcont-slide.slide_04 table {
    width: 100%;
  }
  .pgbonus_get .slcont-slide.slide_04 p {
    font-size: 14px;
  }
  .pgbonus_get .slcont-slide.slide_05 {
    padding-top: 10px !important;
  }
  .pgbonus_get .slcont-slide .slide_05__head h2 {
    font-size: 32px !important;
  }
  .pgbonus_get .slcont-slide .slide_05__head {
    padding-left: 0 !important;
  }
  .pgbonus_get .slcont-slide .slide_05__body_rows--table td {
    padding: 10px 10px 10px 0 !important;
  }
  .pgbonus_get .slcont-slide .slide_05__body_rows--table th {
    padding-left: 0 !important;
  }
  .pgbonus_get .slcont-slide .slide_05__body_rows--table p {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pgpartners .slcont-slide.slide_01 .main__center {
    margin: 0 20px;
  }
  .pgbonus_get .slcont-slide.slide_06,
  .pgbonus_get .slcont-slide.slide_07 {
    margin-top: 0;
  }
  .pgbonus_get .slcont-slide .slide_06__head table td:first-child {
    padding-right: 10px;
  }
  .main__menu .myslide_nav a {
    margin: 0 6px!important;
    font-size: 12px!important;
    &.act {
      margin: 0 6px!important;
      font-size: 12px!important;
    }
  }
  .pgprogram_region .slide_05 .main__center-head h2 {
    font-size: 30px;
    line-height: 1.1;
  }
  .pgprogram_region .slide_05 .main__center-head p {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .pgindex .slide_01 .main__footer {
    flex-direction: row;
  }
  .pgindex .slide_01 .main__footer .index_clients_01 div:nth-child(2), .pgindex .slide_01 .main__footer .index_clients_02 div:nth-child(2), .pgindex .slide_01 .main__footer .index_clients_03 div:nth-child(2), .pgindex .slide_01 .main__footer .index_clients_04 div:nth-child(2) {
    font-size: 12px;
  }
  .fly__chat-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left, .fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead .btn_close_left {
    padding: 0;
  }
  .fly__feedback-panel .right-wrap .feedbackpanel .feedbackhead,
  .fly__feedback-panel .right-wrap .faqpanel .faqhead {
    margin-left: 24px;
    margin-right: 24px;
  }
}
