.pgprogramagent .slide .centerblock {

    width: 80%;
    display: flex;
    align-items: center !important;
    padding: 0;

     .mainpage {
        width: 620px;
        text-align: left;
        margin: 0;
    }
}

.pgprogramagent .slide-zarabotok {

    position: relative;
    width: auto;
    height: 50%;
    background-image: url('/img/partnersprogram_01.png');
    background-repeat: no-repeat;
    background-position: 109% 17px;
    background-size: contain;
    max-height: 430px;

    .zarabotok-title {
        width: 61%;
    }
    .zarabotok-title h2 {
        font: 48px/66px 'Open Sans';
        font-weight: 300;
        letter-spacing: 0.01em;
        margin-bottom: 20px;
    }
    .zarabotok-text {
        width: 42%;
    }
    .zarabotok-text p {
        font-weight: normal;
    }
    p.bullet {
        margin-bottom: 27px;
        line-height: 25px;
    }
    a {
        display: inline-block;
        margin-bottom: 20px;
    }
}
.pgprogramagent .slide-zarabotok.zarabotok1 {
    width: 900px;
    margin-left: 4%;
    margin-top: 5%;
    /* margin-top: 70px; */
    p.bullet {
        margin-bottom: 40px;
    }
}

/* второй слайд */
.pgprogramagent .slide-zarabotok.zarabotok2 {
    background-image:url('/img/partnersprogram_02.png');
    background-position: 112% 12px;
    width: 900px;
    margin-left: 6%;
    .zarabotok-title p {
        width: 75%;
    }
}

.pgprogramagent .slide-zarabotok.internet-slide2 {
    width: 1280px;
    padding-left: 9%;
    background-image:url('/img/partners_internet_01.png');
    background-position: 100% 12px;
    .zarabotok-title p {
        width: 75%;
    }
}
.pgprogramagent .slide-zarabotok.internet-slide4 {
    background-image:url('/img/partners_internet_03.png');
    background-position: 102% 12px;
    .zarabotok-title p {
        width: 75%;
    }
}

/*  слайд "мы поможем вам" */
.pgprogramagent .slide-help {
    background-image:url('/img/partnersprogram_03.png');
    background-repeat: no-repeat;
    background-size: 36%;
    background-position: 100% 100%;

    .slide-zarabotok.help {
        background-image: none;
        margin-left: 2%;
    }
    .zarabotok-title p {
        width: 90% !important;
    }
}

.pgprogramagent .lastsslide {
    flex-direction: column;
    padding: 0;

    .agent-container {
        width: 900px;
        margin-left: 5%;
        margin-top: 10.5%;
        /* margin-top: 70px; */
    }
    .agent-wrapper {
        width: 67%;
        p {
            line-height: 25px;
            letter-spacing: 0.02em;
            font-weight: 600;
            max-width: 577px;
            margin-left: -3px;
            margin-bottom: 53px;
        }
    }
    .agent-wrapper h2 {
        font: 48px/66px 'Open Sans';
        letter-spacing: 0.01em;
        margin-bottom: 20px;
        font-weight: 300;
    }
    .get_partners {
        margin-bottom: 0;
        margin-left: -15px;
    }
}

.pgprogramagent .slide .centerblock_540 {
    margin-top: 0;
}

.pgprogramagent .slide.lastsslide .centerblock_540 {
    padding-top: 0 !important;
}

.pgpartners_internet {
    .swiper-container_pi1 {
        overflow: hidden;
    }
    .slide .centerblock {
        display: flex;
        padding: 0;
    }
    .slide .centerblock .mainpage {
        width: initial;
        margin-top: 0;
    }
    .slide .centerblock_540 {
        align-items: center !important;
        margin-top: 0px;
    }
}

.pgpartners_vidy {
    .main__center--block p {
        font-weight: 600;
    }
    .main__center--block table td.vidy-description {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }
}

.page-about {
    .a-slide1 .centerblock .mainpage {
        width: 580px;
        margin: 0;
        p {
            line-height: 25px;
        }
        h2 {
            margin-bottom: 35px;
        }
    }
    .a-slide1 .centerblock {
        display: flex;
        padding: 0;
    }
    .slide .centerblock {
        height: 100vh;
    }
}

.swiper-container_abo.page-about,
.page-about .swiper-slide,
.page-about .swiper-wrapper,
.pgabout .wrapper,
.pgabout {
    height: 100vh !important;
    // position: relative;
}

.wrapper {
    height: 100% !important;
 /* height: 100vh !important; */
}

.big-slide {
    display: block;
}

.column_4 {
 height: 100%;
}
.column_4 .col {
 height: 100%;
}

/* меню */

.fly__menu .left .menu-main a,
.fly__menu .left .menu-dop a,
.fly__menu .left .menu-dop h3 {
    display: table;
}

.fly__menu .left .menu-dop h3 {
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: 0.09em;
    margin-bottom: 5px;
}

.fly__menu .left .menu-main a {
    letter-spacing: 0.01em;
}

.fly__menu .left .menu-dop a {
    letter-spacing: 0.02em;
    line-height: 36px;
    margin: 0;
}

.fly__menu .left .menu-dop a.menu-section {
    margin: 0;
}

.fly__menu .left {
    background: #2d3138;
    -webkit-box-shadow: 4px 15px 26px 0px #a9a9a9;
       -moz-box-shadow: 4px 15px 26px 0px #a9a9a9;
            box-shadow: 4px 15px 26px 0px #a9a9a9;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.vk, .fb { font-weight: bold; }
.fly__menu .left .menu-footer .vk::before,
.fly__menu .left .menu-footer .vk:hover::before {
    left: -20px;
}
.fly__menu .left .menu-footer .fb::before,
.fly__menu .left .menu-footer .fb:hover::before {
    left: -16px;
}

.fly__menu .left .menu-footer .vk span,
.fly__menu .left .menu-footer .fb span {
    position: relative;
    font-size: 13px;
    color: #9399a1;
    cursor: pointer;
    font-weight: 600;
}

.fly__menu .left a:hover,
.fly__menu .left a span:hover,
.fly__menu .left .menu-footer .fb:hover,
.fly__menu .left .menu-footer .fb span:hover,
.fly__menu .left .menu-footer .vk:hover,
.fly__menu .left .menu-footer .vk span:hover {
    color: white;
}

a {
    transition: color 0.3s;
}

.social-link:hover{
    transition: all 0.4s;
}

.fly__menu .left .menu-footer .vk:hover::before { background-image: url(../img/social_vk.png); }
.fly__menu .left .menu-footer .fb:hover::before { background-image: url(../img/social_fb.png); }

.pgcontracts .main__right {
    width: 74%;
}

.table_div {
    padding-right: 30px;
    margin-top: 52px;
}

.table_div .row_head {
    padding-left: 30px;
}

.table_div .row {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    padding-left: 30px;
}

.table_div .row_head .col {
    letter-spacing: 0.09em;
}

.pgcontracts {
    .main__left h2 {
        margin-top: 29px;
        margin-bottom: 37px;
    }
    .main__left--menu01--item {
        margin-bottom: 26px;
    }
    .main__left--menu01.small .main__left--menu01--item {
        margin: 5px 0 12px 0;
    }
}

.pgaccounts {
    .wrapper {
        overflow: hidden;
    }
    .main__right--table--body {
        margin-top: 132px;
        /* position: absolute; */
        /* width: 100%; */
    }
    .main__right--table {
        position: relative;
        height: 100%;
    }
    .main__right--table--head {
        padding-top: 93px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e6e6e6;
    }
    .main__right--table--head .row {
        padding-right: 17px;
        padding-left: 0;
    }
    .main__right--table--head .row .col-02 {
        padding-left: 27px;
        font-size: 16px;
    }
    .main__right--table--head .row .col-03 {
        padding-left: 14px;
        font-size: 16px;
    }

    .main__right--table--body .row .col-01 {
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
        letter-spacing: 0.09em;
        line-height: 2.2;
    }

    .main__right--table--body .row .col-02 {
        padding: 14px 0px 20px 24px;
        letter-spacing: 0.02em;
    }
    .main__right--table--body .row .col-03 {
        padding: 14px 0px 20px 7px;
        letter-spacing: 0.02em;
    }

    .main__left h2 {
        margin-top: 29px;
        margin-bottom: 26px;
    }

    .main__left--menu--item a {
        letter-spacing: 0.02em;
    }

    .main__right--table--body .row:hover {
        border-top: 1px solid #2675eb;
        border-bottom: 1px solid #2675eb;
    }
    .main__right--table--body .row.first:hover {
        border-top: 1px solid #2675eb;
    }

    .main__right--table--body .row.first {
        border-top: 1px solid #e6e6e6;
    }

    .footer {
        display: none;
    }

    .main__left--menu--item.ts_affiliate::before {
        left: -22px;
        width: 36px;
    }
    // .main__left--menu--item.ts_affiliate:hover::before {
    //     left: -22px;
    //     width: 36px;
    // }
    // .main__left--menu--item.ts_demo:hover::before { left: -14px; }
    .main__left--menu--item.ts_demo::before { left: -14px; }
}

.swiper-container_abo,
.swiper-container_cpa {
    overflow-y: hidden;
}

.swiper-slide.block_news {
    display: block !important;
    background-color: initial !important;
}

.about-lastslide-wrapper {
    position:relative;
    height:100%;
    width: 100%;
}

.pgabout {
    .about-lastslide-wrapper .footerblock--blockt {
        padding-top: 130px;
        text-align: left;
    }
    .swiper-slide {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
    .about-lastslide-wrapper .swiper-slide {
        opacity: 1;
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .head__nav.sfonom {
        .c-hamburger.is-active span {
            background: none;
        }
        .c-hamburger span {
            background-color: white;
            &::before,
            &::after {
                background-color: white;
            }
        }
    }
}

/* cpa */
.pgprogram_cpa .slide_05 {
    .main {
        margin-top: 100px;
    }
    .main input {
        padding-bottom: 15px;
    }
    .button01 {
        margin-left: 3px;
    }
    .main__center-head {
        margin-bottom: 25px;
    }
    .main__center-text .social.social__vk:hover {
        background-image: url(../img/social_vk_p.png);
    }
    .main__center-text .social.social__fb:hover {
        background-image: url(../img/social_fb_p.png);
    }
    .main__center-text .social.social__ok:hover {
        background-image: url(../img/social_ok_p.png);
    }
}
.pgprogram_cpa {
    .slide_01__center {
        width: 72%;
        margin-bottom: 26px;
    }
    .slide_01__center-text {
        letter-spacing: 0.01em;
    }
    .slide_02 {
        overflow-x: hidden;
        .center div h2 {
            font-size: 48px;
            margin-bottom: 18px;
        }
        .center div:nth-child(1) {
            width: 63%;
        }
        .center div:nth-child(2) {
            width: 37%;
        }
        .center div p {
            margin-bottom: 73px;
        }
    }
    .center p.bullet {
        padding-left: 10px;
        max-width: 355px;
    }
    .slide_02 .center div p.bullet,
    .slide_03 .center div p.bullet,
    .slide_04 .center div p.bullet {
        margin-bottom: 42px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.02em;
    }
    .cpa-img img {
        margin-left: 25px;
    }
    .slide_02 .cpa-title-description {
        max-width: 510px;
    }
}

.pgaccounts .main__right--table--head .row .col-01 {
    padding-left: 20px;
    height: 5px;
}

.pgaccounts .footer.acc-footer-show {
    display: flex;
    position: absolute;
    bottom: 0;
}

.pgpayments {
    // .sel_platsys {
    //     margin-bottom: 30px !important;
    // }
    // .sel_card {
    //     margin-bottom: 33px !important;
    // }
    strong {
        margin-left: 11px;
    }
    .sel_banks::before,
    .sel_platsys::before {
        top: -8px;
    }
    .main__left .head .button02.gray {
        padding-bottom: 2px;
    }
    .item .epana_panel div {
        font-weight: bolder;
    }
    .main__left .item .epana_panel div br {
        line-height: 16px;
    }
    .table_div {
        .row_head {
            margin-bottom: 10px;
        }
        .row:hover .col.col5t .hide {
            margin-left: 55px;
        }
        .col.col1t,
        .col.col2t {
            display: flex;
            align-items: center;
        }
        .col.col3t,
        .col.col4t,
        .col.col5t {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .row.row_head:hover .col.colw2,
        .row.row_head:hover .col.colw5 {
            width: 25%;
        }
    }
    .head div:nth-child(1) {
        font-size: 20px;
    }
    .main__left .item.hover {
        -webkit-box-shadow: 0px 0px 9px #d6d6d6;
        -moz-box-shadow: 0px 0px 9px #d6d6d6;
        box-shadow: 0px 0px 9px #d6d6d6;
    }
}

.pgpartners_rules {

    .main__center div:nth-child(1) {
        width: 440px;
        margin: 17px 155px 0 105px;
        padding-right: 0;
        flex-shrink: 0;
    }
    .main__center div:nth-child(2) {
        margin-top: 20px;
    }
    .main__center div:nth-child(2) p {
        line-height: 20px;
        letter-spacing: 0.02em;
        font-weight: 400;
    }
    .main__center div ol li {
        letter-spacing: 0.02em;
        line-height: 24px;
    }
    ol li {
        padding-left: 5px;
    }
    a.icon_pdf {
        margin-left: 43px;
    }
}

.pgindex .head__nav.sfonom {
    background: #33373e;
    background: -moz-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: -webkit-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#33373e), to(#25282d));
    background: -o-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: linear-gradient(to bottom, #33373e 0%, #25282d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33373e', endColorstr='#25282d', GradientType=0);
    -webkit-box-shadow: 0 0 26px 0 #000;
    -moz-box-shadow: 0 0 26px 0 #000;
    box-shadow: 0 0 26px 0 #000;
}

.pgprogram_region {
    .center h2 {
        letter-spacing: 0.01em;
    }
    .description {
        letter-spacing: 0.02em;
    }
    .slide_02 .center {
        div:nth-child(2) {
            top: 45px;
            right: 0;
        }
    }
    .slide_03 .center {
        div:nth-child(2) {
            top: 105px;
            right: -50px;
        }
    }
    .slide_04 .center {
        div:nth-child(2) {
            top: 80px;
            right: 200px;
        }
        div img {
            position: relative;
        }
        div p.bullet {
            max-width: 450px;
        }
    }

    .slide_05 {
        .main {
            max-width: 845px;
            margin-top: 146px;
        }
        .main__center-head {
            margin-bottom: 25px;
        }
        .main__center-text {
            margin-left: -10px;
        }
    }

    .slide_02 .center,
    .slide_03 .center,
    .slide_04 .center {
        position: relative;
        display: block;
        max-width: 1010px;
        margin-left: 11%;
        margin-top: 176px;
        /* margin-top: 11%; */
        /* margin-left: 212px; */
        div:nth-child(1) {
            width: 52%;
        }
        div:nth-child(2) {
            position: absolute;
            width: auto;
        }
        div h2 {
            font-size: 48px;
            margin-bottom: 18px;
        }
        div p {
            margin-bottom: 73px;
            line-height: 25px;
            letter-spacing: 0.02em;
        }
        div p.bullet {
            max-width: 410px;
            margin-bottom: 42px;
            line-height: 25px;
            letter-spacing: 0.02em;
            padding-left: 10px;
        }
    }
}

.pgprogram_agent_reward {
    .main__center {
        padding: 27px 21px 0 21px;
    }

    .main__center--block {
        h2 {
            letter-spacing: 0.01em;
            margin-bottom: 25px;
        }
        p {
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0.02em;
        }
    }
    .main__center--block.calc {
        margin-top: 35px;
        margin-left: 6%;
        max-width: 1060px;
        -webkit-box-shadow: 0px 20px 100px #e4e3e3;
        -moz-box-shadow: 0px 20px 100px #e4e3e3;
        box-shadow: 0px 20px 100px #e4e3e3;

        div.right > div {
            margin-bottom: 0;
        }

        div.right div:first-child {
            margin-bottom: 74px;
        }

        div.right > div p {
            letter-spacing: 0.09em;
        }
        div.left {
            width: 680px;
            padding-left: 70px;
            padding-right: 70px;
            table {
                width: 100%;
            }
            table td.head {
                font-weight: bold;
                letter-spacing: 0.09em;
            }
            h2 {
                letter-spacing: 0.01em;
                text-align: left;
                margin-top: 56px;
                margin-bottom: 31px;
            }
            .fi_select {
                max-width: 258px;
            }
            .fi_select .tx.sel {
                letter-spacing: 0.02em;
                font-weight: 600;
            }
            .tr-after-dropdown td.head {
                padding-top: 28px;
            }
            td.range {
                padding-top: 2px;
                padding-bottom: 24px;
            }
            table td.td-dropdown2 {
                padding-left: 20px;
            }
        }
        div.right {
            width: 380px;
            padding-bottom: 14px;
        }
    }
    .main__center--block.row.lasttable {
        max-width: 930px;
        th {
            font-weight: bold;
            letter-spacing: 0.09em;
        }
        .thead-title th {
            padding-bottom: 16px;
        }
        .tr-pt-serif td,
        .table-text {
            font-family: 'PT Serif';
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.02em;
        }
        .table-text:first-child {
            margin-bottom: 22px;
        }
        .mute {
            max-width: 320px;
            letter-spacing: 0.02em;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.pgprogram_agent_reward .main__menu,
.pgprogram_agent_rules .main__menu {
    top: 43px;
    z-index: 90;
}

.pgbonus .slide_02 .text p {
    line-height: 25px;
    max-width: 540px;
}

.pgindicators .footer {
    display: flex;
}

.pgbonus_get {
    .slcont-slide.slide_07 {
        padding-right: 0;

        .panel_gray {
            max-width: 840px;
            height: 180px;
            padding: 0 40px;
            align-items: center;

            .panel_gray__wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
            div {
                padding-right: 0;
                line-height: 24px;
                span {
                   font: 10px/18px 'Open Sans';
                   font-weight: 600;
                   letter-spacing: 0.06em;
               }
            }
            .panel_gray__bl1 {
                width: 43%;
                margin-right: 30px;
            }
            .panel_gray__bl2 {
                width: 15%;
                min-width: 105px;
                p {
                    margin-bottom: 10px;
                }
            }
            .panel_gray__bl3 {
                width: 25%;
                min-width: 175px;
                line-height: 15px;
                p:first-child {
                    margin-bottom: 10px;
                }
            }
        }
        h2 {
            font-size: 48px;
            letter-spacing: 0.01em;
        }
    }
    .panel_gray,
    .marrig {
        margin-right: 100px;
    }

    .limitation-wrapper {
        margin-bottom: 40px;

        .limitation-block {
            width: 44%;
            display: flex;
            float: left;
            margin-bottom: 60px;

            &.left {
                margin-right: 73px;
            }

            .limitation-img {
                margin-right: 30px;
            }
            .limitation-text {
                font: 16px/24px 'PT Serif';
                letter-spacing: 0.02em;
                span {
                    display: block;
                    margin-top: 10px;
                    font: 10px/18px 'Open Sans';
                    font-weight: 600;
                    letter-spacing: 0.06em;
                    color: #7f8081;
                }
            }
        }
    }
}

.pgprogramagent .main__menu,
.pgprogram_cpa .main__menu,
.pgprogram_region .main__menu,
.pgabout_inworld .main__menu,
.pgpartners_internet .main__menu {
    top: 62px;
    z-index: 90;
}

.pgpartners_vidy .main__menu,
.pgpartners_net .main__menu,
.pgpartners_rules .main__menu {
    top: 42px;
    z-index: 90;
}

.pgindicators .content {
    position: relative;
    .fly__calculator,
    .fly__chat {
        z-index: 90;
    }
}

.pgauth .wrapper {
    justify-content: center;
}

.chat-fixed,
.calc-fixed {
    position: fixed;
    z-index: 90;
    transition: bottom 0.6s;
}

.pgbonus_get .main__menu {
    z-index: 91;
}
.pgbonus .main__menu {
    background: transparent;
}

.fly__calculator {
    &.calc-act {
        bottom: 120px;
    }
}
.fly__chat {
    &.chat-act {
        bottom: 60px;
    }
}

.pgpartners_reward {
    overflow: hidden;
}

.head__nav.sfonom-temp {
    background: #33373e;
    background: -moz-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: -webkit-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#33373e), to(#25282d));
    background: -o-linear-gradient(top, #33373e 0%, #25282d 100%);
    background: linear-gradient(to bottom, #33373e 0%, #25282d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33373e', endColorstr='#25282d', GradientType=0);
    -webkit-box-shadow: 0 0 26px 0 #000;
    -moz-box-shadow: 0 0 26px 0 #000;
    box-shadow: 0 0 26px 0 #000;
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.head__nav.sfonom-temp .head__right-wrapr-r01,
.head__nav.sfonom-temp .head__right-wrapr-r02,
.head__nav.sfonom-temp .head__right-wrapr-r03 {
    border-color: #727b85
}

.pgwebinars {
    .column_2 .item table .webin__right {
        display: table-row;
    }
}

.menu-open {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scroll-wrapper > .scroll-content {
    overflow-x: hidden !important;
}

// "заглушка"
@media (min-height: 801px) {
    .pgprogram_agent_partners,
    .pgpartners_net {
        .calc-fixed { bottom: 120px; }
        .chat-fixed { bottom: 60px; }
    }
}

@media (min-width: 980px) {
    .pgprogram_cpa .slide_05 .main__center-text {
        margin-left: -10px;
    }
}

@media (min-width: 1200px) {

    .table_div .col {
        padding: 38px 10px;
    }

    .row .col,
    .row_head .col {
        text-align: right;
    }

     .row .col:nth-child(1),
     .row .col:nth-child(2),
     .row_head .col:nth-child(1),
     .row_head .col:nth-child(2) {
         text-align: left;
     }

     .pgprogram_region .slide_04 .center {
         height: 537px;
     }

     .pgaccounts .main__right {
         width: 74%;
     }
}

/*---------------------------*/

@media (min-width: 980px) and (max-width:1199px) {
    .pgpayments {
        .table_div .col.col1t img {
            max-width: 70px;
        }
        .table_div {
            margin-right: 0;
        }
        .table_div .col.colw5 {
            width: 15%;
        }
        .table_div .row_head .col.colw5 {
            width: 15%;
            height: 70px;
        }
        .table_div .col.col2t {
            padding-left: 30px;
        }
    }
}

@media (min-width: 761px) and (max-width: 979px) {
    .pgprogram_region {
        .slide_02 .center div img,
        .slide_03 .center div img {
            width: 230px !important;
            height: auto;
        }

        .center .description {
            max-width: 400px;
        }
        .slide_02 .center {
            div:nth-child(2) {
                top: 45px;
                right: -160px;
            }
            div p.bullet {
                max-width: 400px;
            }
        }
        .slide_03 .center {
            div:nth-child(2) {
                top: 105px;
                right: -150px;
            }
        }
        .slide_04 .center {
            div:nth-child(2) {
                top: 60px;
                right: -150px;
            }
            div img {
                position: relative;
            }
            div p.bullet {
                max-width: 450px;
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 979px) {
    .pgaccounts .main__left {
        width: 206px;
    }
}

@media (min-width: 400px) and (max-width: 980px) {
    .pgprogram_cpa {
        .cpa-img {
            display: none;
        }
        .slide_05 .main__center-head h2 {
            font: 36px/50px 'Open Sans';
            margin-bottom: 20px;
            font-weight: 300;
         }
         .slide_05 .main__center-head p {
           font-size: 16px;
           font-weight: bold;
           margin-bottom: 40px;
         }
         .slide_05 .main {
            width: 100%;
            padding-left: 12px;
            padding-right: 12px;
         }
    }
}

/*------------------------*/

@media (max-width: 1199px) {
    .pgprogram_region {
        .slide_02 .center div img,
        .slide_03 .center div img {
            width: 360px;
            height: auto;
        }
        .center div p.description {
            margin-bottom: 40px;
        }
        .slide_02 .center,
        .slide_03 .center,
        .slide_04 .center {
            div p.bullet {
                margin-bottom: 20px;
            }
        }
        .slide_02 .center {
            div:nth-child(2) {
                top: 105px;
                right: 0;
            }
        }
        .slide_03 .center {
            div:nth-child(2) {
                top: 105px;
                right: 0;
            }
        }
        .slide_04 .center {
            div:nth-child(2) {
                top: 80px;
                right: 120px;
            }
        }
    }
}

@media (max-width: 980px) {
    .pgprogram_agent_rules .main__center {
        width: auto !important;

        div:nth-child(1) {
            padding-right: 10px;
        }

        div:nth-child(2) {
            margin: 0 auto 50px auto;
        }

        div.lastblock a.icon_pdf {
            display: inline-block;
            margin-top: 5px;
            margin-left: 45px;
        }

        div.lastblock a:first-child {
            margin-left: 4px;
        }
    }
}

@media (max-width: 979px) {

    /* payments */
    .pgpayments .table_div {
        margin-top: 10px;
        padding: 0 10px;

        .row_head .col.colw5 {
            position: absolute;
            top: 3px;
            width: 34%;
        }
        .row_head {
            height: 60px;
        }
    }
    .pgpayments {
        .main {
            flex-direction: column-reverse;
        }
        .head__right-wrapr-r01,
        .head__right-wrapr-r02,
        .head__right-wrapr-r03 {
            margin-top: 2px;
        }
        .item.hover,
        .item.hover.ban_watch {
            display: none;
        }
        .main__left .head {
            margin: 0 70px;
            justify-content: space-between;
        }
        .main__left .item.menu {
            margin-bottom: 20px;
        }
        .item.menu strong {
            white-space: nowrap;
        }
        .table_div .row_head .col.colw3 {
            min-width: 65px;
        }
    }

    .pgprogramagent .lastsslide .agent-container {
        width: auto;
        margin-top: 0;
    }
    .pgprogramagent .lastsslide .agent-wrapper {
        width: auto;;
        margin-top: 100px;
    }

    .pgprogram_agent_partners .main__center-footer .mcft_block {
        margin: 0;
        padding: 15px;
    }
    .pgprogram_agent_partners .main__center-footer {
        display: block;
    }

    .treelegend {
        width: 100% !important;
    }

    .pgprogram_region .slide_05 .main {
        width: 90%;
        .description {
            max-width: 500px;
        }
    }

    .pgprogram_agent_reward {
        .main__center {
            .main__center--block {
                img {
                    margin-top: 40px;
                }
            }
            .main__center--block.calc {
                margin-left: 0;
                margin-bottom: 35px;
            }
            .main__center--block.row div:nth-child(2) {
                margin-top: 25px;
            }
        }
    }

    .pgbonus_get {
        .panel_gray,
        .marrig {
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {

    .pgprogramagent {
        .slide .centerblock .mainpage h2 {
            font-size: 2em;
        }
        .slide-zarabotok {
            background-size: 52%;
        }
        .slide-zarabotok {
            background-size: 52%;
        }
        .slide-zarabotok,
        .slide-help {
            background-image: none !important;
        }
        .lastsslide .agent-wrapper {
            width: 100%;
            h2 {
                font: 48px/50px 'Open Sans';
                font-weight: 300;
            }
            p {
                margin-bottom: 40px;
            }
        }
        .slide-zarabotok .zarabotok-title,
        .slide-zarabotok .zarabotok-title p {
            width: 98% !important;
        }
        .slide-zarabotok .zarabotok-text {
            width: 95%;
        }
        .slide-zarabotok.internet-slide2 {
            padding: 0;
        }
    }

    .pgpartners_internet {
        .slide-zarabotok {
            background-image: none !important;
        }
    }

    .pgpartners_rules {
        .main__center {
            width: 83% !important;
            flex-direction: column;
            margin-top: 10px;
        }
        .main__center div:nth-child(1) {
            width: auto !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        .main__center div:nth-child(2) {
            width: auto;
        }
        .main__center ol li {
            padding-left: 8px;
        }
        div a.icon_pdf {
            margin-left: 46px;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .pgpartners_net {
        .main__center {
            padding-top: 0px;
        }
        .main__center-footer {
            flex-direction: column;
            align-items: center;
            padding: 0 10%;
        }
        .main__center-footer .mcft_block {
            width: auto;
        }
    }

    .pgauth .auth {
        width: auto;
        padding: 5%;
    }

    .pgprogram_region {
        .center div:nth-child(2) {
            display: none;
        }
    }

    .pgpartners_reward {
        .swiper-wrapper {
            width: auto !important;
        }
         .main__menu .myslide_nav a {
             margin: 12px 8px;
             white-space: nowrap;
         }
        .slide_01 .center,
        .slide_02 .center,
        .slide_03 .center {
            height: 80%;
            background-size: 65%;
            p.bullet {
                margin-bottom: 10px;
            }
            h2 {
                margin-bottom: 15px;
            }
            .footer1 {
                bottom: 10%;
                left: 10%;
            }
        }
        .center p.left {
            margin-bottom: 20px !important;
        }
    }

    .pgpartners_vidy {
        .main__center--block {
            margin-top: 70px;
        }
    }

    .pgprogram_cpa {
        .cpa-img {
            display: none;
        }
        .slide_02 .center {
            padding-left: 10px;
        }
        .slide_02 .center div p.cpa-title-description {
            margin-bottom: 35px !important;
        }

        .slide_01__center {
            width: 84%;
            margin-left: 10%;
        }
    }

    .pgbonus_get {
        .slcont-slide.slide_07 .panel_gray {
            margin-bottom: 40px;
        }
        .limitation-wrapper {
             margin-top: 30px;
             margin-bottom: 10px;

             .limitation-block {
                width: 100%;
                align-items: center;
             }
        }
    }

    .pgprogram_agent_reward {
        .main__center {
            .main__center--block.calc {
                div.left {
                    padding-left: 18px;
                    padding-right: 16px;
                }
                div.right {
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .pgaccounts {
        .main__right--table--head {
         padding-top: 23px;
         padding-bottom: 8px;
             .row .col-02 {
               padding-left: 23px;
             }
             .row .col-03 {
               padding-left: 6px;
             }
        }
        .main__right--table--body {
             margin-top: 54px;
        }
    }
}

@media (max-width: 640px) {
    .pgbonus {
        .main__menu {
            width: auto;
            padding-top: 30px;
        }
        .main__menu .myslide_nav {
            text-align: left;
            padding-left: 13px;
            line-height: 2.4;
        }
    }
    .pgbonus_get .slcont-slide.slide_07 .panel_gray {
        height: auto;
        .panel_gray__wrapper {
            padding: 5px 0;
            flex-direction: column;
            div {
                margin: 10px 0;
                width: 100%;
            }
        }
    }
}

@media (max-width: 560px) {

    .pgaccounts {
        .main__right--table--body .row .col-01 {
            margin-left: 0;
            padding-left: 12px;
            padding-top: 7px;
        }
        .main__right--table--head {
            padding-top: 28px;
            margin-top: 0;
        }
        .main__right--table--head .row .col-03 {
            padding-left: 6px;
            font-size: 12px;
        }
        .main__right--table--head .row .col-02 {
           padding-left: 23px;
           font-size: 12px;
        }
        .main__right--table--body .row .col-01 {
            margin-top: 5px;
            margin-left: 28px;
            text-align: left;
       }
        .main__right {
            width: 100%;
        }
        .main__right--table--head {
            margin-top: 20px;
        }
        .main__left--menu01.small {
            margin-left: 10px;
        }
    }

    .pgpayments {
        .col.colw5.col5t.align-right {
            width: 33%;
            height: 20px;
            min-height: 20px;
            margin-bottom: 10px;
        }
        .table_div .row:hover .col.colw5 {
            justify-content: flex-start;
            width: 100%;
            min-height: 60px;
            .hide {
                margin-left: 15px;
                font-size: 11px;
            }
        }
    }

    .pgprogram_cpa {
        .slide_05 .main,
        .slide_02 .center {
            width: 95%;
            max-width: 835px;
        }
    }

    .pgbonus {
        .slide_02 .text {
            padding: 0 25px;
            text-align: left;
            h2 {
                font-size: 40px;
            }
            p {
                margin-bottom: 30px;
            }
        }
        .slide_03 .sl_03 {
            .sl_03__text {
                width: 96%;
            }

            div h2 {
                font-size: 40px;
                margin-bottom: 15px;
            }
            div a {
                display: inline-block;
                margin-top: 15px;
            }
        }

        .slide_02 .bonus-img,
        .slide_03 .bonus-img {
            display: none;
        }
    }
}

@media (max-width: 522px) {
    .pgprogram_agent_reward {
        .main__center {
            .main__center--block.calc {
                div.left {
                    .range2 td {
                        padding-right: 40px;
                    }
                    h2 {
                        margin-top: 46px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .fly__calculator-panel {
        .right {
            width: 100%;
        }
    }

    .pgprogramagent {
        .slide .centerblock {
            width: 90%;
        }
        .slide .centerblock .mainpage h2 {
            font-size: 1.3em;
        }

        .lastsslide .agent-wrapper {
            h2 {
                font: 36px/50px 'Open Sans';
                font-weight: 300;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .pgauth .auth .abody table td input {
        font-size: 14px;
    }

    .pgprogram_agent_reward {
        .main__center {
            .main__center--block.calc {
                height: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                div.left {
                    width: 100%;
                    padding: 0 6%;
                    h2 {
                        margin-top: 25px;
                    }
                }
                div.right {
                    width: 100%;
                    padding: 20px 0;
                    div:first-child {
                        margin-bottom: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .pgpartners_vidy {
        table br {
            line-height: 19px;
        }
        .main__center--block table td {
            line-height: 22px;
        }
        .main__center--block h2 {
            font-size: 42px;
        }
        table .vidy-img img {
            width: 180px;
            height: auto;
        }
    }

    .pgprogramagent {
        .slide-zarabotok .zarabotok-title {
            width: 100%;
        }
        .zarabotok-title h2 {
            font: 32px/44px 'Open Sans' !important;
            font-weight: 300;
        }
    }

    .pgwebinars {
        .column_2 .item {
            table, tbody, tr, td {
                display: inline-block;
            }
            table {
                tr {
                    width: 100%;
                    margin-bottom: 20px;
                }
                td.webinars {
                    width: 100%;
                    .webin .hide {
                        margin-top: 16px;
                    }
                }
                td.data {
                    margin-left: 18px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .pgprogramagent .slide .centerblock {

        flex-direction: row;

        .mainpage h2 {
            font-size: 1.1em;
            margin-left: 0;
            margin-right: 0;
        }
        .zarabotok-title h2 {
            margin-left: 0;
        }
        .zarabotok-title p {
            font-size: 14px;
            margin-left: 0;
            margin-bottom: 24px;
        }
        p.bullet {
            font-size: initial;
            margin-left: 61px;
        }
        .zarabotok-text p {
            font-size: 14px;
        }
    }
    .pgprogramagent .slide-zarabotok {
        margin-top: 20px;
    }

    .pgbonus,
    .pgprogramagent,
    .pgprogram_region,
    .pgpartners_internet,
    .pgbonus_get {
        .main__menu {
            padding-top: 22px;
        }
        .main__menu .myslide_nav {
            text-align: left;
            line-height: 1.8;
        }
    }
    .pgprogram_region {
        .main__menu {
            padding-top: 22px;
            padding-left: 9%;
        }
    }
    .pgprogramagent {
        .main__menu {
            padding-left: 7%;
        }
        .slide-zarabotok.zarabotok2 {
            margin-left: 4%;
        }
    }

    .pgcontracts .main__left--menu01.small {
        margin-left: 4px;
    }

     .agent-container {
         width: 100% !important;
     }

    .agent-wrapper {
        h2 {
           margin: 10px 0 10px 0 !important;
           font: 21px/34px 'Open Sans' !important;
       }
       p {
           font-size: 13px !important;
           margin: 0 !important;
       }
       .get_partners input {
           width: auto;
           margin: 12px 0 20px 0;
           font-size: 24px;
       }
    }

    .pgpartners_reward {
        .slide_01 .center,
        .slide_02 .center,
        .slide_03 .center {
            background-image: none;

            .footer1 {
                bottom: 0;
                left: 10%;
            }
            p.bullet {
                font-size: 15px;
                margin-bottom: 10px !important;
            }
        }
        .center {
            padding-top: 22px;
        }
        .fs_s48, h2 {
            font-size: 32px !important;
        }
    }

    .pgpartners_vidy {
        .main__center--block h2 {
            font-size: 32px;
        }
        .main__center--block table td {
            padding-top: 15px;
            padding-bottom: 50px;
            text-align: center;
        }
        table {
            .vidy-img {
                padding: 0 !important;
            }
            .vidy-img img {
                width: 160px;
                height: auto;
            }
            td, th {
                display: inline-block;
            }
        }
    }

    .pgprogram_cpa {
        .slide_05 .main {
            padding-left: 12px;
            padding-right: 12px;
        }
        .slide_05 .main__center-text input {
            margin: 25px 0;
        }
    }

    .pgbonus {
        .slide_02 .text h2,
        .slide_03 .sl_03 div h2 {
            font-size: 28px;
        }
        .slide_02 {
            .text p {
                font-size: 16px;
            }
        }
        .slide_03 .sl_03 {
            div p {
                margin-bottom: 15px;
            }
        }
    }

    .pgbonus_get .main__menu {
        top: 12px !important;

        .myslide_nav a {
            margin: 0 6px!important;
            font-size: 12px!important;
        }
    }
}

@media (max-width: 375px) {
    .pgwebinars {
        .column_2 .item {
            table td.webinars {
               .webin h3,
               .webin.noact h3 {
                   font-size: 16px;
               }
           }
        }
    }

    .pgprogram_cpa {
        .slide_05 {
            .main__center-head {
                margin-bottom: 20px;
                h2 {
                    font-size: 27px;
                }
            }
            .social_wrap {
                display: block;
                a:first-child {
                    display: block;
                    margin: 0 0 16px 0;
                    text-align: left;
                    float: none;
                }
                a {
                    float: left;
                    margin-right: 15px !important;
                }
            }
        }
    }

    .pgpayments {
        .table_div .row_head .col.colw5 {
            min-width: 127px;
        }
        .table_div .row_head .col.colw4 {
            width: 35%;
        }
    }

    .pgbonus_get {
        .slcont-slide.slide_07 {
            h2 {
                font-size: 40px;
                text-align: center;
            }
            h2:nth-child(2) {
                text-align: left;
            }
        }
        .limitation-wrapper {
             margin-top: 10px;

             .limitation-block {
                width: 100%;
                align-items: center;
                flex-direction: column;

                .limitation-img {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
             }
         }
    }

    .pgabout {
        .slide .centerblock .div1row_right h2 {
            margin-top: 0;
        }
    }

    .pgprogram_agent_reward {
        .main__center--block {
            h2 {
                font-size: 38px;
            }
            .reward-desc br {
                display: none;
            }
        }
    }

    .fly__menu .left .menu-footer {
        .vk, .fb {
            width: 10px;
            height: 18px;
            span {
                display: none;
            }
        }
        .fb::before,
        .fb:hover::before {
            left: -20px;
        }
        .vk::before,
        .vk:hover::before {
            left: -10px;
        }
    }
}

// .fly__chat-panel, .fly__feedback-panel,
// .fly__calculator-panel {
//     position: fixed;
// }

@media (max-width: 350px) {
    .pgpayments .main__left .item.menu {
        margin: 40px 40px;
    }
}

@media (max-width: 340px) {

    .pgwebinars {
        .column_2 .item {
            padding-left: 6px;
            padding-right: 6px;
            table {
                td.webinars {
                    .hide {
                        font-size: 12px;
                    }
                    .webin h3,
                    .webin.noact h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .pgbonus {
        .slide_03 .sl_03 {
            margin-top: 78px;
            div h2 {
                margin-bottom: 10px;
            }
            div a {
                margin-top: 0;
            }
            div p {
                font-size: 14px;
            }
        }
    }

    .fly__calculator-panel {
        .right-wrap .calcbody div.head {
            margin-bottom: 10px;
            h2 {
                font-size: 18px;
            }
        }
    }
}

@media (max-height: 580px) {
    .fly__calculator-panel {
        .right {
            padding-bottom: 0;
            .right-wrap {
                padding-left: 0;
                padding-right: 0;
                .calcbody {
                    padding-left: 30px;
                    padding-right: 30px;
                    .head {
                        margin-bottom: 0;
                    }
                }
                .calcresult {
                    margin-top: 40px;
                    position: relative;
                }
            }
        }
    }
}
