//@media screen and (min-width: 401px) and (max-width: 1024px) {
@media screen and (max-width: 1600px) {
  .pg_payments{
    & .pg_payments_main{
      display: flex;
      flex-direction: row;

      & .page_left{
      }
      & .page_right{
        width:100%;
        & .page_right_head{}
        & .page_right_body{
          & .page_right_body_wrap{
            width:100%;
            margin:0 auto;
            float:left;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1210px) {
  .head{
    &__right{
      & .button{
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1146px) {
  .head{
    &__left_text{
      display:none;
    }
    &__logo{}
  }
  .pg_account{
    .paddingl_80 {
      padding-left: 40px;
    }
  }
  .adv{
    &_plitka_img{}
    &_120x600{
      width:100%;
      height:600px;
    }
    &_plitka_wrap_120x600{
      width:9%;
      height:600px;
      float:left;
      margin:10px;
    }
    &_row_120x600{
      width:100%;
      margin: 0 auto;
    }

    &_485x90{
      height:90px;
    }
    &_plitka_wrap_485x90{
      width:31%;
      height:90px;
      float:left;
      margin:10px;
    }
    &_row_485x90{
      width:100%;
      margin: 0 auto;
    }

    &_400x240{
      height:240px;
    }
    &_plitka_wrap_400x240{
      width:31%;
      height:240px;
      float:left;
      margin:10px;
    }
    &_row_400x240{
      width:100%;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 1024px) {
  .button{
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16{
    /*font-size:12px!important;*/
  }
  .copy-xs{
    display: block;
    margin: 0 6px;
  }
  .copy-md{
    display: none;
  }
  #modal{
    &_payment .modal-dialog .modal-content{
      width: 360px;
      height: 82%; //480px;
      overflow: auto;
      padding: 20px 0px;
    }
    &_registration .modal-dialog .modal-content{
      width: 360px;
      height: 82%;//700px;
      overflow: auto;
      padding: 20px 0px;
    }
  }
  .body_page .block.bl_blue .divtext input{
    width:99%;
  }
  .show_hover{
    display: block;
    & a{
      font-size: 10px!important;
      & span{
        font-size: 8px!important;
      }
    }
  }
  .pg_account{
    .paddingl_80 {
      padding-left: 10px;
    }
  }

  .tablediv01{
    background-color: #fff;
    & .tablediv01_tr_td_head{
      display: block;
    }
    & div{

    }
    &_head{
      display: none;
    }
  }
  .fly__profile{
    & .right{
      flex-direction: column;
      & .profile{
        &-menu{
          width:100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          background-color: #f5f5f5;
          padding:0px;
          padding-left: 20px;
        }
      }
    }
  }

  .pg_payments{
    & .pg_payments_main{
      display: flex;
      flex-direction: row;

      & .page_left{
        & .a_v1{
          font-size: 0;
        }
        & .item{
          display: none;
        }
      }
      & .page_right{
        width:100%;
        & .page_right_head{}
        & .page_right_body{
          & .page_right_body_wrap{
            width:100%;
            margin:0 auto;
            float:left;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .adv{
    &_plitka_img{}
    &_120x600{
      width:100%;
      height:200px;
    }
    &_plitka_wrap_120x600{
      width:42%;
      height:200px;
      float:left;
      margin:10px;
    }
    &_row_120x600{
      width:100%;
      margin: 0 auto;
    }

    &_485x90{
      height:90px;
    }
    &_plitka_wrap_485x90{
      width:42%;
      height:90px;
      float:left;
      margin:10px;
    }
    &_row_485x90{
      width:100%;
      margin: 0 auto;
    }

    &_400x240{
      height:200px;
    }
    &_plitka_wrap_400x240{
      width:42%;
      height:200px;
      float:left;
      margin:10px;
    }
    &_row_400x240{
      width:100%;
      margin: 0 auto;
    }
  }

  .pg_payments{
    & .pg_payments_main{
      display: flex;
      flex-direction: row;

      & .page_left{
            width: 160px;
        & .a_v1{
          font-size: 0;
        }
        & .item{
          display: none;
        }
        .paddingl_80{
          padding-left:0;
          text-align: center;
        }
      }
      & .page_right{
        width:100%;
        & .page_right_head{}
        & .page_right_body{
          & .page_right_body_wrap{
            width:100%;
            margin:0 auto;
            float:left;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .pg_account{
    &_left{
      &_head{
        display: flex;
        flex-direction: row;
        & .pgalh_r{
          text-align: right;
        }
      }
      &_body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & div{
          width:initial;
        }
      }
    }
    &_right{}
  }
}
@media screen and (max-width: 570px) {
  .fly__profile{
    & .right{
      flex-direction: column;
      width: 100%;
      & .profile{
        &-body{
          width:100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          & .profile-body-form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;;
            align-items: flex-start;
            height: 100%;
            padding-top: 40px;
            padding-left: 45px;
            width: 380px;
            & .row{
              width:100%;
              height:46px;
              & .col-xs-4{
                padding-top: 5px;
              }
              & .col-xs-8{
                &.edt{
                  color:#2675eb;
                  & img{
                    float:left;
                  }
                }
              }
            }
            & .in_profile_pass_p{
              box-shadow: 0px 0px 64px #dfdfdf;
              padding:10px;
              margin-left: 30px;
              & div{
                display: flex;
                flex-direction: row;
                & input{
                  margin:10px;
                }
                & .fi_input_sm{
                  font-size: 10px;
                  font-weight: bold;
                  color:#a8a8a8;
                }
                &.last_div{
                  margin-top: 40px;
                }
              }
            }
          }
          & .profile-body-foto-but{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
          }
        }
      }
    }
  }
  .head__fio{ display:none; }
  .pg_payments{
    & .pg_payments_main{
      flex-direction: column;
      & .page_left{
        width:100%;
        & .page_left_head{
          display: flex;
          justify-content: center;
        }
        & .page_left_menu{
          display: flex;
          margin-top: 0;
          & .margin_v18{
            margin: 0;
          }
          & div a.sel_card::before{
            top:8px;
          }
        }
      }
      .page_right{

      }
    }
  }
  .plitka_div .col.col2t.payments_td_name{width:initial;}
}
@media screen and (max-width: 400px) {
  .head{
    &__left_text{
      display:none;
    }
    &__logo{
    }
    &__right{
      & .button{
        display: none;
      }
    }
  }
  .button{
    /*padding: 2px 12px;
    margin: 0px 0px;*/
  }
  .fs_s16{
    /*font-size:12px!important;*/
  }
  .copy-xs{
    display: block;
    margin: 0 6px;
  }
  .copy-md{
    display: none;
  }
  #modal{
    &_payment .modal-dialog .modal-content{
      width: 90%;
      height: 82%; //480px;
      overflow: auto;
      padding: 20px 0px;
    }
    &_registration .modal-dialog .modal-content{
      width: 90%;
      height: 82%;//700px;
      overflow: auto;
      padding: 20px 0px;
    }
  }
  .fly__profile{
    & .right{
      flex-direction: column;
      width: 100%;
      & .profile{
        &-menu{
          //padding:0px;
          & div{
            & a{
              font-size: 10px;
              & img {
                margin:5px 0px;
                margin-right: 10px;
              }
            }
          }
        }
        &-body{
          & .profile-body-form{
            & .row{
              & .col-xs-4{
              }
              & .col-xs-8{
                &.edt{
                  & img{}
                }
                & input{
                  width: 83%;
                }
              }
            }
            & .in_profile_pass_p{
              z-index:100;
              margin-left: 0px;
              background-color: #fff;
              & div{
                & input{}
                & .fi_input_sm{}
                &.last_div{}
              }
            }
          }
          & .profile-body-foto-but{}
        }
      }
    }
  }
  .plitka_div .row:hover .col.col5t .hidep{
    margin-top:56px;
  }
  .footer__right--soc_vk{ margin:0;  }
  .footer__right--soc_ok{ margin:0 4px;  }
  .pg_account{
    &_left{
      &_body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & div{
          width:100%;
        }
      }
    }
    &_right{}
  }
}
