.fs_Pragmatica {
    font-family: 'Pragmatica';
    font-weight: 300 !important;
}
/* Сашины стили замена шрифта*/
.body_page .block .head__left {
    font-family: 'Pragmatica';
}
/* Сашины стили замена шрифта*/
.head__right.lk__first-head-btn {
    padding-top: 0;
}

.text_bl1 {
    font-weight: 600;
}
.fi_input {
    font-weight: 600;
}
.fs_wbold {
    font-weight: 600;
}
.alert-warning {
    font-weight: 600;
}
.lk_dashboard .alert.alert-warning.alert-dismissible {
    position: relative;
}
.lk_dashboard {
  .body_page .block.bl_blue {
    a {
      position: relative;
      padding-left: 13px;
    }
    .glyphicon-chevron-right {
        position: static;
      &:before {
          content: "";
          position: absolute;
          background-image: url(../img/lk-v1.png);
          width: 6px;
          height: 10px;
          top: 5px;
          left: 0;
      }
    }
  }
  .lk__adapt-email {
      position: relative;
      &:before {
          content: "";
          background-image: url(../img/arr_down_b.png);
          background-repeat: no-repeat;
          background-position: center;
          right: 1px;
          top: 50%;
          margin-top: -5px;
          width: 10px;
          height: 10px;
          position: absolute;
      }
  }
}
.tablediv_row.tablediv_row_hover{
  &:hover .show_hover {
    a {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        &:hover {
          color: #4c4d4f;
          .glyphicon-chevron-right:before {
              color: #555555;
          }
        }
    }
  }
}
.body_page .lk__first {
    /* padding: 35px 23px;*/
    /* padding: 35px 30px; конфликт*/
    .row.tablediv_row.tablediv_row_hover {
      .col-xs-3 {
        width: 23%;
      }
      .col-xs-5 {
        width: 43.666667%;
      }
    }
}
.fly__profile .right .profile-body .profile-body-foto-but img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.body_page .block.bl_blue .divtext input {
    padding-right: 10px;
}


.tablediv_row .tablediv_row_col .show_hover {
    display: block !important;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition:height 0.1s;
    height: 0;
    opacity: 0;
    overflow: hidden;
    a {
      font-weight: bold;
    }

}

.tablediv_row.tablediv_row_hover:hover {
  /* padding-right: 13px;*/
  .show_hover {
      display: block;
      height: 66px;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      opacity: 1;
  }
}

.hide_hover {
    display: block;
    height: 24px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
    font-family: 'PT Serif', serif;
}

.tablediv_row.tablediv_row_hover:hover .hide_hover {
    height: 0;
    display: block;
    overflow: hidden;
    -webkit-transition: 0.3s, opacity 0s;
    -moz-transition: 0.3s, opacity 0s;
    -o-transition: 0.3s, opacity 0s;
    transition: 0.3s, opacity 0s;
    text-align: right;
    opacity: 0;
}
.tablediv_row.tablediv_row_hover .text_align_right.hvcat {
    padding-left: 0;
}

.body_page {
  .fi_radio_wrap {
      /* font-weight: bold;*/
      font-weight: 600 ;
  }
  .block.img_01 {
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600 !important;
      font-size: 22px;
    }
  }
}

.body_page .block_curs {
    padding: 33px 23px 51px 23px;
  .fs_Pragmatica {
      margin-bottom: 32px;
      margin-top: 0;
  }
  .marginb_20 {
      margin-bottom: 8px;
  }
}

.col-xs-12.fs_s13.fs_wbold.text_align_right {
    height: auto !important;
}

.row .margint_40 {
    margin-top: 30px;
    .margint_40 {
        margin-top: 17px;
    }
}


.body_page {
  /* &>.row {*/
  /*   margin: 0;*/
  /* }*/
  .lk__video {
    padding: 33px 30px 35px 30px;
    p {
        margin-bottom: 22px;
    }
    .fs_Pragmatica {
        margin-top: 0;
        margin-bottom: 24px;
    }
    .bl_video img {
        width: auto;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        height: 210px;
        margin: 0 auto;
    }
    .bl_video .bl_video_text_panel {
      height: auto;
      padding: 0px 0px 15px 20px;
    }
    h4 {
        margin-bottom: 13px;
        margin-top: 46px;
    }
  }
  /* 3 колонка*/
  .lk__3r {
    .img_01 {
      /* .fs_Pragmatica {*/
      /*     margin-top: 44px;*/
      /*     margin-bottom: 11px;*/
      /* }*/
      .fs_Pragmatica {
          margin-top: 30px;
          margin-bottom: 12px;
      }
      p {
          line-height: 1.6;
          margin-bottom: 39px;
      }
    }
    .img_02 {
      height: auto;
      .fs_Pragmatica {
          margin-top: 29px;
          margin-bottom: 10px;
      }
      p {
          line-height: 1.5;
          margin-bottom: 60px;
      }
    }
  }
  /* блоки*/
  .lk__block {
      padding: 0 10px;
  }
  &.lk__body-page {
      width: 1140px;
  }
  .lk__h-block {
      margin: 10px -5px !important;
      position: relative;
  }
  .button_round {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        background-color: #2675eb;
        border-color: #2675eb;
        color: #fff;
    }
  }
  .lk__first-btn {
      padding: 2px 9px 4px 11px;
  }
  .alert .close {
    padding: 3px 14px 5px 14px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .alert-dismissable .close, .alert-dismissible .close {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -15px;
    /* width: 100px;*/
    height: 30px;
    padding: 0;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -moz-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    /* padding-bottom: 2px;*/
    line-height: 30px;
    /* display: inline-block;*/
    line-height: 30px;
    text-transform: uppercase;
    float: none !important;
    padding: 0 20px 0 18px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        -webkit-box-shadow: inset 0 0 8px -1px #1bbbb1;
        -moz-box-shadow: inset 0 0 8px -1px #1bbbb1;
        box-shadow: inset 0 0 8px -1px #1bbbb1;
    }
  }
  .block.bl_blue .divtext {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }
}


.alert .close {
  span {
    top: 0;
    line-height: 30px;
    display: block;
    float: none !important;

  }
  .lk__close-top {
      font-size: 10px;
      margin: 0;
      padding: 0;
  }
}
.lk_dashboard {
  .text-right.head__right {
      /* height: 70px;*/
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      a {
        display: block;
      }
      .button {
          padding: 10px 30px;
      }
  }
  .head__avatar {
    display: block;
    height: auto;
    img {
        width: 42px;
        height: 42px;
        top: auto;
        position: relative;
    }
  }
  .alert.alert-warning.alert-dismissible {
      margin-bottom: 5px;
      margin-top: 2px;
  }
}

.head__left_text {
    padding-top: 0;
    line-height: 70px;
}

.divtext__copy-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 !important;
}
.lk_dashboard .alert.alert-warning.alert-dismissible {
    padding-left: 30px;
}

.block.img_01.lk__adpt-slider {
    padding: 0;
}
.lk__adpt-slider-box {
    padding: 30px;
}
.lk__adpt-slider-pag {
  &.swiper-pagination-bullets {
    /* bottom: 10px;*/
    /* left: 0;*/
    width: auto;
    bottom: 35px;
    left: 28px;
  }
  .swiper-pagination-bullet {
    /* background: #2675e9;*/
    background-color: rgba(153, 194, 255, 0.74);
    opacity: 1;
        margin: 0 4px !important;
    &-active {
        opacity: 1;
        background: #007aff;
    }
  }
}


.lk_dashboard  {
  .body_page {
      .block .lk__first-head-h {
        letter-spacing: 1px;
      }
      .lk__dash {
        &-h1 {
          letter-spacing: 1px;
        }
        &-h2 {
          letter-spacing: 1px;
        }
        &-h3 {
          letter-spacing: 1px;
        }
      }
  }
}

  .body_page {
    .lk__3r {
      .img_02 {
        .fs_Pragmatica {
            margin-top: 31px;
            margin-bottom: 12px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600 !important;
        }
        p {
            margin-bottom: 67px;
        }
      }
    }
  }
  .lk_payments {
    .footer {
        z-index: 90;
    }
    .pg_payments {
      .pg_payments_main {
        .page_left {
            width: 420px;
            width: 26.3%;
            min-width: 420px;
            max-width: 420px;
            padding-right: 11px;
            padding-left: 15px;
            .row {
              margin-left: 0;
              margin-right: 0;
            }
            .adpt__paym-left-h {
                width: auto;
                padding: 0;
                float: none;
                p {
                  font-family: "Pragmatica";
                  font-weight: 300;
                  font-size: 20px;
                  margin-bottom: 0;
                }
            }
            .adpt__paym-left-btn {
                width: auto;
                padding: 0;
                float: none;
                width: 50%; /* костыль*/
                .button_round {
                    /* padding: 2px 17px 2px 17px;*/
                    padding: 2px 14px 2px 14px;
                    font-weight: 600;
                    margin-right: 4px;
                }
                a {
                  float: right; /* костыль*/
                }
            }
        }
        .page_right {
          padding-left: 0;
          padding-right: 51px;
          width: 73.7%;
          .page_right_head {
              margin-bottom: 21px;
              .button_round {
                  position: relative;
                  padding-left: 30px;
                  padding-right: 11px;
                  letter-spacing: 0.2px;
                  padding-top: 1px;
                  padding-bottom: 2px;
              }
              .ch_tile {
                &::before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 14px;
                }
              }
              .ch_table {
                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 14px;
                }
              }
          }
          .page_right_body {
              margin-bottom: 0 !important;
          }
            .page_right_body .page_right_body_wrap {
              width: 100%;
              margin: 0 auto;
              float: none;
              &.aa__pay-table {
                  padding-left: 0;
                  padding-right: 0;
              }
              .plitka_div {
                  margin-right: -31px;
                  .row {
                    margin: 10px;
                  }
              }
            }
            .adpt__paym-r-v1 {
                font: inherit;
                font-style: inherit;
                -webkit-font-variant-ligatures: inherit;
                -moz-font-variant-ligatures: inherit;
                font-variant-ligatures: inherit;
                font-variant-caps: inherit;
                font-variant-numeric: inherit;
                font-weight: inherit;
                font-stretch: inherit;
                font-size: inherit;
                line-height: inherit;
                font-family: inherit;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    background-image: url(../img/lk-v1-paym.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 10px;
                    height: 6px;
                    top: 4px;
                    right: -17px;
                }
            }
        }
      }
    }
    .table_div {
      .row_head {
        .col {
            text-transform: uppercase;
            position: relative;
            letter-spacing: 1px;
            height: auto;
            min-height: 0;
        }
        .col.colw1 {
            width: 15%;
            padding-bottom: 17px;
        }
        .col.colw2 {
            width: 34%;
            padding-bottom: 17px;
        }
        .col.colw3 {
            width: 11%;
            padding: 20px 3px 20px 46px;
            padding-bottom: 17px;
        }
        .col.colw4 {
            width: 24%;
            width: 19%;
            padding: 20px 5px 20px 32px;
            padding-bottom: 17px;
        }
        .col.colw5 {
            width: 16%;
            width: 21%;
            text-align: right;
            padding: 20px 41px 20px 5px;
            padding-bottom: 17px;
        }
      }
      .col {
          height: auto;
          min-height: 0;
      }
      .row {
        .button_round.wal {
            border-radius: 100px;
            letter-spacing: 0.2px;
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            // padding: 3px 17px 5px 17px;
            padding: 3px 20px 5px 34px;
            &::before {
                // content: "";
                // position: absolute;
                // background-position: -76px -97px;
                // width: 6px;
                // height: 10px;
                // background-image: url(../img/spritesheet1.png);
                // background-repeat: no-repeat;
                // display: block;
                left: 18px;
                top: 8px;
            }
        }
        transition: 0.2s;
        &:hover {
          .col.colw5 {
              padding: 34px 30px 34px 20px;
          }
        }
      }
      .col.col1t {
        width: 15%;
        // padding: 20px 4px 20px 20px;
        // padding: 20px 17px 20px 20px;
        padding: 0px 17px 0px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          margin: 0;
          float: right;
          // display: flex;
          // justify-content: flex-end;
          // align-items: center;
        }
      }
      .col.col2t {
          width: 34%;
          color: #2675eb;
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: 600;
          // padding: 20px 20px 20px 35px;
          padding: 20px 20px 20px 19px;
          padding-top: 38px;
          padding-bottom: 38px;
      }
      .col.col3t {
          width: 11%;
          font-weight: 400;
          // text-align: center;
          padding: 20px 3px 20px 47px;
          padding-top: 38px;
          padding-bottom: 38px;
      }
      .col.col4t {
          width: 24%;
          font-weight: 400;
          padding: 20px 5px 20px 32px;
          word-spacing: 2px;
          padding-top: 38px;
          padding-bottom: 38px;
      }
      .col.col5t {
          width: 16%;
          font-weight: 400;
          text-align: right;
          padding: 20px 24px 20px 20px;
          padding-top: 38px;
          padding-bottom: 38px;
      }
    }
    .adpt {
      &__pay-left-link {
            /* padding-left: 80px;*/
                padding-left: 65px;
                margin-top: 35px;
                margin-bottom: 62px;
        &-1 {
            padding: 0;
            margin: 0;
            margin-bottom: 28px;
            a {
              font-weight: 600;
              padding-left: 53px;
              letter-spacing: 0.4px;
            }
            .sel_platsys::before {
              top: -4px;
              width: 30px;
              height: 30px;
            }
        }
        &-2 {
            padding: 0;
            margin: 0;
            margin-bottom: 28px;
            a {
              font-weight: 600;
              padding-left: 53px;
              letter-spacing: 0.4px;
            }
            .sel_card::before {
                top: 2px;
                width: 32px;
                height: 22px;
            }
        }
        &-3 {
            padding: 0;
            margin: 0;
            a {
              font-weight: 600;
              padding-left: 53px;
              letter-spacing: 0.4px;
            }
            .sel_banks::before {
                width: 30px;
                height: 29px;
                top: -4px;
                left: 1px;
            }
        }
      }
      &__paym-left-line {
          padding-left: 65px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 31px;
          &:before {
            display: none;
          }
      }
      &__paym-left-round {
            margin-left: 34px;
            -webkit-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
            -moz-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
            box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
        .epana_panel {
              margin-bottom: 19px;
        }
        .epana_panel div {
            border: 2px solid #eceff3;
            font-size: 22px;
            font-weight: 600;
            padding-top: 29px;
            span {
                font-size: 10px;
                font-weight: bold;
                display: block;
                padding-top: 10px;
                text-align: center;
            }
            br {
              display: none;
            }
        }
        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 0.4px;
            margin-left: 19px;
            margin-top: 22px;
            margin-bottom: 21px;
        }
      }
      &__paym-left-watch {
          -webkit-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
          -moz-box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
          box-shadow: 0px 0px 12px rgba(128, 128, 128, 0.2);
          margin-left: 34px;
          min-height: 0;
          height: 240px;
          h3 {
              font-size: 16px;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: 0.4px;
              margin-left: 19px;
              margin-top: 22px;
          }
      }
    }
  }
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/
/* media*/


@media (max-width: 1400px) {
  .lk_payments {
    .table_div {
      .row_head {
        .col.colw2 {
            width: 24%;
            // width: 19%;
        }
        .col.colw3 {
            width: 16%;
        }
        .col.colw4 {
            width: 29%;
        }
        .col.colw5 {
            // width: 21%;
            width: 16%;
        }
      }
      .col.col2t {
          width: 24%;
      }
      .col.col3t {
        width: 16%;
      }
      .col.col4t {
          width: 34%;
      }
      .col.col5t {
        width: 11%;
      }
      .row:hover {
        .col.colw3 {
            padding: 38px 3px 38px 15px;
        }
        .col.col4t {
            width: 24%;
        }
        // .col.colw5 {
        //     padding: 20px 3px 20px 47px;
        // }
      }
    }
  }
}

@media (max-width: 1300px) {
  .lk_payments {
    .table_div {
      .row:hover {
        .col.colw5 {
            padding-bottom: 10px;
            .hidep {
                margin-top: 10px;
            }
        }
      }
    }
    .adpt {
      &__paym-left-round {
        // margin-left: 34px;
        margin-left: 0;
      }
      &__pay-left-link {
          padding-left: 31px;
      }
      &__paym-left-line {
          padding-left: 31px;
      }
    }
  }
}
@media (max-width: 1146px) {
  .body_page {
    &.lk__body-page {
      width: 100%;
    }
    .lk__first {
        padding: 20px;
        .row.tablediv_row.tablediv_row_hover .col-xs-3 {
            width: 21%;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
        }
        .row.tablediv_row.tablediv_row_hover .col-xs-5 {
            width: 44.666667%;
        }
    }
    .lk__video .bl_video img {
        width: 100%;
        height: 100%;
    }
    .block {
        padding: 20px;
    }
    .block.bl_blue {
        .divtext .copy {
          font-size: 12px;
          padding: 0;
          line-height: 22px;
        }
        .divtext input {
          width: 164px;
          padding-right: 5px;
        }
    }
    .fi_radio_wrap {
        font-size: 15px;
    }
  }

  .tablediv_row.tablediv_row_hover:hover .show_hover a {
      font-size: 12px;
  }
  .lk_dashboard .alert.alert-warning.alert-dismissible {
      padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  .body_page {
    .block.bl_blue .divtext {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 11px;
        input {
          width: 80%;
        }
    }
    .lk__first {
      .row.tablediv_row.tablediv_row_hover  {
        /* .col-xs-5 {*/
        /*   width: 41.66666667%;*/
        /* }*/
        /* .col-xs-3 {*/
        /*   width: 25%;*/
        /* }*/
      }
    }
  }
  .lk_dashboard  {
    .body_page {
      .lk__adapt-radio {
        .col-mini.fi_radio_wrap {
            width: auto;
            margin-left: 11px;
        }
        .fi_radio {
            margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .body_page {
    .lk__first {
      .row.tablediv_row.tablediv_row_hover  {
        .col-xs-5 {
          width: 41.66666667%;
        }
        .col-xs-3 {
          width: 25%;
        }
      }
      .tablediv_head::after {
          width: 97%;
      }
      .tablediv_row::after {
          width: 97%;
      }
    }
    .fi_radio_wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 48px;
    }
    .fi_radio {
        margin-right: 12px;
    }
    .block_curs {
       .col-xs-6 {
             width: 33.33333333%;
       }
       .col-xs-3 {
             width: 33.33333333%;
             text-align: center;
       }
    }
    .block.img_01 {
        -webkit-background-size: 24% 24%;
        -moz-background-size: 24%;
        -o-background-size: 24%;
        background-size: 24%;
    }
  }
  .tablediv_head_col-2 {
      width: 25%;
      text-align: center;
  }
  .tablediv_head_col-3 {
      width: 41.66666667%;
  }
  .show_hover {
      width: 110px;
      float: right;
  }
  .body_page .alert-dismissable .close, .body_page .alert-dismissible .close {
      right: 20px;
  }
  .bl_video {
      margin: 0 auto;
      width: 50%;
  }


}


@media (max-width: 880px) {

}

@media (max-width: 767px) {}
@media (max-width: 640px) {
  .asdgsdagsdg {
    position: relative;
  }
}
@media (max-width: 570px) {
  .body_page {
    .alert-dismissible {
      .close {
          right: 20px;
      }
      a {
        font-weight: 600 !important;
        display: block;
        margin-top: 3px;
      }
    }
  }
  .lk_dashboard {
    .body_page .fi_radio_wrap {
        padding-left: 0;
    }
    .bl_video {
        margin: 0 auto;
        width: 70%;
        .bl_video_text_panel .data {
            font-size: 13px;
        }
    }
  }
}

@media (max-width: 425px) {
  .body_page {
    .alert-dismissible {
      a {
          display: inline-block;
      }
      .close {
          right: 20px;
          margin: 0;
          padding: 0;
          /* top: 20px;*/
          margin-top: -15px;
          width: 30px;
          span {
              top: auto;
              margin: 0;
          }
          .lk__close-top {
              margin: 0;
              padding: 0;
              display: none;
          }
      }
    }
  }
  .lk_dashboard {
    .bl_video {
        margin: 0 auto;
        width: 80%;
    }
  }
  .body_page {
    .lk__block {
      .block {
        .row.marginb_20:last-child {
            margin-bottom: 7px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .lk_dashboard {
    .bl_video {
        margin: 0 auto;
        width: 90%;
    }
  }
  .body_page {
    .block.bl_blue .divtext {
        padding-left: 10px;
    }
  }
}
@media (max-width: 360px) {
  .body_page {
    .alert-dismissible {
      a {
          font-size: 14px;
      }
    }
    .fi_radio_wrap {
        font-size: 14px;
    }
  }
}
@media (max-width: 320px) {
  .body_page {
    .col-xs-5.col-mini.fi_radio_wrap {
        width: 40%;
    }
    .lk__block {
      .block {
        .row.marginb_20:last-child {
            margin-bottom: 7px;
        }
      }
    }
    .lk__video {
      .bl_video {
        .bl_video_text_panel {
            padding: 0px 0px 10px 14px;
        }
      }
    }
  }
  .lk_dashboard .bl_video {
      width: 100%;
  }
  .tablediv_head_col.tablediv_head_col {
    &-1 {
        padding-right: 0;
    }
    &-2 {
        padding-left: 0;
        padding-right: 0;
    }
    &-3 {
        padding-left: 0;
    }
  }

  .row.marginb_20.marginb_40.lk__adapt-radio {
      margin: 0;
      margin-bottom: 25px;
      .col-xs-4.fs_s20.fs_Pragmatica.col-mini {
          padding: 0 !important;
          width: 100%;
          margin-bottom: 15px;
      }
      .col-xs-3.col-mini.fi_radio_wrap {
          width: auto;
          margin-right: 60px;
          margin-left: 10px;
      }
      .col-xs-5.col-mini.fi_radio_wrap {
          width: auto;
      }
  }
}
