body, html{
  height: 100%;
  width:100%;
  margin:0px;
}
br{
  font-size: inherit;
}

.button{
  padding: 12px 40px;
  font-weight: bold;
  margin: 10px 0px;
}
.parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: #b1c8eb;
  z-index: 5;
}
.block {
  background: #fff;
  border-radius: 5px;
  padding:20px;
  position: relative;
  & .btn_close{
    text-align: right;
  }
  & h2{
    margin-top: 15px;
    margin-bottom: 45px;
    font-size:24px;
    font-weight: normal;
  }
  & input{
    margin: 0 auto;
    width: 70%;
    //border-bottom: 2px solid #e5e5e5;
  }
  & p{
    cursor: default;
    & img{
      margin: 10px auto;
    }
    & span{
      font-size: inherit;
      color:inherit;
    }
    & a{
      font-size: 14px;
      color:#2675eb;
      text-decoration: none;
      &:hover{
        color:#e94f86;
        text-decoration: none;
      }
    }
  }
  &_footer{
    border-top: 1px solid #e5e5e5;
    margin: 20px -20px;
    padding: 20px 10px;
    & p{
      color:#b3b3b3;
      font-size: 13px;
      cursor: default;
    }
  }
  &.step_1{
    width: 306px;
    height: 358px;
  }
  &.step_2{
    width: 306px;
    height: 440px;
  }
  &.step_3{
    width: 440px;
    height: 700px;
    & input{
      width:80%;
      font-size:13px;
      &.reg_otc{}
      &.reg_imy{}
    }
    & .fi_select{
      width: 80%;
      margin: 0 auto;
      border-bottom: 2px solid #e5e5e5;
    }
    & .fi_input_span{
      right: 48px!important;
      cursor: pointer;
    }
    & .pass1{
      padding-bottom: 10px;
    }
    #pwindicator {
      WIDTH: 80%;
      margin: 0 auto;
      text-align: left;
    }
    & .inp_wrap{
      position: relative;
      & .span{
        position: absolute;
        left:0px; top:0px;
      }
      &_2{
        width: 80%;
        margin: 0 auto;
        display: flex;
        & .left{
          width: 40%;
          margin-right: 10%;
          float: left;
          & input{ width: 100%; }
          & .input_mess{ width:100%;}
        }
        & .right{
          width: 40%;
          float: left;
          margin-left: 10%;
          & input{ width: 100%; }
          & .input_mess{ width:100%;}
        }
      }
    }
    & .wrap_p{
      width:80%;
      text-align: left;
      margin: 0 auto;
    }
    & .fi_checkbox .checkbox{ width:22px;}
    & .checkbox, .radio{ margin-top: 0px;}
    & .pass_check_status{
      font-size: 10px;
      color: #3b5998;
      width: 80%;
      margin: 0 auto;
      text-align: left;
      &.err{
        color: red;
      }
    }
    & .input_mess{
      font-size: 10px;
      color: #3b5998;
      width: 80%;
      margin: 0 auto;
      text-align: left;
      &.err{
        color: red;
      }
    }
  }
  &.popup_1{
    width: 510px;
    height: 470px;
    & img{
      margin: 0 auto;
      margin-top:40px;
      margin-bottom:30px;
    }
  }
  &.popup_2{
    width: 368px;
    height: 521px;
    & img{
      margin: 0 auto;
      margin-top:40px;
      margin-bottom:30px;
    }
  }
}

.vk {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  color: #45668e;
  cursor:pointer;
  padding-left: 10px;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: 1px;
    background-image: url("../img/lk/vk_b.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover{
      color:#e94f86;
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: -8px;
        top: 1px;
        background-image: url("../img/lk/vk_p.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
}
.fb {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  color: #45668e;
  cursor:pointer;
  padding-left: 10px;
  margin-right: 10px;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: 1px;
    background-image: url("../img/lk/fb_b.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover{
      color:#e94f86;
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: -8px;
        top: 1px;
        background-image: url("../img/lk/fb_p.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
}

.hide{
  opacity: 0;
  z-index: 0;
  position: absolute;
  z-index: 1;
}

.sprite{
  background-repeat: no-repeat;
  background-position: center;
  &_close{
    background-image: url('../img/lk/x_g.png');
    width: 16px; height: 16px;
    display: inline-block;
  }
}
